<div class="inner-container">
	<div class="row-fluid">
		<div class="span12">
			<div id="about-hero">
				<hgroup>
					<h3>Informing our audience.</h3>
					<h3>Exploring issues in the region and the world.</h3>
					<h3>Connecting our diverse communities.</h3>
					<a href="/about/" class="learn-more">Learn more about KPCC </a>
				</hgroup>
			</div>
		</div>
		
		<div class="span6">
			<div class="section first">
				<h6 class="heading-about">About KPCC</h6>
				<nav>
					<ul>
					    <li><a href="/about/mission/">Mission Statement</a></li>
					    <li><a href="/about/directions/">Map &amp; Directions</a></li>
							<li><a href="/jobs/">Careers</a></li> 
					    <li><a href="/about/press/">Press Releases</a></li>
							<li><a href="/about/public/">FCC Public Documents</a></li>
					</ul>
				</nav>
			</div>
		</div>
		
		<div class="span6">
			<div class="section">
				<h6 class="heading-people">People</h6>
				<nav>
					<ul>
					    <li><a href="/about/people/staff/">Staff Directory</a></li>
					    <li><a href="/about/people/leadership/">Leadership</a></li>
					    <li><a href="/about/people/board/">Board of Trustees</a></li> 
					</ul>
				</nav>
				<h6 class="heading-connect">Connect with us</h6>
				<nav>
					<ul>
					    <li><a href="/network/">Become a Source</a></li>
					    <li><a href="/contact/#form">News Tips</a></li>
					</ul>
				</nav>
			</div> <!-- section -->
		</div> <!-- span -->
	</div> <!-- row fluid -->
</div> <!-- inner-container -->