<div class="inner-container">
	<div class="row-fluid">
		<div class="span6">
			<div class="section first">
				<h6>Categories</h6>
				<nav>
					<div class="row-fluid">
						<div class="span12">
							<ul>
							    <li><a href="/culture/">Culture</a></li>
							    <li><a href="/film/">Film</a></li>
							    <li><a href="/books/">Books</a></li>	
							</ul>
						</div>
						
						<div class="span12">
							<ul>
							    <li><a href="/arts/">Arts</a></li>
							    <li><a href="/music/">Music</a></li>
							    <li><a href="/food/">Food</a></li>
							</ul>
						</div>
					</div> <!-- row fluid -->
					<ul class="content-types pull-down">
					    <li><a href="/video/" class="video-icon">Videos</a></li>
					    <li><a href="/blogs/">Blogs</a></li>
						<li><a href="/archive/<%= Time.now.yesterday.strftime("%Y/%m/%d") %>/?section=news">Archive</a></li>
					</ul>
				</nav>
			</div> <!-- section -->
		</div> <!-- span -->
	
		<div class="span8">
			<div class="section">
			<h6>Latest Stories</h6>
				<% content_cache("mega_arts_latest") do %>
					<% register_content("contentbase:new") %>
					<%= render "shared/header/featured", content: get_latest_arts.first(2) %>
				<% end %>
			</div>
		</div>
	
		<div class="span10">
			<div class="section">
				<h6>From Our Blogs</h6>			
				<% content_cache("mega_arts_blogs") do %>
					<% register_content("blogs/entry:new") %>
					<%= render "shared/header/from_our_blogs", content: @g_latest_blogs_arts.limit(3) %>
				<% end %>
			</div> <!-- section -->
		</div> <!-- span -->
	</div> <!-- row fluid -->
</div> <!-- inner-container -->