<div class="inner-container">
	<div class="row-fluid">
		<div class="span3">
			<div class="section">
				<nav>
					<h6>Categories</h6>
					<div class="row-fluid">
						<ul class="span6">
						    <li><a href="/culture/">Culture</a></li>
						    <li><a href="/film/">Film</a></li>
						    <li><a href="/books/">Books</a></li>	
						</ul>
						<ul class="span6">
						    <li><a href="/arts/">Arts</a></li>
						    <li><a href="/music/">Music</a></li>
						    <li><a href="/food/">Food</a></li>	
						</ul>
					</div> <!-- row fluid -->
					<ul class="content-types">
					    <li class="videos"><a href="/video/">Videos</a></li>
					    <li><a href="/blogs/">Blogs</a></li>
					</ul>
				</nav>
			</div> <!-- section -->
		</div> <!-- span -->
	
		<div class="span4">
			<div class="section">
			<h6>Latest Stories</h6>
				<% content_cache("mega_arts_latest") do %>
					<% register_content("contentbase:new") %>
					<%= render "shared/header/featured", content: get_latest_arts.first(2) %>
				<% end %>
			</div>
		</div>
	
		<div class="span5">
			<div class="section last">
				<h6>From Our Blogs</h6>			
				<% content_cache("mega_arts_blogs") do %>
					<% register_content("blogs/entry:new") %>
					<%= render "shared/header/from_our_blogs", content: @g_latest_blogs_arts.limit(3) %>
				<% end %>
			</div> <!-- section -->
		</div> <!-- span -->
	</div> <!-- row fluid -->
</div> <!-- inner-container -->