<div class="row">
	<div class="categories span3">
		<div class="inner-container clearfix">
		<h6>Categories</h6>
		<ul>
		    <li><a href="/arts/culture/">LA Culture</a></li>
		    <li><a href="/arts/film/">Film</a></li>
		    <li><a href="/arts/culture/">Living</a></li>	
		</ul>
		<ul class="right">
		    <li><a href="/arts/arts/">Arts</a></li>
		    <li><a href="/arts/music/">Music</a></li>	
		</ul>
		<ul class="content-types">
		    <!--
		    <li class="videos"><a href="/videos/">Videos</a></li>	
		    -->
		    <li><a href="/blogs/">Blogs</a></li>
		</ul>
		</div>
	</div>
	<div class="featured span4">
		<div class="inner-container clearfix">
		<h6>Latest Stories</h6>
		
		<% content_cache("mega_arts_latest") do %>
			<% register_content("contentbase:new") %>
			<ul>
			<% for c in get_latest_arts[0..1] do %>
				<li>
					<a href="<%= c.link_path %>">
					<%= render_asset(c,"thumb") %>
					<p><%= c.headline %></p>
					</a>
				</li>
			<% end %>
			</ul>
		<% end %>
		
		</div>
	</div>
	<div class="blogs span5">
		<div class="inner-container clearfix">
			<h6>From Our Blogs</h6>			
			<ul>
	            <li>
	                <p class="entry-title"><a href="#">Google+ goes corporate, launching branded pages - including the Muppets <span class="blog-name">Without A Net</span></a></p>
	            </li>
	            <li>
	                <p class="entry-title"><a href="#">Remembering rapper Heavy D, dead at 44 <span class="blog-name">Without A Net</span></a></p>
	            </li>
	            <li>
	                <p class="entry-title"><a href="#">Van Dyke Parks &amp; Inara George at the Getty: Anything but Standard Time <span class="blog-name">Off-Ramp</span></a></p>
	            </li>
	            <li>
	                <p class="entry-title"><a href="#">'Warrior' screening with Nick Nolte <span class="blog-name">Without A Net</span></a></p>
	            </li>
	    	</ul>
		</div>
	</div>
</div>