<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title><%= @PAGE_TITLE.present? ? @PAGE_TITLE + " | 89.3 KPCC" : "89.3 KPCC - Southern California Public Radio" %></title>
  <meta id="meta-viewport" name="viewport" content="width=device-width, minimum-scale=1">
  <meta name="apple-itunes-app" content="app-id=293825085"/>
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />
  <%= render "shared/header/header_js" %>
  <%= render "shared/header/opengraph" %>
  <%= csrf_meta_tags %>
</head>
