<ul class="cbase">
	<% for e in content do %>
		<% register_content(e) %>
		<li>
			<h4><%= link_to e.headline, e.link_path, :data => {'ga-category' => 'MegaMenu', 'ga-action' => 'Blog Post', 'ga-label' => 'Content'} %></h4>
			<span class="blog-title"><%= link_to e.blog.name, blog_path(e.blog.slug) %></span>
			<%= smart_date_js e, "data-window" => "8h" %>
		</li>
	<% end %>
</ul>