<div class="row-fluid">
	<div class="kpcc-programs span9">
		<div class="inner-container clearfix">
		<h6>KPCC Programs</h6>
		<ul class="first">
		    <li class="tmbs">
		        <a href="/programs/madeleine-brand/">
		        	<h4>The Madeleine Brand Show</h4>
		        	<p>Join Madeleine Brand for a conversational and witty look at the cultural issues people are buzzing about.</p>
				</a>
		    </li>
		    <li class="airtalk">
				<a href="/programs/airtalk/">
		        	<h4>AirTalk</h4>
		        	<p>Join host Larry Mantle weekdays for lively and in-depth discussions of city news, politics, the arts, and more.</p>
				</a>
		    </li>
		</ul>
		<ul>
		    <li class="patt">
		        <a href="/programs/patt-morrison/">
		        	<h4>Patt Morrison</h4>
		        	<p>Innovative discussions of local politics and culture, as well as global news as it affects Southern California.</p>
				</a>
		    </li>
		    <li class="offramp">
				<a href="/programs/offramp/">
		        	<h4>Off-Ramp</h4>
		        	<p>A lively weekly look at Southern California through the eyes and ears of radio veteran John Rabe.</p>
				</a>
		    </li>
		</ul>
		</div>
	</div>
	<div class="all-programs span3">
		<div class="inner-container clearfix">
		<h6>All Programs</h6>
		<ul>
		    <li><a href="/programs/">Programs A-Z</a></li>
		    <li><a href="/schedule/">Program Schedule</a></li>
			<li><a href="javascript:void(0)" onclick="open_popup('http://scpr.org/listen_live/');" id="listen-live">Listen Live</a></li>	
		    <li><a href="/podcasts/">Podcasts</a></li>	
		</ul>
		</div>
	</div>
</div>