<div class="inner-container">
	<div class="row-fluid">
		<div class="span6 program">
			<div class="section first">
				<a href="/programs/cohen-martinez/" class="cohen-martinez track-event" data-ga-category="MegaMenu" data-ga-action="Programs" data-ga-label="Cohen Martinez">
		        	<h4>Alex Cohen &amp; A Martinez</h4>
		        	<p>Join Alex Cohen and A Mart&iacute;nez for a conversational and witty look at the issues people are buzzing about.</p>
				</a>
			</div>
		</div>
		<div class="span6 program">
			<div class="section">
				<a href="/programs/airtalk/" class="airtalk track-event" data-ga-category="MegaMenu" data-ga-action="Programs" data-ga-label="AirTalk">
			       	<h4>AirTalk</h4>
			        <p>Join host Larry Mantle weekdays for lively and in-depth discussions of city news, politics, the arts, and more.</p>
				</a>
			</div>
		</div>
		<div class="span6 program">
			<div class="section">
				<a href="/programs/offramp/" class="offramp track-event" data-ga-category="MegaMenu" data-ga-action="Programs" data-ga-label="Off-Ramp">
		        	<h4>Off-Ramp</h4>
		        	<p>A lively weekly look at Southern California through the eyes and ears of radio veteran John Rabe.</p>
				</a>
			</div>
		</div>
		<div class="span6">
			<div class="section">
				<nav>
				<h6>All Programs</h6>
					<ul>
					    <li><a href="/programs/" class="track-event" data-ga-category="MegaMenu" data-ga-action="Programs" data-ga-label="Programs A-Z">Programs A-Z</a></li>
					    <li><a href="/schedule/" class="track-event" data-ga-category="MegaMenu" data-ga-action="Programs" data-ga-label="Programs Schedule">Program Schedule</a></li>
						<li><a href="javascript:void(0)" onclick="open_popup('http://scpr.org/listen_live/');" id="listen-live" class="track-event" data-ga-category="MegaMenu" data-ga-action="Programs" data-ga-label="Listen Live">Listen Live</a></li>	
					    <li><a href="/podcasts/" class="track-event" data-ga-category="MegaMenu" data-ga-action="Programs" data-ga-label="Podcasts">Podcasts</a></li>
						<li><a href="/archive/<%= Time.now.yesterday.strftime("%Y/%m/%d") %>/?section=programs" class="track-event" data-ga-category="MegaMenu" data-ga-action="Programs" data-ga-label="Archive">Archive</a></li>
					</ul>
				</nav>
			</div> <!-- section -->
		</div> <!-- span -->
	</div> <!-- row fluid -->
</div> <!-- inner container -->