<div class="inner-container">
	<div class="row-fluid">
		<div class="span6 program">
			<div class="section first">
				<a href="/programs/cohen-martinez/" class="cohen-martinez">
		        	<h4>Alex Cohen &amp; A Mart&iacute;nez</h4>
		        	<p>Join Alex Cohen and A Mart&iacute;nez for a conversational and witty look at the cultural issues people are buzzing about.</p>
				</a>
			</div>
		</div>
		<div class="span6 program">
			<div class="section">
				<a href="/programs/airtalk/" class="airtalk">
			       	<h4>AirTalk</h4>
			        <p>Join host Larry Mantle weekdays for lively and in-depth discussions of city news, politics, the arts, and more.</p>
				</a>
			</div>
		</div>
		<div class="span6 program">
			<div class="section">
				<a href="/programs/offramp/" class="offramp">
		        	<h4>Off-Ramp</h4>
		        	<p>A lively weekly look at Southern California through the eyes and ears of radio veteran John Rabe.</p>
				</a>
			</div>
		</div>
		<div class="span6">
			<div class="section">
				<nav>
				<h6>All Programs</h6>
					<ul>
					    <li><a href="/programs/">Programs A-Z</a></li>
					    <li><a href="/schedule/">Program Schedule</a></li>
						<li><a href="javascript:void(0)" onclick="open_popup('http://scpr.org/listen_live/');" id="listen-live">Listen Live</a></li>	
					    <li><a href="/podcasts/">Podcasts</a></li>
						<li><a href="/archive/<%= Time.now.yesterday.strftime("%Y/%m/%d") %>/?section=programs">Archive</a></li>
					</ul>
				</nav>
			</div> <!-- section -->
		</div> <!-- span -->
	</div> <!-- row fluid -->
</div> <!-- inner container -->