<div class="row-fluid">
<div class="categories events-nav span3">
	<div class="inner-container clearfix">
		<h6>Partnerships</h6>
		<ul>
		    <li><a href="/support/foundations/">Foundations</a></li>
		    <li><a href="/support/underwriting/">Advertise With Us</a></li>
		    <li><a href="/support/underwriting/our_audience/">About Our Audience</a></li>		
		</ul>
	</div>
</div>
<div class="categories events-nav span3">
	<div class="inner-container clearfix">
		<h6>More Ways To Give</h6>
		<ul>
		    <li><a href="/support/car_donation/">Donate your Vehicle</a></li>
		    <li><a href="/support/matching_gifts/">Matching Gifts</a></li>
		    <li><a href="/support/stock_gifts/">Make a gift of stock</a></li>
			<li><a href="/support/legacy_society/">Include KPCC in your will</a></li>
		    <li><a href="/support/volunteer/">Volunteer Opportunities</a></li>	
			<li><a href="/support/affiliates/">Shop and support KPCC</a></li>	
		</ul>
	</div>
</div>
<div class="categories events-nav span3">
	<div class="inner-container clearfix">
		<h6>Become A Member</h6>
		<div class="pledge-container">
			<div class="pledge">
				<a href="https://scprcontribute.publicradio.org/">Pledge Now</a>
			</div>
		</div>
		<ul>
		    <li><a href="https://scprcontribute.publicradio.org/">Renew your membership</a></li>
		    <li><a href="https://scprcontribute.publicradio.org/contribute.php?refId=sustainers">Become a monthly sustainer</a></li>
		    <li><a href="https://scprcontribute.publicradio.org/contribute.php?noGift=on&refId=default">KPCC Leadership Circle</a></li>
		</ul>
	</div>
</div>
<div class="categories events-nav span3">
	<div class="inner-container clearfix">
		<h6>For Members</h6>
		<ul>
		    <li><a href="/support/member_benefits_card/">Member Benefits Card</a></li>
		    <li><a href="/support/member_benefits/">More Member Benefits</a></li>
		    <li><a href="/accounts/register/">Update Your Information</a></li> 
		</ul>
	</div>
</div>
</div>