<% page_title "Page Not Found" %>

<h1>Page Not Found</h1>

<p>We're sorry, but there is no content available at the address you requested.</p>

<p>It may have moved, or may no longer be available on this site. If you typed the URL yourself, please check to ensure it was entered correctly.</p>

<p>If you're looking for a specific piece of content, please try searching:</p>

<form action="/search/" method="get">
	<input type="text" name="q" placeholder="Enter search text..." id="search-box" />
    <input type="submit" class="btn" value="Search" id="submit" />
</form>
