<%= form_block "Asset Management" do %>
  <%= extra %>
  
  <div id="asset_bucket" class="clearfix"></div>
  <%= f.input :asset_json, as: :hidden, input_html: { id: "asset_json" } %>
  
  <script>
    $(document).ready(function() {
      new outpost.AssetManager(<%= raw record.assets.to_json %>, "#asset_bucket")
    });
  </script>
<% end %>
