<%= form_block "Content" do %>
  <div id="aggregator" class="aggregator"></div>
  <%= f.input :content_json, as: :hidden, input_html: { id: "content_json" } %>
<% end %>

<% content_for :footer do %>
  <script>
    aggregator = new outpost.Aggregator(
      "#aggregator", "#content_json",
      <%= render_json("api/private/v2/articles/collection", articles: record.content.includes(:content).map(&:content).map(&:to_article)) %>,
      {
        apiType: "private",
        params: {
          limit: 20,
          types: "news,blogs,segments,shells,events,queries",
          token: "<%= Rails.application.config.api['assethost']['token'] %>",
          order: "public_datetime",
          sort_mode: "desc",
          with: { is_live: "1" }
        }
      }
    );
  </script>
<% end %>
