<%= form_block "Content" do %>
  <div id="aggregator" class="aggregator"></div>
  <%= f.input :content_json, as: :hidden, input_html: { id: "content_json" } %>
<% end %>

<% content_for :footer do %>
  <script>
    aggregator = new outpost.Aggregator(
      "#aggregator", "#content_json",
      <%= raw render(partial: 'api/private/v2/content/collection', formats: [:json], locals: { content: record.content.includes(:content).map(&:content) }) %>,
      <%= raw options.to_json %>);
  </script>
<% end %>
