<%= form_block "Embeds" do %>
  <% record.embeds.build %>

  <table class="field-rows">
    <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <td colspan="10">
          <%= f.link_to_add_fields(:embeds, title: "Add another Embed", build_target: "#embeds-fields") %>
        </td>
      </tr>
    </tfoot>

    <tbody id="embeds-fields">
      <%= f.has_many_fields :embeds %>
    </tbody>
  </table>
<% end %>
