<%= form_block "Related Content" do %>
  <div id="aggregator" class="aggregator"></div>
  <%= f.input :outgoing_references_json, as: :hidden, input_html: { id: "outgoing_references_json" } %>
<% end %>

<% content_for :footer do %>
  <script>
    aggregator = new outpost.Aggregator(
      "#aggregator", "#outgoing_references_json", 
      <%= render_json('api/private/v2/articles/collection', articles: record.outgoing_references.includes(:related).map(&:related).map(&:to_article)) %>,
      {
        view: { active: 'search' },
        apiType: "private",
        params: {
          limit: 20,
          types: "news,blogs,segments,shells,events,queries",
          token: "<%= Rails.application.config.api['kpcc']['private']['api_token'] %>",
          order: "public_datetime",
          sort_mode: "desc",
          with: { is_live: "1" }
        }
      }
    );
  </script>
<% end %>
