<%= form_block "Related Links" do %>
  <% record.related_links.build %>
  
  <table class="field-rows">
    <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Type</th>
        <th>Delete</th>
      </tr>
    </thead>
    
    <tfoot>
      <tr>
        <td colspan="10">
          <%= f.link_to_add_fields(:related_links, title: "Add another Related Link", build_target: "#related-links-fields") %>
        </td>
      </tr>
    </tfoot>
    
    <tbody id="related-links-fields">
      <%= f.has_many_fields :related_links %>
    </tbody>
  </table>
<% end %>
