<%= form_block "Related Content" do %>
  <div id="aggregator" class="aggregator"></div>
  <%= f.input :related_content_json, as: :hidden, input_html: { id: "related_content_json" } %>
<% end %>

<% content_for :footer do %>
  <script>
    aggregator = new scpr.Aggregator(
      "#aggregator", "#related_content_json", 
      <%= raw record.outgoing_references.includes(:related).map(&:related).to_json %>, 
      { view: { active: 'search' } });
  </script>
<% end %>
