// IE7 rules

.section-mega {
	// IE7/8 - Since IE7/8 don't support CSS3 box-shadows, stick a border around it
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

.nav-primary {
	// IE7/8 - Hacking a border onto the mega nav, since IE 7/8 don't support color-stops
	border: 1px solid darken($nearWhite, 10%);
	
	.search-form {
		// IE7 just a hack to pull the search form up
		*margin-top: -36px;
		
		form {
			line-height: $baseLineHeight; // IE7 doesn't show text if its line-height is 0
		}
	}
}

.audio-bar {
	// IE7/8, don't know box-shadow so fallback to border
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
