<% content_for :headline do %>
<% if assets.first %>
	<div id="asset_slideshow"></div>
	<br/>
	<script type="text/javascript">
		ahSlides = new AssetHost.Slideshow({
			imgwidth: $("#asset_slideshow").width(),
			imgheight: <%= assets.first.asset.sizes.eight.height %>,
			assets: <%= raw assets.to_json %>,
			el: "#asset_slideshow"
		})
	</script>
	
<% end %>
<% end %>
