<aside class="story-audio">
	<div class="inner-container clearfix">
		<a href="" class="play-btn">Play Audio</a>
		<div class="audio-content">
			<h4>Listen to the Story <span class="duration">[5 min 29 sec]</span></h4>
		</div>
		<ul class="audio-tools">
		    <li>
		        <a href="">Download</a>
		    </li>
		    <li>
		        <a href="">Share</a>
		    </li>
		</ul>
	</div>
</aside>