<% content_for :sidebar do %>
	<h3>Quick Stats</h3>
	<ul>
		<li><%= @doc.title %></li>
		<li>pubDate: <%= format_date(Time.parse(@doc.pubDate), time: true) %></li>
		<li>
			<b>Total Items:</b>
			<ul>
				<li>Attachments: <b></b></li>
				<li>Jiffy-Posts: <b></b></li>
				<li>Nav Menu Items: <b></b></li>
				<li>Roundups: <b></b></li>
				<li>Posts: <b><%= @doc.posts.size %></b></li>
			</ul>
		</li>
		
		<li><b>Total Tags:</b></li>
	</ul>
<% end %>

<h2>Multi American Import UI</h2>

<%= link_to "Posts", multi_american_posts_path %>
