<script type="text/javascript" charset="utf-8">
	if(typeof io === "undefined") {
		$(document).ready(function() {
			console.log("no connection");
		});
	} else {
		var socket = io.connect("<%= j Rails.application.config.node.server %>");
		socket.emit('queue_wait', "<%= j admin_user.to_json.html_safe %>");
		
		socket.on('finished_queue', function(data) {
			$("#work_status").html("Finished!");
			$("#spinner").spin(false);
			
			var location;
			var queryStr = "?job="+data.job+"&errors="+data.errors+"&successes="+data.successes;
			<% if params[:id] %>
				location = "<%= j admin_show_multi_american_resource_path(resource_name, params[:id]) %>"+queryStr;
			<% else %>
				location = "<%= j admin_index_multi_american_resource_path(resource_name) %>"+queryStr;
			<% end %>
			window.location = location;
		});
	}
	
	$(document).ready(function() {
		$("#spinner").spin();
	});
</script>

<h2 id="work_status" style="text-align: center; height: 60px;">
	Working...
</h2>

<div id="spinner"></div>

<br /><hr />

<h5 style="text-align: center;">
	(You can leave this page if you want)
</h5>