<% page_title "Latest Arts" %>

<h1>Latest Arts</h1>
<%= render_content @top, "twocol" %>
<section class="more-news-container">
	<%= render :partial => "home/cached/sections_sec", :collection => @sections, :as => :section %>
</section>
