<% @PAGE_TITLE = @category.category %>

<h1><%= @category.category %></h1>

<% links = will_paginate(@content, :previous_label => "« Newer Stories", :next_label => "Older Stories »", :params => {:action => 'index'}) %>

<% for c in @content %>
	<%= render_content c, "thumbnail" %>
<% end %>

<%= links %>