<% page_title "Latest News" %>

<h1>Latest News</h1>

<%= render_content @top, "twocol" %>
<div class="row">
<section class="span8 more-news-container">
	<%= render :partial => "home/cached/sections_sec", :collection => @sections, :as => :section %>
</section>
</div>

