<% add_to_page_title "Latest News" %>

<h1>Latest News</h1>
<div class="news-top">
  <%= render_content @top, "twocol" %>
</div>
<section class="more-news-container">
  <%= render :partial => "home/cached/sections_sec", :collection => @sections, :as => :section %>
</section>
