<h1><%= add_to_page_title "Press" %></h1>

<table class="table table-striped">
  <tbody>
    <% @press_releases.each do |press_release| %>
        <tr>
          <td><%= link_to press_release.short_title, press_release.link_path %> (<%= format_date(press_release.created_at) %>)</td>
        </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @press_releases %>
