<% if blog ||= nil %>
	<div class="thumbnail">
		<h2><%= link_to blog.name, blog_path(blog) %></h2>
		<p class="description"><%= blog.teaser %></p>
		<% if entry = blog.entries.published.first %>
			<div class="latest-post">
				<h5>Latest Post</h5>
				<%= link_to entry.headline, entry.link_path %> <span class="date-posted"><%= smart_date entry %></span>
			</div>
		<% end %>
	</div>
<% end %>