<% page_title "Entries tagged '#{@tag.name}' at #{@blog.name}" %>
<% @blogtitle_extra = ": Tagged '#{@tag.name}'" %>

<div class="row-fluid">
  <div class="span6">&nbsp;</div>
  <div class="span18">
    <h3><i><%= pluralize @entries.total_count, "entry" %> tagged '<%= @tag.name %>'</i></h3>
  </div>
</div>

<div class="blog-landing">
  <%= render :partial => "/blogs/entry", :collection => @entries, :as => :entry, locals: { blog: @blog } %>
</div>

<div class="offset2 blog-pag">
  <%= paginate @entries %>
</div>
