<% @PAGE_TITLE = "Entries tagged '#{@tag.name}' at #{@blog.name}" %>

<div class="row">
	<div class="span2">&nbsp;</div>
	<div class="span6">
		<h1><%= @entries.total_entries %> Entries tagged '<%= @tag.name %>'</h1>
	</div>
</div>

<div class="blog-landing">
<%= render :partial => "entry", :collection => @entries.collect {|e| e.content }, :as => :entry %>
</div>

<div class="row">
	<div class="span6 offset2 blog-pag">
		<%= will_paginate @entries, :page_links => false %>
	</div>
</div>