<% page_title "Entries tagged '#{@tag.name}' at #{@blog.name}" %>

<div class="row-fluid">
	<div class="span3">&nbsp;</div>
	<div class="span9">
		<h1><%= @entries.total_entries %> Entries tagged '<%= @tag.name %>'</h1>
	</div>
</div>

<div class="blog-landing">
<%= render :partial => "entry", :collection => @entries.collect {|e| e.content }, :as => :entry %>
</div>

<div class="offset2 blog-pag">
	<%= will_paginate @entries, :page_links => false %>
</div>