<% @PAGE_TITLE = "Blogs" %>
<h1>Blog Directory</h1>
<div class="alert-message warning" style="text-align:center;">
	<p>We're still in the process of finishing this page, so please excuse our mess!</p>
</div>
<div class="row">
	<div class="span8">
		<ul>
		<% for p in @blogs %>
			<li>
				<h4><%= link_to p.name, blog_path(p.slug) %></h4>
				<p><%= p.description %></p>
				<h6>Recent Posts</h6>
				<ul>
				<% for e in p.entries.published.first(5) %>
					<li>
						<p><%= link_to e.headline, e.link_path %></p>
						<span class="date-posted"><%= smart_date e %></span>
					</li>
				<% end %>
				</ul>
			</li>
		<% end %>
		</ul>
	</div>
</div>