<% page_title @blog.name %>

<div class="blog-landing">
	<%= render :partial => "entry", :collection => @entries, :as => :entry %>
</div>

<div class="row">
	<div class="span6 offset2 blog-pag">
		<%= will_paginate @entries, :page_links => false %>
	</div>
</div>