<div class="contentasset caR" style="width:<%= assets[0].asset.sizes.lead.width %>px;margin-right: -190px">
	<%= assets[0].asset.tag(:lead) %>
	<h4><%= assets[0].asset.owner %></h4>
	
	<% if assets[0].caption %>
		<p><%= assets[0].caption %></p>
	<% end %>
</div>