<div id="asset_slideshow_<%= content.id %>" class="slideview"></div>
<br/>
<script type="text/javascript">
    ahSlides = new AssetHost.Slideshow({
        start: <%= params[:slide] || 0 %>,
        el: "#asset_slideshow_<%= content.id %>",
        assets: <%= raw assets.to_json %>
    });
    
    // add slide change listener for analytics
    ahSlides.bind("switch",function(idx) {
        _gaq.push(['_trackPageview',window.location.pathname + 'photos/' + (Number(idx) + 1)]);
        dcsMultiTrack(
            'DCS.dcsuri', window.location.pathname + 'photos/' + (Number(idx) + 1),
            'WT.ti', 'SlideShow PageView'
        );
    })
</script>
