<% if assets.first %>
	<div id="asset_slideshow"></div>

	<script type="text/javascript">
		$.getScript("http://<%= AssetHost[:server] %>/assets/slideshow.js",function(){
			var w = $("#asset_slideshow").width()
			
			var slides = new AssetHost.Slideshow({
				imgwidth: w,
				imgheight: <%= assets.first.asset.sizes.wide.height %>,
				assets: <%= raw assets.collect { |a| { :caption => a.caption, :credit => a.asset.owner, :normal => a.asset.urls.wide, :full => a.asset.urls.full } }.to_json %>,
				el: "#asset_slideshow"
			})
			
			
		})
	</script>
	
<% end %>
