<div class="asset-block wide">
  <div class="contentasset">
    <%= assets.first.eight.tag %>
  </div>

  <h4><%= assets.first.owner %></h4>

  <% if assets.first.caption %>
    <p><%= assets.first.caption %></p>
  <% end %>
</div>
