// Below small Desktop (Exclusive)
@media screen and (max-width: $mediaDesktopSmall - 1) {
    // Simplify Filters nav to allow for graceful wrapping
        .filters {
            li.heading { display: none !important; }
            .active-arrow { display: none !important; }
        }
    // end Filters

    .homepage-lead {
        &.default {
            .lead5 {
                border-bottom: 1px solid $grayLighter;
                padding-bottom: 5px;
                margin-bottom: 5px;
            }
        }
        
        &.lead-right {
            .offleads .span8:last-child .offlead { border-bottom: 1px solid $grayLighter; }
            .lead5 {
                padding-bottom: 5px;
                margin-bottom: 5px;
            }
        }
    }
        
    // Pledge Banner to Button & hide form
        #masthead {
            .nav-primary.search-takeover {
                .sections {
                    width:20%;
                    overflow:hidden;
                    li {
                        opacity:0;
                        &.listen-live {
                            opacity:1;
                        }
                    }
                }   
                .search-form {
                    display:block;
                    width:79%;
                    form {
                        .search, .submit {
                            @include ie-inline-block();
                        }
                        .search {
                            width:85%;
                        }
                        .toggle-search {
                            background-image:url(image_path('icons/search-close.png'));
                        }
                    }
                }
            }
            
            .search-form {
                width:3%;
                form {
                    .search, .submit { 
                        display: none; 
                    }
                    .toggle-search {
                        cursor:pointer;
                        @include ie-inline-block();
                    }
                }
            }
            .nav-primary .sections { width: 96%; }

            #masthead-left-header-wrapper { @include gridFluidSpan(12); }           
            #masthead-right-header-wrapper { @include gridFluidSpan(12); }
            
            #masthead-mid-header-wrapper { display: none; }
        }
    // end Pledge Banner to Button
    
    // Adjust signup call-to-action in Breaking News Alerts
    .live-update {
      background-color:$black;
      border-bottom:1px solid #555;
      .container-fluid {
        padding:0;
        width:100%;
      }
      .inner-container {
        padding:0;
        strong {
          @include border-radius(0);
          margin:0 0 8px;
          padding-left:0;
          padding-right:0;
          text-align:center;
          width:100%;
        }
        a {
          display:block;
          margin:0 10px;
          text-align:center;
        }
        .newsletter-sign-up {
          background-image:none;
          color:$gray;
          display:block;
          float:none;
          font-size:12px;
          margin:4px 0 0;
          text-align:center;
        }
      }
      &.break, &.now, &.audio {
        border-top:0;
      }
    }
    
    // Adjust Featured Programs in Megamenu 
    .megamenu {
        #programs-mega {
            .program {
                a {
                    margin-right:-20px;
                }
            }
        }
    }
    
    // Modals
      .modal.wide {
        position: absolute;
        top:   10px;
        left:  10px;
        right: 10px;
        width: 300px;
        margin: 0;
        &.fade.in { top: auto; }
        iframe {
            width:260px !important;
            height:235px !important;
        }
      }
    
}
