<section class="join_conversation">
	<h6>Join the Conversation</h6>
	<blockquote>
	<%= link_to '“'+comment.excerpt+'”', comment.content.link_path %>
	</blockquote>
	<p class="quotee">from <%= link_to comment.content.headline, comment.content.link_path %></p>
</section>
<hr/>