<section class="join_conversation">
	<h6>Join the Conversation</h6>
	<blockquote>
	“<%= comment.excerpt %>”
	</blockquote>
	<p class="quotee">from <%= link_to comment.content.headline, comment.content.link_path + "#comments" %></p>
</section>
<hr/>