<h6>From the Comments</h6>
<blockquote><%= link_to "&ldquo;#{comment.excerpt}&rdquo;".html_safe, comment.content.link_path %></blockquote>
<div class="comments-quotee">&mdash; <%= comment.username %></div>	