<% @PAGE_TITLE = "Legacy Society" %>
<h1>Fourth Estate Legacy Society</h1>
<p>The SCPR Leadership Circle is a unique opportunity for you to become more involved with SCPR and enjoy exclusive benefits. For an annual contribution of $1,500 or more, you'll be invited to join us for special events where you can meet our on-air hosts, reporters, as well as other dedicated SCPR supporters.</p>

<p>For more information, please call Katherine Gfeller at 626-583-5145.</p>

<div class="hr"></div>
<a href="https://scprcontribute.publicradio.org/contribute.php?askAmount=1500&refId=sustainers"><h2>Patrons Circle: $1,500</h2></a>
<ul>
<li>Invitation for two to attend the Leadership Circle Brunch</li>
<li>NEW! <em>"LC Perks"</em> - complementary ticket offers via Leadership Circle e-newsletter</li>
<li>Personal tour of the SCPR studios (scheduled at your request)</li>
<li>Advance notice of station events and program updates</li>
<li>Listing in the SCPR Annual Report</li>
</ul>

<div class="hr"></div>
<a href="https://scprcontribute.publicradio.org/contribute.php?askAmount=2500&refId=sustainers"><h2>Advocates Circle: $2,500</h2></a>
<p>All of the preceding benefits plus...</p>

<ul>
<li>Invitation for two to one SCPR premium event </li>

</ul>
<div class="hr"></div>
<a href="https://scprcontribute.publicradio.org/contribute.php?askAmount=5000&refId=sustainers"><h2>Directors Circle: $5,000</h2></a>
<p>All of the preceding benefits plus...</p>
<ul>
<li>Invitation for two to one additional SCPR premium event</li>
<li>One-time on-air recognition (optional)</li>
</ul>
<div class="hr"></div>
<a href="https://scprcontribute.publicradio.org/contribute.php?askAmount=10000&refId=sustainers"><h2>President's Circle: $10,000</h2></a>
<p>All of the preceding benefits plus...</p>
<ul>
<li>Invitation for two to attend the annual President's Circle dinner</li>
<li>Monthly on-air recognition as a member of the President's Circle (at your request)</li>
<li>Invitations for two to ALL SCPR special events</li>
</ul>
<div class="hr"></div>
<a href="https://scprcontribute.publicradio.org/contribute.php?askAmount=25000&refId=sustainers"><h2>Chairman's Circle: $25,000</h2></a>
<p>All of the preceding benefits plus...</p>
<ul>
<li>Weekly on-air recognition as a member of the Chairman's Circle (at your request)</li>
</ul>
<div class="hr"></div>
<a href="https://scprcontribute.publicradio.org/contribute.php?askAmount=50000&refId=sustainers"><h2>Visionaries Circle: $50,000</h2></a>
<p>All of the preceding benefits plus...</p>
<ul>
<li>Personalized schedule of on-air recognition as a member of the Visionaries Circle (at your request)</li>
</ul>

<p>For additional information please contact our <a href="http://www.scpr.org/contact/#form">Development Office</a>.</p>
