<% page_title "Listen" %>

<p>There are many ways to listen to Southern California Public Radio online, from Internet streams on your computer and mobile phone, to streaming media on your home stereo and car receiver.</p>

<a href="javascript:void(0)" onclick="open_popup('/listen_live/');"><h2>Listen Online Now</h2></a>
<p>
	<ul>
		<li><a href="javascript:void(0)" onclick="open_popup('/listen_live/');" style="font-weight:bold;">In your browser</a></li>
		<li><a href="http://kpcclive1.publicradio.org:80/listen.pls">With iTunes or other MP3 audio app</a></li>
	</ul>
</p>
<hr />



<a href="/iphone/"><h2>Listen via iPhone</h2></a>
<a name="Get the KPCC Radio App" href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=293825085&mt=8" style="display: block; float: left; margin-right: 5px; max-width: 230px;">
	<img src="http://media.scpr.org/assets/images/mobile/iphone_app_225x180.png" width="225" height="180" border="0">
</a>
<p>The KPCC Radio iPhone App for the iPhone and iPod Touch is a free Internet radio streaming service tuned to 89.3 KPCC Southern California Public Radio.</p>

<p>
	<a name="Get the KPCC Radio App" href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=293825085&mt=8">
		<img src="http://media.scpr.org/assets/images/mobile/iphone.png" alt="Get the KPCC Radio App" width="21" height="21" border="0" align="absmiddle">Download the KPCC Radio App from iTunes
	</a>
</p>
<p>Listen to 89.3 KPCC on your iPhone and iPod Touch with the free KPCC Radio iPhone app. The app works on all iPhones and iPod Touches. The stream (64k) will perform using wifi, 3G, or the EDGE networks.</p>
<br style="clear: both" />
<hr />



<a href="/iphone/"><h2>BlackBerry & Android Smartphones</h2></a>
<img src="http://media.scpr.org/assets/images/mobile/bberry.jpg" style="float:left; max-width:120px; margin: 0 20px 10px 10px;">
<p>
	There are a variety or streaming radio applications available for the BlackBerry, Android and other advanced smartphones. 
	Depending on phone model and system version, BlackBerry Bold, Curve and Storm users can install <a href="http://www.nobexrc.com/download/">Nobex Radio Companion</a>. 
	Android users can stream our Shoutcast stream via <a href="http://www.androidtapp.com/streamfurious/">StreamFurious</a>.
</p>
<br style="clear: both" />
<hr />



<a href="http://www.amazon.com/s/ref=nb_ss?url=search-alias%3Daps&field-keywords=internet+radio&?tag=kpcc-20"><h2>Internet Radios</h2></a>
<p>Several manufacturers have produced streaming Internet radio appliances for the home and office. Many of these connect via Wi-Fi and can be configured to listen to KPCC.</p>

<a href="http://www.amazon.com/Aluratek-AIRMM01-Internet-Radio-built/dp/B00192VWVY/?tag=kpcc-20" target="_blank">
	<img src="http://media.scpr.org/assets/images/mobile/Aluratek-_AIRMM01.png" width="200" height="178" border="0">
</a>
<a href="http://www.amazon.com/Grace-Digital-Wireless-Internet-GDI-IR2000/dp/B001DL8OV2/?tag=kpcc-20" target="_blank">
	<img src="http://media.scpr.org/assets/images/mobile/grace_GDI-IR2000.png" width="200" height="178" border="0">
</a> 
<a href="http://www.amazon.com/Roku-SoundBridge-M1001-Network-System/dp/B000BI6AH8/?tag=kpcc-20" target="_blank">
	<img src="http://media.scpr.org/assets/images/mobile/roku_soundbridge-1000.png" width="200" height="178" border="0">
</a>
<p><a href="http://www.amazon.com/s/ref=nb_ss?url=search-alias%3Daps&field-keywords=internet+radio&?tag=kpcc-20">Amazon.com offers a wide selection of Internet Radios.</a></p>
<br style="clear: both" />
<hr />



<a href="/about/stations/"><h2>FM Radio Stations</h2></a>
<div class="row-fluid">
	<div class="span8">
		<div style="border-right: 1px dotted #ccc; padding-right: 5px">
			<img src="http://media.scpr.org/assets/images/about/about_orange_loop.gif" alt="loop" style="float:left;padding-top:6px;" />
			<strong>89.3 KPCC<br />LA &amp; Orange Counties</strong>
	
			<ul>
				<li>Los Angeles</li>
				<li>Pasadena</li>
				<li>San Fernando Valley</li>
				<li>Fullerton</li>
				<li>Huntington Beach</li>
			</ul>
		</div>
	</div>

	<div class="span8">
		<div style="border-right: 1px dotted #ccc; padding-right: 5px">
			<img src="http://media.scpr.org/assets/images/about/about_red_loop.gif" alt="loop" style="float:left;padding-top:6px;" />
			<strong>89.1 KUOR<br />Inland Empire</strong>

			<ul>
				<li>San Bernardino</li>
				<li>Riverside</li>
				<li>Redlands</li>
				<li>Crestline</li>
				<li>Big Bear Lake</li>
			</ul>
		</div>
	</div>

	<div class="span8">
		<div style="padding-right: 5px">
			<img src="http://media.scpr.org/assets/images/about/about_blue_loop.gif" alt="loop" style="float:left;padding-top:6px;" />
			<strong>90.3 KVLA<br />Coachella Valley</strong>

			<ul>
				<li>Indio</li>
				<li>Palm Springs</li>
				<li>Palm Desert</li>
				<li>Indian Wells</li>
				<li>Rancho Mirage</li>
			</ul>
		</div>
	</div>
</div> <!-- row-fluid -->

<br style="clear:both" />

<ul>
	<li><a href="/about/stations/">Full coverage map</a></li>
	<li><a href="/about/faq/#transmitters">Frequently asked transmitter, coverage and reception questions</li>
</ul>
<hr />



<a href="/hd/"><h2>HD Radio Channels</h2></a>
<div class="row-fluid">
	<div class="span8">
		<div style="border-right: 1px dotted #bbbbbb;padding-right: 5px;">
			<img src="http://media.scpr.org/assets/images/about/about_orange_loop.gif" alt="loop" style="float:left;padding-top:6px;" />
			<strong>HD 1<br />KPCC HD</strong>
			<p>Digital simulcast of the 89.3 KPCC broadcast signal</p>

			<ul>
				<li><a href="javascript:void(0)" onclick="open_popup('/listen_live/');">Listen to KPCC</a></li>
				<li><a href="/">KPCC website</a></li>
			</ul>
		</div>
	</div>

	<div class="span8">
		<div style="border-right: 1px dotted #bbbbbb;padding-right: 5px;">
			<img src="http://media.scpr.org/assets/images/about/about_blue_loop.gif" alt="loop" style="float:left;padding-top:6px;" />
			<strong>HD 2<br />AHORA</strong>
			<p>Spanish language radio service of Radio Netherlands and NPR</p>

			<ul>
				<li><a href="javascript:void(0);" onclick="window.open('http://resources.rnw.nl/rnwplayer/','RNWplayer','width=700,height=300')">Listen to AHORA</a></li>
				<li><a href="http://www.informarn.nl/ahora/">AHORA website</a></li>
			</ul>
		</div>
	</div>

	<div class="span8">
		<div style="padding-right: 5px;">
			<img src="http://media.scpr.org/assets/images/about/about_red_loop.gif" alt="loop" style="float:left;padding-top:6px;" />
			<strong>HD 3<br />The Current</strong>
			<p>Contemporary alternative music from Minnesota Public Radio</p>

			<ul>
				<li><a href="http://minnesota.publicradio.org/tools/play/streams/the_current.pls">Listen to The Current</a></li>
				<li><a href="http://www.thecurrent.org">The Current website</a></li>
			</ul>
		</div>
	</div>
</div> <!-- row fluid -->

<br style="clear:both" />

<hr />