<h1>Our Audience</h1>
<p>KPCC is the #3 public radio news station in the United States! The KPCC Listener:</p>
<div class="hr"></div>
<h2>What is an index?</h2>

<p>Definition: A ratio in percentage terms that indicates the likelihood of a particular medium to meet a specified goal or criterion. An index score is "graded" using 100 as the benchmark. An index of 123 indicates a 23 percent greater likelihood of meeting specified criteria. An index of 88 shows a 12 percent lesser likelihood of that medium to meet the specified criteria.</p>

<div class="hr"></div>
<h2>Professional:</h2>
<p>Index 328: President<br />
Index 172: Owner/Partner<br />
Index 138: Board Member<br />
Index 115: Arts/design/media<br />
Index 407: Work in the legal industry</p>


<div class="hr"></div>
<h2>Affluent:</h2>

<p>Index 178: Individual income of $250,000+<br />
Index 168: Own a home valued at $1,000,000+</p>

<div class="hr"></div>
<h2>Culturally Involved:</h2>

<p>Index 313: Attended a symphony or opera in the last year<br />
Index 168: Attended a dance or ballet performance in the last year<br />
Index 201: Visited an art museum in the last year</p>

<div class="hr"></div>
<h2>Active:</h2>

<p>Index 153: Go skiing <br />
Index 195: Hiking <br />
Index: 164: Yoga/pilates<br />
Index 234: Took Personal/business travel outside continental U.S. (3-4 times in 3 years)</p>

<div class="hr"></div>
<h2>Informed:</h2>

<p>Index 265: Reads the New York Times M-F <br />
Index 199: Reads the Wall Street Journal M-F<br />
Index 184: Reads the Los Angeles Times M-F</p>


<div class="hr"></div>
<h2>Involved in the Community:</h2>

<p>Index 270: Contributed to an arts/cultural organization in the past year<br />
Index 209: Contributed to a social/welfare organization in the past year<br />
Index 241: Contributed to a political organization in the past year<br />
Index 144: Always vote in local elections</p>


<div class="hr"></div>
<h2>Educated:</h2>

<p>Index 324: Post Graduate degree</p>


<div class="hr"></div>
<h2>Basic Demographic Information:</h2>

<p>54% Male, 45.6% Female</p>

<img src="http://media.scpr.org/images/news/2010/04/01/2009_demographic_chart_.jpg">
<br />
<br />


<p> *Qualitative Data: Scarborough, LA Release 2 2009: Aug ‘08 – Jul 09,  Adults 18+ <br />
   - KPCC FM listenership M-Su 6a-12p</p>
