<% page_title @flatpage.title %>
<% content_for :headerjs, @flatpage.extra_head.html_safe %>
<h1><%= @flatpage.title %></h1>
<%= @flatpage.content.html_safe %><br />
<%= @flatpage.extra_tail.html_safe %>