<% @PAGE_TITLE = "Affiliates Program" %>
<h1>Affiliates Program</h1>
<p>Your purchases or online auction sales can now support Southern California Public Radio when you patronize the organizations listed on this page, at no additional cost to you. See each individual entry for more information.</p>

<div class="hr"></div>

<div style="float:right; font-size:10px; width:150px; background:#d7eaf1; margin-right:10px; margin-left:10px"><!--a href="#"--><img src="http://media.scpr.org/assets/images/support/partners/amazon.gif" alt="" style="margin-bottom:3px; border:0px" /><!--/a-->
<div style="margin: 0px 10px 0px 10px">
10% of your purchase goes directly to 89.3 KPCC!<br /><br />
<div style="text-align:center; font-weight:bold"><a href="http://www.amazon.com/gp/redirect.html?ie=UTF8&location=http%3A%2F%2Fwww.amazon.com%2F&tag=kpcc-20&linkCode=ur2&camp=1789&creative=9325" style="color:#089fb2">Shop now</a><img src="http://www.assoc-amazon.com/e/ir?t=kpcc-20&amp;l=ur2&amp;o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> &raquo;</div></div>
<img src="http://media.scpr.org/assets/images/support/partners/bottom.gif" alt="" /></div>

<h2>Amazon.com</h2>
<p>Southern California Public Radio receives up to 10 percent of your total purchase on all products you buy through the links on our site. Update your Amazon bookmark, so every online purchase will benefit SCPR. Amazon's <a href="http://www.amazon.com/gp/help/customer/display.html/104-1393575-0916713?ie=UTF8&nodeId=468496">privacy policy</a>. </p>

<div class="hr"></div>

<div style="float:right; font-size:10px; width:150px; background:#d7eaf1; margin-right:10px; margin-left:10px"><a href="http://givingworks.ebay.com/sell "><img src="http://media.scpr.org/assets/images/support/partners/mission.gif" alt="" style="margin-bottom:3px; border:0px" /></a>
<div style="margin: 0px 10px 0px 10px">
8% of of the final selling prices goes directly to 89.3 KPCC.<br /><br /><div style="text-align:center; font-weight:bold"><a href="http://givingworks.ebay.com/sell " style="color:#089fb2">Sell now</a> &raquo;</div></div>
<img src="http://media.scpr.org/assets/images/support/partners/bottom.gif" alt="" /></div>

<h2>eBay Giving Works</h2>
<p>The eBay Giving Works program allows you to donate part or all of your auction item’s final sale price to Southern California Public Radio, and refunds you a percentage of your seller fees. eBay Giving Works <a href="http://pages.ebay.com/help/sell/GivingWorks-fee-policy.html">Fee Credit Policy.</a>. </p>

<div class="hr"></div>
<div style="float:right; font-size:10px; width:150px; background:#d7eaf1; margin-right:10px; margin-left:10px"><a href="http://vromansbookstore.com/NASApp/store/IndexJsp;jsessionid=abcn29chlpmPI4QwupWmr?s=localbestsellers"><img src="http://media.scpr.org/assets/images/support/partners/vromans.gif" alt="" style="margin-bottom:3px; border:0px" /></a>
<div style="margin: 0px 10px 0px 10px">
In store purchase help support 89.3 KPCC.<br /><br /><div style="text-align:center; font-weight:bold"><a href="http://vromansbookstore.com/NASApp/store/IndexJsp;jsessionid=abcn29chlpmPI4QwupWmr?s=localbestsellers" style="color:#089fb2">Learn more</a> &raquo;</div></div>
<img src="http://media.scpr.org/assets/images/support/partners/bottom.gif" alt="" /></div>

<h2>Vroman's Bookstore</h2>
<p>When you sign up for Vroman's Gives Back Program, every time you make a purchase, 1 percent of that total purchase will be donated to Southern California Public Radio. Visit Vroman's <a href="http://www.vromansbookstore.com/NASApp/store/IndexJsp?s=localbestsellers&page=270858">FAQ page</a> for more information.</p>