<% @PAGE_TITLE = "Become a Sustaining Member" %>
<h1>Make the switch – become a Sustaining Member today!</h1>
<p>Convert your membership to an auto-renewing Sustaining membership today!</p>
 
<p>If you’re already contributing to Southern California Public Radio via a monthly donation from your credit card or directly from your checking account, you can convert it into a Sustaining Membership today! As a Sustainer, your membership auto-renews each year – it’s an incredibly convenient, efficient way to give.  You’ll receive a courtesy letter letting you know when your membership is set to renew and can cancel at anytime, but no more reminders or renewal notices from us.  We spend less on fundraising and administrative costs, and help save a few trees in the process.  And as a Sustainer, you’ll receive some special perks including an end of the year tax summary, uninterrupted KPCC Member Benefits Card, access to buying pledge drive thank you gifts at cost, and automatic entry into all our giveaways and sweepstakes!</p>

<iframe width="498" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.publicradio.org/applications/formbuilder/user/form_display.php?form_code=53c1738dd7e4"></iframe>

<p>By filling out this form, you authorize SCPR to charge your credit/debit card or your bank account on an auto-renew basis, until you tell us to stop.  In order to convert your membership to become a Sustainer, you must currently be a monthly donor to SCPR.  If you’re not currently contributing monthly and would like to sign up as a Sustainer, <a href="https://scprcontribute.publicradio.org/contribute.php?refId=sustainers" target="_blank">click here</a>.</p>

<p>If you have questions about your Sustaining Membership, contact Ruth Calichman at 626-583-5129.</p>  



