<% @PAGE_TITLE = "Become a Sustaining Member" %>
<h1>Sustaining Memberships</h1>
<p>Sustaining Members are ongoing, monthly contributors  to Southern California Public Radio.  You choose your giving level and your contribution is automatically deducted each month from your credit card or bank account, until you tell us to stop.  It’s the most convenient and effective way to give and it’s environmentally efficient, as well (No more paper renewal notices!)  Sustaining Memberships give SCPR the security of a steady, reliable steam of support so that less of your donation is spent on fundraising and administrative costs, and more of it on the quality programming and news you’ve come to expect from Southern California’s radio news leader.</p>

<div class="hr"></div>
<a href="https://scprcontribute.publicradio.org/contribute.php?refId=sustainers"><h2>Become a Sustaining Member</h2></a>
<p>It’s easy to become a Sustaining Member!  You just set it up once and  you’ll receive a courtesy letter letting you know when your membership is set to renew (Of course, you can change your donation amount or cancel your membership at any time.)   Sustaining Members receive an end of the year tax summary, uninterrupted Member Benefits, the ability to get thank you gifts at greatly reduced prices and automatic entry into all KPCC sweepstakes.  

<a href="https://scprcontribute.publicradio.org/contribute.php?refId=sustainers"><p>Click here to access the Sustaining Member Form.</p></a>

<p>If you would like to get more information on becoming a Sustaining Member or check on the status of your current membership, contact Ruth Calichman at 626-583-5129.</p>

<p>Are you already a KPCC member? <a href="http://www.scpr.org/support/sustainer">Make the switch to a Sustaining Membership.</p></a>