<h1>Underwriting</h1>
<div style="float:left; width:375px; border-right: 1px dotted #bbbbbb; margin-right:15px; padding-right:10px"><p>KPCC's programs reach more than 600,000* affluent and educated listeners throughout Southern California each week.</p>

<p>Corporate sponsorship of KPCC is a good business investment; we know that our listeners are 88 percent more likely to buy products and services from companies that support public radio.</p>

<p>Almost 70 percent of our listeners hold a more positive opinion of a company when they learn it supports public radio - your company can benefit from the "HALO EFFECT" that corporate sponsorship provides for our underwriters.**</p>

<p>For more information on becoming a KPCC Corporate Sponsor, please call our Vice President of Underwriting Julie Allen, at (626) 583-5130, or <a href="/contact/">send an email using our online contact form</a>.</p>

<p>You'll be in good company when you support KPCC.</p>
</div>
<div style="float:left; width:190px;">
<p>&raquo;&nbsp;<a href="/support/underwriting/our_audience/">Our audience</a><br />
&raquo;&nbsp;<a href="/support/underwriting/your_message/">Your message</a><br />
&raquo;&nbsp;<a href="/support/underwriting/online_sponsorship/">Online underwriting</a><br />
&raquo;&nbsp;<a href="http://media.scpr.org/support/pdf/guidelines.pdf">Guidelines</a></p>

<p>For more information on becoming a KPCC Corporate Sponsor, please call our Vice President of Underwriting Julie Allen, at (626) 583-5130, or send an email using <a href="/contact/">our online contact form.</a></p>

</div>

<br clear="all" />
<p>&nbsp;</p>
<div class="hr"></div>
<h2>Our current underwriters include:</h2>
<em>(Partial Sponsor List)</em>
<p>
Antioch University<br />
Autry National Center<br />
Bank of America<br />
Buena Vista<br />
California Society of CPAs<br />
Carpenter Performing Arts Center<br />
Cedars Sinai Medical Center<br />
Chevron<br />
Children's Hospital of Orange County<br />
City National Bank<br />
City of Hope<br />
Edison International<br />
Efficiency Partnership<br />
Farmer’s Insurance<br />
Focus Features<br />
Fox Broadcasting Company<br />
Fox Searchlight<br />
Fresh N' Easy<br />
Grand Performances<br />
Hammer Museum<br />
Hillcrest Nursing Home<br />
Huntington Library and Gardens<br />
Jones Coffee<br />
Kaiser Permanente<br />
Korean Airlines<br />
Knight Foundation<br />
LA Opera<br />
Levitt Pavilions<br />
Lion's Gate<br />
Mercedes Benz of SoCal<br />
Miramax<br />
Mount St. Mary’s College<br />
Museum of Latin American Art<br />
National Association of Broadcasters<br />
National University<br />
Natural History Museum<br />
New Line Home Entertainment<br />
Nissan North America<br />
Pacific Symphony<br />
Pasadena Water & Power<br />
Pacific West Capital Group<br />
Peter F. Drucker Graduate School of Mgmt.<br />
Redstone<br />
St. Joseph's Hospital<br />
Sheppard Mullin<br />
Siemens Corporation <br />
Silverlake Wine<br />
Sony Pictures Classics<br />
South Coast Repertory<br />
South Pasadena Chamber of Commerce<br />
Southern California Edison<br />
Subaru<br />
Sunpower Corporation<br />
The Ahmanson Theatre<br />
The Capital Group Companies<br />
The Getty<br />
The Goetzman Group<br />
UC Riverside<br />
UCLA Performing Arts<br />
Universal Pictures<br />
University of California<br />
University of California, Irvine<br />
University of La Verne<br />
USC Marshall School of Business<br />
Warner Brothers<br />
</p>

<p>( partial list )</p>

<p>*Summer '07 Arbitron Metro Survey Area, cume persons 12+, Los Angeles. Arbitron data are estimates only. Produced by the Radio Research Consortium, Inc.</p>

<p>** Source: Arbitron/RRC, LA Metro: Sept, Oct, Nov 2008. Cume persons 6+</p>


