<% add_to_page_title "Staff" %>

<h1>Staff</h1>
<p><strong>Southern California Public Radio News Staff</strong></p>
<p>The hosts, producers and others who make what you hear -- both on air and off.</p>
<hr/>
<table cellspacing="0" class="table table-striped">
  <tbody>
    <% @bios.each do |bio| %>
      <tr>
        <td><%= link_to bio.name, bio_path(bio.slug) %></td>
        <td><%= bio.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
