<div class="inner-container">
  <div class="row-fluid">
    <div class="span6">
      <div class="section first">
        <h6>Categories</h6>
        <nav>
          <div class="row-fluid">
            <div class="span12">
              <ul>
                <li><a href="/culture/" class="track-event" data-ga-category="MegaMenu" data-ga-action="Category" data-ga-label="Arts">Culture</a></li>
                <li><a href="/film/" class="track-event" data-ga-category="MegaMenu" data-ga-action="Category" data-ga-label="Arts">Film</a></li>
                <li><a href="/books/" class="track-event" data-ga-category="MegaMenu" data-ga-action="Category" data-ga-label="Arts">Books</a></li> 
              </ul>
            </div> <!-- span -->
            
            <div class="span12">
              <ul>
                <li><a href="/arts/" class="track-event" data-ga-category="MegaMenu" data-ga-action="Category" data-ga-label="Arts">Arts</a></li>
                <li><a href="/music/" class="track-event" data-ga-category="MegaMenu" data-ga-action="Category" data-ga-label="Arts">Music</a></li>
                <li><a href="/food/" class="track-event" data-ga-category="MegaMenu" data-ga-action="Category" data-ga-label="Arts">Food</a></li>
              </ul>
            </div> <!-- span -->
          </div> <!-- row fluid -->
          <ul class="content-types pull-down">
            <li><a href="http://audiovision.scpr.org" class="audiovision-icon track-event" data-ga-category="MegaMenu" data-ga-action="AudioVision" data-ga-label="News">AudioVision</a></li>
            <li><a href="/blogs/" class="track-event" data-ga-category="MegaMenu" data-ga-action="Blogs" data-ga-label="News">Blogs</a></li>
            <li><a href="/archive/<%= Time.now.yesterday.strftime("%Y/%m/%d") %>/?section=news" class="track-event" data-ga-category="MegaMenu" data-ga-action="Archive" data-ga-label="News">Archive</a></li>
          </ul>
        </nav>
      </div> <!-- section -->
    </div> <!-- span -->
  
    <div class="span8">
      <div class="section">
        <h6>Latest Stories</h6>
        <% content_cache("mega_arts_latest") do %>
          <% register_content(ContentBase.new_obj_key) %>
          <%= render "/shared/masthead/featured", articles: latest_arts(2) %>
        <% end %>
      </div> <!-- section -->
    </div> <!-- span -->
  
    <div class="span10">
      <div class="section">
        <h6>From Our Blogs</h6>
        <% content_cache("mega_arts_blogs") do %>
          <% register_content(BlogEntry.new_obj_key) %>
          <%= render "/shared/masthead/from_our_blogs", entries: @latest_blogs_arts %>
        <% end %>
      </div> <!-- section -->
    </div> <!-- span -->
  </div> <!-- row fluid -->
</div> <!-- inner-container -->
