<div class="inner-container">
  <div class="row-fluid">
    <div class="span12">
      <div id="support-hero">
        <hgroup>
          <h3>More of the station you love. Fewer pledge drives.</h3>
          <a href="https://scprcontribute.publicradio.org/contribute.php?refId=sustainers" class="btn ultimate track-event" data-ga-category="MegaMenu" data-ga-action="Support Us" data-ga-label="Sustainer Pledge"><span>Become a Sustainer</span></a>
          <a href="http://www.scpr.org/support/sustaining_memberships/" class="learn-more track-event" data-ga-category="MegaMenu" data-ga-action="Support Us" data-ga-label="Sustainer Learn More">Learn more about Sustaining Membership</a>
        </hgroup>
        <hgroup>
          <h3>Or make a one-time donation</h3>
          <a href="https://scprcontribute.publicradio.org/contribute.php?refId=onetime" class="btn primary track-event" data-ga-category="MegaMenu" data-ga-action="Support Us" data-ga-label="One-Time Pledge"><span>Pledge Now</span></a>
        </hgroup>
      </div>
    </div>
    
    <div class="span6">
      <div class="section first">
        <h6 class="heading-leadership">KPCC Leadership Circle</h6>
        <nav>
          <ul>
            <li><a href="https://scprcontribute.publicradio.org/contribute.php?refId=lcrenew">Join the Leadership Circle</a></li>
            <li><a href="/support/leadership_circle/">About the Leadership Circle</a></li>
          </ul>
        </nav>
        <h6 class="heading-members">For Members</h6>
        <nav>
          <ul>
            <li><a href="https://scprcontribute.publicradio.org/contribute.php?refId=ccupdate">Update Your Credit Card</a></li>
            <li><a href="/support/member_benefits_card/">Member Benefits Card</a></li>
            <li><a href="/support/member_benefits/">More Member Benefits</a></li>
          </ul>
        </nav>
      </div>
    </div>
    
    <div class="span6">
      <div class="section">
        <h6 class="heading-moreways">More Ways To Give</h6>
        <nav>
          <ul>
            <li><a href="/support/car_donation/">Donate your vehicle</a></li>
            <li><a href="/support/planned_giving">Include KPCC in your will</a></li>
            <li><a href="/support/matching_gifts/">Matching gifts</a></li>
            <li><a href="/support/stock_gifts/">Make a gift of stock</a></li> 
          </ul>
        </nav>
        <h6 class="heading-partnerships">Partnerships</h6>
        <nav>
          <ul>
            <li><a href="/support/foundations/">Foundations</a></li>
            <li><a href="/support/underwriting/">Corporate Underwriting</a></li>
          </ul>
        </nav>
      </div> <!-- section -->
    </div> <!-- span -->
  </div> <!-- row fluid -->
</div> <!-- inner-container -->
