<% page_title ["Preferred Caterers", "The Crawford Family Forum"] %>

<% content_for :static_content do %>
	<!-- Flatpage Content -->
	<h1>The Crawford Family Forum Preferred Caterers</h1>
	
		<div style="background: whitesmoke;border: 1px solid #ccc;margin: 5px 0;padding: 10px 15px 10px 20px;">
			<h3><a href="http://www.heirloomla.com/">Heirloom LA</a></h3>
			<strong>Contact:</strong> <a href="mailto:matthewpoley@yahoo.com">Matthew Polley</a></h3>
			<strong>Phone:</strong> 323-872-2904<br />
			<strong>Food Type:</strong> Locally grown organic Americana/world cuisine
		</div>
		
		<div style="background: whitesmoke;border: 1px solid #ccc;margin: 5px 0;padding: 10px 15px 10px 20px;">
			<h3><a href="http://www.silverlakewine.com/">Silver Lake Wine</a></h3>
			<strong>Contact:</strong> <a href="mailto:info@silverlakewine.com">Randy Clement</a><br />
			<strong>Phone:</strong> 323-662-9024<br />
			<strong>Food Type:</strong> Boutique, small production, high quality, artisanal wines and liquors in all price ranges
		</div>
		
		<div style="background: whitesmoke;border: 1px solid #ccc;margin: 5px 0;padding: 10px 15px 10px 20px;">
			<h3><a href="http://www.gingergrass.com/">Gingergrass</a></h3>
			<strong>Contact:</strong> Jade<br />
			<strong>Phone:</strong> 323-644-1500<br />
			<strong>Food Type:</strong> Vietnamese, French, Thai, etc.
		</div>
		
		<div style="background: whitesmoke;border: 1px solid #ccc;margin: 5px 0;padding: 10px 15px 10px 20px;">
			<h3><a href="http://www.gingergrass.com/">Gingergrass</a></h3>
			<strong>Contact:</strong> Jade<br />
			<strong>Phone:</strong> 323-644-1500<br />
			<strong>Food Type:</strong> Vietnamese, French, Thai, etc.
		</div>
	

		<div style="background: whitesmoke;border: 1px solid #ccc;margin: 5px 0;padding: 10px 15px 10px 20px;">
			<h3><a href="http://www.hmsus.com/">El Cholo, Dona Rosa & Barn Burner BBQ</a></h3>
			<strong>Contact:</strong> Enrique Feldman<br />
			<strong>Phone:</strong> 626-399-5683<br />
			<strong>Food Type:</strong> Texan-Style food-Ribs, Authentic Mexican Food
		</div>


		<div style="background: whitesmoke;border: 1px solid #ccc;margin: 5px 0;padding: 10px 15px 10px 20px;">
			<h3><a href="http://www.marysueandsusan.com/">Ciudad/Border Grill</a></h3>
			<strong>Phone:</strong> 213-542-1100<br />
			<strong>Food Type:</strong> Latin Cuisines – Spain, Portugal, South America, Central America, and Mexico
		</div>


		<div style="background: whitesmoke;border: 1px solid #ccc;margin: 5px 0;padding: 10px 15px 10px 20px;">
			<h3>Pita Pita</h3>
			<strong>Contact:</strong> Pedro Noriega<br />
			<strong>Phone:</strong> 626-356-0106<br />
			<strong>Food Type:</strong> International – Mediterranean, Mexican, Italian, etc.
		</div>


		<div style="background: whitesmoke;border: 1px solid #ccc;margin: 5px 0;padding: 10px 15px 10px 20px;">
			<h3><a href="http://www.thebestcoffee.com"> Jones Coffee</a></h3>
			<strong>Contact:</strong> <a href="mailto:chuck@jonescoffee.com">Chuck Jones</a></h3>
			<strong>Phone:</strong> 626-564-9291<br />
			<strong>Food Type:</strong> Coffee: roasters, growers & importers of premium specialty coffees from a family owned farm in Guatemala
		</div>

		<div style="background: whitesmoke;border: 1px solid #ccc;margin: 5px 0;padding: 10px 15px 10px 20px;">
			<h3><a href="http://www.coffeetablebistro.com/"> Coffee Table Bistro</a></h3>
			<strong>Contact:</strong> <a href="mailto:jlewis.ct@gmail.com">Joshua Lewis</a></h3>
			<strong>Phone:</strong> 323 219 9850<br />
			<strong>Food Type:</strong> Modern California cuisine with an emphasis on freshness and natural flavors.
		</div>
	<!-- end Flatpage Content -->
<% end %>
