<% page_title ["KPCC's L.A. Riots 20th anniversary coverage", "The Crawford Family Forum"] %>

<% content_for :static_content do %>
	<!-- Flatpage Content -->
	<h2>KPCC's L.A. Riots 20th anniversary coverage</h2>
	<p>“In all the talk about the ’92 Riots and race, what’s missing?”  Starting this month, KPCC’s Crawford Family Forum will convene four community focus groups, followed by one public forum, that’ll explore this question.  On the occasion of the Riots’ 20th anniversary, this series aims to spur more and deeper conversation among Southern Californians about a piece of our local history that carries a very complex legacy – in the present and the future.</p>
	
	<p>Interested in participating in one of those discussions?  Please take a few minutes to tell us a bit about yourself, and we’ll match you to the right conversation*.</p>
 
	<p><strong>What:</strong>  Facilitated, invitation-only focus groups addressing standard questions in break-out and large-group form<br>
	<strong>When:</strong> Between Monday, March 19th and Tuesday, April 3rd  *You’ll receive email with relevant forum information.<br>
	<strong>Where:</strong> KPCC’s Crawford Family Forum, 474 South Raymond Ave., Pasadena, CA 91105</p>	

	<p>Looking for another way to contribute to KPCC’s Riots anniversary coverage? <a href="http://www.scpr.org/network/questions/april29/"> Click here</a> to learn more.</p>

	<iframe src="http://www.publicradio.org/applications/formbuilder/user/form_display.php?form_code=51ccc9460b18" frameborder="0" width="550px" height="650px"></iframe>
	<!-- end Flatpage Content -->
<% end %>