<div class="homepage-lead default">
  <div class="row-fluid">
    <div class="span15">
      <%= render_content homepage.content[0], "lead5" %>
    </div>
    <div class="span9">
      <div class="offleads">
        <%= render_content homepage.content[1..-1], "offlead" %>
      </div>
    </div>
  </div>
</div> <!-- homepage default -->
