<div class="row-fluid">
  <div class="span24">
    <%= render_content homepage.content[0], "lead8" %>
  </div>
</div>
<div class="row-fluid">
  <div class="span24 offleads split">
    <div class="row-fluid">
      <%= render_content homepage.content[1..-1], "offlead_split" %>
    </div>
  </div>
</div>
