.hero-election {
	@include font-heading();
	font-size:13px;
	margin-bottom:22px;
	text-shadow:0 1px 0 rgba(0,0,0,0.67);
	.election-header {
		background:#134b94 url(image_path('specials/election/bg-header.jpg')) no-repeat 0 0;
		border-bottom:1px solid #115695;
		position:relative;
		text-align:center;
		h1 {
			color:#f1f1f1;
			font-size:1.846153846em;
			line-height:24px;
			margin:8px 0 4px;
			text-transform:uppercase;
		}
		.share-link {
			background:url(image_path('specials/election/ico-share.png')) no-repeat 0 2px;
			color:$white;
			font-size:0.923076923em;
			font-weight:800;
			text-transform:uppercase;
			padding-left:25px;
			position:absolute;
			top:9px;
			right:10px;
		}
	}
	.header-well {
		background:#032e54;
		border-top:1px solid #002035;
		border-bottom:1px solid #2e2e2e;
		font-size:1em;
		font-weight:400;
		padding:3px 10px;
		.live-tweet {
			background:url(image_path('specials/election/ico-twitter.png')) no-repeat 0 2px;
			color:$white;
			float:left;
			margin-right:10px;
			padding-left:26px;
			text-transform:uppercase;
		}
		ul {	
			margin:0;
			li {
				display:none;
				list-style:none;
				color:#6bc6f2;
				&.active {
					display:block;
				}
				a.twitter-icon {
					display: inline-block;
					width: 18px;
					margin-left: 5px;
					background: url(image_path('icons/share-twitter.png')) no-repeat;
					&:hover { text-decoration: none; }
				}
			}
		}
	}
	.results {
		background:#2e2e2e;
		border-top:1px solid #414141;
		color:#fff;
		.results-block {
			min-height:320px;
			header {
				background:url(image_path('specials/election/bg-subhead.png')) repeat-x 0 0;
				margin-right:-5.5%;
				margin-left:-5.3%;
				position:relative;
				&.first {
					margin-left:0;
				}
				&.last {
					margin-right:0;
				}
				h2 {
					color:#6bc6f2;
					font-size:1.230769231em;
					padding:0 10px;
					text-transform:uppercase;
				}
				aside {
					color:#9c9c9c;
					font-size:0.923076923em;
					font-weight:400;
					position:absolute;
					right:10px;
					top:4px;
				}
			}
			.vert-divider {
				background-color:#1d1d1d;
				border-right:1px solid #484848;
				right:-5.850225%;
			}
			.candidate, .initiative {
				border-bottom:1px solid #1d1d1d;
				border-top:1px solid #484848;
				min-height:51px;
				padding:12px 10px 0;
				&.first {
					border-top:none;
				}
				&.last {
					border-bottom:none;
				}
				.percentage {
					color:$white !important;
					font-size:0.5625em;
					margin-left:4px;
					vertical-align:super;
				}
			}
			.initiative {
				@include clearfix();
				&.local {
					.title {
						width:120px;
						h3 {
							font-size:2em;
						}
					}
				}
				.title {
					float:left;
					h3 {
						color:$white;
						font-size:2.307692308em;
						font-weight:100;
					}
					p {
						color:#858585;
						@include font-heading();
						font-size:0.846153846em;
						font-weight:600;
						margin-bottom:0;
					}
				}
				.result {
					@include clearfix();
					float:right;
					width:140px;
					margin-top:-3px;
					.yes {
						float:left;
						width:60px;
						&.pass {
							span {
								background:url(image_path('specials/election/ico-checkbox-sm.png')) no-repeat right 3px;
								color:#74bd3a;
								padding-right:18px;
							}
						}
					}
					.no {
						float:right;
						width:60px;
						&.fail {
							span {
								background:url(image_path('specials/election/ico-strikethrough-sm.png')) no-repeat right 3px;
								color:#da1020;
								padding-right:18px;
							}
						}
					}
					strong {
						display:block;
						font-size:2.461538462em;
						margin-bottom:4px;
					}
					span {
						color:#b3b3b3;
						display:inline-block;
						font-size:1.230769231em;
						margin-left:6px;
						text-transform:uppercase;
					}
					.vert-divider {
						background-color:#484848;
						border-right:none;
						right:50%;
					}
				}
			}
			.candidate {
				position:relative;
				@include clearfix();
				background:no-repeat 10px 6px;
				&.obama {
					background-image:url(image_path('specials/election/head-obama.png'));
					.result strong {
						color:#0f93d2;
					}
				}
				&.romney {
					background-image:url(image_path('specials/election/head-romney.png'));
					.result strong {
						color:#e53f48;
					}
				}
				&.berman {
					background-image:url(image_path('specials/election/head-berman.png'));
				}
				&.sherman {
					background-image:url(image_path('specials/election/head-sherman.png'));
					background-position:15px 6px;
				}
				&.lacey {
					background-image:url(image_path('specials/election/head-lacey.png'));
				}
				&.jackson {
					background-image:url(image_path('specials/election/head-jackson.png'));
				}
				h4 {
					color:$white;
					float:left;
					font-size:1.384615385em;
					font-weight:100;
					padding-left:60px;
					em {
						background:url(image_path('specials/election/ico-checkbox.png')) no-repeat 0 2px;
						display:block;
						color:#74bd3a;
						font-size:0.666666667em;
						font-style:normal;
						font-weight:600;
						margin-bottom:0;
						padding-left:24px;
					}
				}
				.result {
					text-align:right;
					float:right;
					width:62px;
					strong {
						display:block;
						font-size:2.461538462em;
						font-weight:900;
						margin-bottom:6px;
					}
					span {
						color:#858585;
						@include ie-inline-block();
						font-size:0.769230769em;
						line-height:11px;
						text-transform:uppercase;
					}
				}
			}
		}
	}
	.visible-mobile {
		display:none;
	}
}

// Between Small Desktop & Mid-Portrait 
@media screen and (min-width: 768px + 1) and (max-width: $mediaDesktopSmall) {
	.hero-election {
		font-size:11px;
		.results {
			.results-block {
				.candidate, .initiative {
					padding-right:4px;
					padding-left:4px;
				}
				.initiative {
					&.local {
						.title {
							width:100px;
						}
					}
					.result {
						width:110px;
						.yes, .no {
							width:52px;
						}
						.vert-divider {
							display:none;
						}
					}
				}
				.candidate {
					background-image:none !important;
					h4 {
						font-size:1.6em;
						padding-left:0;
					}
				}
			}
		}
	}
}
// Below Mid-Portrait 
@media screen and (max-width: 768px) {
	.hero-election {
		font-size:13px;
		.election-header {
			float:none;
			h1 {
				font-size:1.230769231em;
				padding-left:10px;
				padding-top:7px;
				text-align:left;
			}
			.share-link {
				width:20px;
				height:20px;
				padding-left:0;
				span {
					display:none;
				}
			}
		}
		.header-well {
			.visible-mobile {
				display:block;
			}
			.tweets {
				display:none;
			}
		}
		.span8 {
			float:none;
			margin-left:0;
			width:100%;
		}
		.results {
			.results-block {
				min-height:0;
				header {
					margin-right:0;
					margin-left:0;
				}
			}
		}
	}
}