<% page_title @version_b.to_title %>
<%= render 'header', page_title: @PAGE_TITLE, object: @object %>

<%= cache @version_b do %>
	<% @attribute_diffs.each do |attribute, diff| %>
		<h4><%= attribute.titleize %></h4>
		<div class="well">
			<%= diff.to_s(:html).html_safe %>
		</div>
		<hr />
	<% end %>
<% end %>
