<div class="gray-strip archive-select" id="archive-select">
  <span class="more">Find an archived Episode:</span>
  <%= form_tag program_archive_path(@program.slug), id: "archive_date_select", class: "archive-date-select" do %>
      <%= date_select 'archive', 'date', 
        :order      => [:month, :day, :year], 
        :start_year => @program.created_at.year, 
        :end_year   => Time.now.year %>
    <%= submit_tag "Go", class: "btn" %>
  <% end %>
</div>
