<div class="show-episode episode">
	<div class="row-fluid">
	<% if episode.assets.present? %>
		<div class="span4">
			<%= render_asset episode, 'lsquare' %>
		</div>
	
		<div class="span8">
	<% else %>
		<div class="span12">
	<% end %>
			<h3><%= link_to episode.title, episode.link_path %></h3>
			<p><%= episode.teaser %></p>
		</div>
	</div>
</div>
