<article class="teaser program-external">
  <div class="row-fluid">
    <div class="span18">
      <div class="info">
        <header>
          <h3><%= link_to relaxed_sanitize(external_episode.title), external_episode.public_url %></h3>
          <span class="byline">
            <%= timestamp(external_episode.air_date) %>
          </span>
        </header>

        <%= simple_format relaxed_sanitize(external_episode.summary) %>
      </div> <!-- info -->
    </div> <!-- span -->

    <div class="span6">
      <%= render "/shared/cwidgets/primary_audio", article: external_episode.to_article, cssClass: "" %>
    </div> <!-- span -->
  </div> <!-- row-fluid -->
</article>
