<div class="span12">
  <h3><%= title %></h3>
  <ul class="list-basic programs-list">
    <% programs.each do |program| %>
      <li>
        <%= link_to program.title, program.public_path %>
      </li>
    <% end %>
  </ul>
</div>
