<div class="span12">
	<h3><%= title %></h3>
	<ul class="list-basic programs-list">
		<% programs.each do |program| %>
			<li>
				<a href="<%= program_path(program) %>"><%= program.title %></a>
			</li>
		<% end %>
	</ul>
</div>