<div class="slice" id="upcoming-slice">
    <h2>Coming up on <%= @show.title %></h2>
    	<span class="next-episode-date"></span>
    	<p>What is the gift that keeps on giving? The presidential primaries, of course. Comedy Congress has hung up its Christmas stocking and found it full of Mitt, Newt, and Barack. It’s your gift for the holidays, too. Next time at one o'clock.</p>
</div>