<% if upcoming %>
<div class="slice" id="upcoming-slice">
    <h2>Coming up on <%= upcoming.show.title %></h2>
    	<span class="next-episode-date"><%= upcoming.air_date %></span>
    	<%= simple_format upcoming.lede %>
</div>
<% end %>