<% @PAGE_TITLE = [@episode.title,@program.title].join(" | ") %>
<h1><%= @episode.title %></h1>

<%= render_asset @episode, "lead" %>

<ul>
<% for s in @episode.segments %>
	<li><%= link_to s.title, s.link_path %></li>
<% end %>
</ul>
