<% add_to_page_title @episode.title %>

<header class="episode">
  <div class="row-fluid">
    <div class="span14">
      <h4><%= @episode.title %></h4>
    </div>
    <div class="span10">
      audio
    </div>
  </div>
</header>

<section class="show-segments episode">
  <%= any_to_list? @episode.external_segments, title: "Segments" do %>
      <%= render partial: 'external_segment', collection: @episode.external_segments %>
  <% end %>
</section>

<%= render "/programs/archive_select" %>
