<div class="row-fluid">
  <div class="span8">
    <!-- just some static content to fill the space for now -->
    <h3>Regular Features</h3>
    
    <div class="well regular-features">
      <div class="feature">
        <h5><a href="/programs/marketplace-morning-report/">Marketplace Morning Report</a></h5>
        <span class="byline">Weekdays at 4:50, 6:50, 7:50 and 8:50 a.m.</span>
      </div>
      
      <div class="feature">
        <h5>Marketplace Tech Report</h5>
        <span class="byline">Weekdays at 10:21 a.m.</span>
      </div>
  
      <div class="feature">
        <h5><a href="/programs/loh-down-on-science/">The Loh Down on Science</a></h5>
        <span class="byline">Weekdays at 5:50 a.m.</span>
      </div>
    
      <div class="feature">
        <h5><a href="/programs/loh-life/">The Loh Life</a></h5>
        <span class="byline">Mon. 8:05 a.m. &amp; during All Things Considered</span>
      </div>
    </div>
  </div> <!-- span -->
  
  <div class="span16">
    <%# Group by day, remove Tuesday, Wednesday, and Thursday (because they're the same as Monday), sort, and then rotate to get Monday first %>
    <% @schedule_slots.group_by(&:day).reject { |d| [2,3,4].include? d }.sort.rotate!.each do |day, slots| %>
      <h3><%= Date::DAYNAMES[day.to_i] %> <%= " - Thursday" if day == 1 %></h3>
      <table class="table table-striped">
        <tbody>
          <% slots.sort_by(&:start_time).each do |slot| %>
            <tr>
              <td class="span6"><span class="byline"><%= slot.format_time %></span></td>
              <td class="span18"><%= link_to slot.program.title, slot.program.public_path %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div> <!-- span -->
</div> <!-- row-fluid -->
