<%# Small video for Modal only %>
<% if video_thumb_counter % 3 == 0 %>
	<div class="row-fluid">
<% end %>

<% if video_thumb ||= nil and video_thumb.assets.present? %>
	<div class="span8">
		<div class="video-thumb">
			<%= render_asset video_thumb, "three_video" %>
			<%= link_to video_thumb.short_headline, video_path(video_thumb) %>
		</div>
	</div>
<% end %>

<% if video_thumb_counter % 3 == 2 %>
	</div>
<% end %>