<%# Small video for Modal/"Latest Videos" strip at the bottom %>

<% size ||= "normal" %>
<% if video_thumb ||= nil and video_thumb.assets.present? %>
	<% asset = video_thumb.assets.first.asset %>
	<li class="video-thumb">
		<%= link_to (size == "small" ? asset.tags.three : asset.tags.three).html_safe, video_path(video_thumb) %>
		<a class="title" href=""><%= video_thumb.short_headline %></a>
	</li>
<% end %>
