<div class="asset-block video-three">
  <div class="contentasset">
    <a href="<%=content.link_path%>">
      <%= assets.first.small.tag %>
      <div class="video-play">play</div>
    </a>
  </div>
</div>
