<% if @g_breaking_news_alert = BreakingNewsAlert.latest_alert %>
  <div class="container-fluid" id="breaking-news">
    <div class="live-update <%= @g_breaking_news_alert.alert_type %>">
      <div class="inner-container">
        <div class="row-fluid">
          <div class="span24">
            <strong><%= @g_breaking_news_alert.break_type %></strong><%= link_to @g_breaking_news_alert.headline, @g_breaking_news_alert.alert_link %>
            <a href="http://info.americanpublicmediagroup.org/LP=238" class="newsletter-sign-up">Sign up for alerts</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
