<div class="contentasset caR" style="width:<%= assets[0].asset.sizes.four.width %>px">
	<%= assets[0].asset.tag(:four) %>
	<h4><%= assets[0].asset.owner %></h4>
	
	<% if assets[0].caption %>
		<p><%= assets[0].caption %></p>
	<% end %>
</div>