<div class="asset-block right" style="width:<%=assets.first.lsquare.width%>px;">
  <div class="contentasset">
    <%= assets.first.lsquare.tag %>
  </div>

  <h4><%= assets.first.owner %></h4>

  <% if assets.first.caption %>
    <p><%= assets.first.caption %></p>
  <% end %>
</div>
