<div class="span2 article-meta">
	<div class="date">
		<p><%= smart_date content %></p>
	</div>
	<%= social_tools_for content, cssClass: "side" %>
	<%= comment_count_for content, cssClass: 'left-side' %>
	<%= render "shared/cwidgets/audio", :content => content %>
</div>
