<div class="span3" id="article-article-meta">
	<div class="article-meta">
		<div class="date">
			<p><%= smart_date content %></p>
		</div>
		<%= social_tools_for content, cssClass: "vertical left" %>
		<%= comment_widget_for content, cssClass: 'left-side' %>
		<%= render "shared/cwidgets/audio", :content => content %>
	</div>
</div>
