<% if content.audio.any? %>
	<aside class="story-audio">
		<div class="inner-container clearfix">
			<div class="audio-content">
				<h4>Listen Now</h4>
			</div>
			<a href="<%= content.audio.first.url %>" class="play-btn" title="<%= h content.headline %>">Play Audio</a>
			<!-- span class="duration">[X min XX sec]</span -->
			<ul class="audio-tools">
			    <li>
			        <a href="<%= content.audio.first.url %>">Download</a>
			    </li>
			</ul>
		</div>
	</aside>
	
	<% content_for :footerjss do %>
		var scA = new scpr.Audio()
	<% end %>
<% end %>