<div class="comment-count <%= cssClass %>">
	<div class="inner-container">
		<a href="<%= content.link_path(anchor: 'comments') %>"><h4><span><%= content.comment_count %></span> Comments</h4></a>
		<a href="<%= content.link_path(anchor: 'comments') %>">Comment on this Story</a>
	</div>
</div>
