<div class="comment-count <%= cssClass %> social_disq" data-objkey="<%= article.original_object.disqus_identifier %>">
  <a href="<%= article.public_url %>#comments"><h4><span class="count"></span> Comments</h4></a>
  <a href="<%= article.public_url %>#comments">Add your comments</a>
</div>
