<div class="comment-count <%= cssClass %> social_disq" data-objkey="<%= content.obj_key %>">
	<div class="inner-container">
		<a href="<%= content.link_path(anchor: 'comments') %>"><h4><span class="count">0</span> Comments</h4></a>
		<a href="<%= content.link_path(anchor: 'comments') %>">Add your comments</a>
	</div>
</div>
