<% if content.category %>
	<div class="content-carousel" id="article-content-carousel">
		<h6 class="more-news-title">
			More in <%= content.category.category %>
			<span><%= link_to "More", forum_events_archive_path %></span>
		</h6>
		
		<div class="row-fluid">
			<% content.category.content(1, 4, content).each do |extra_content| %>
				<div class="span3">
					<%= render_asset extra_content, "thumb" %>
					<span class="title"><%= link_to extra_content.headline, extra_content.link_path %></span>
				</div>
			<% end %>
		</div>
	</div>
<% end %>