<% if content.category %>
	<div class="content-carousel" id="article-content-carousel">
		<h6 class="more-news-title">
			More in <%= content.category.title %>
			<div class="pager-nav">
				<a class="prev"></a>
				<a class="next"></a>
			</div>
		</h6>
		
			<div class="carousel" data-current-page="1"></div>
	</div>

	<% content_for :footerjss do %>
		var carousel = new scpr.ContentCarousel({dataUrl: "<%= category_carousel_path(content.class.to_s, content.id) %>"});
	<% end %>
<% end %>