<% if content.category %>
	<div class="content_carousel">
		<div class="section-head">
			<h3>More in <%= content.category.category %></h3>
			<nav>
				<a class="prev" id="sec_carousel_prev" href="#"><span>prev</span></a>
				<a class="next" id="sec_carousel_next" href="#"><span>next</span></a>
			</nav>
		</div>
		<ul class="carousel clearfix" id="sec_carousel">
			
		</ul>
		<div class="carousel-page clearfix" id="sec_carousel_pag"></div>
	</div>
	
	<% content_for :footerjss do %>
		var secCarousel = new scpr.SectionCarousel(<%= raw content.category.content(1,4,content).to_json(:only => [:id],:methods => [:headline,:obj_key,:first_asset_square,:link_path]) %>);
		
	<% end %>
<% end %>