<div class="span8 more-news">
	<section class="more-news-title">
		<h6>Local</h6><span><a href="" alt="More">More</a></span>
	</section>
	<section class="more-news-content">
		<%= image_tag("more-news-thumb-1.jpg", :alt => '') %>			
		<p class="story-title"><a href="" title="">California lawmakers may find out extent of budget cuts Wednesday</a></p>
		<p class="story-content">State lawmakers may find out soon whether a shortfall in state revenues will trigger billions of dollars in budget cuts.</p>
		<ul class="additional-stories">
			<li><a href="" title="">Proposed design would give City of Angels stadium with wings</a></li>
			<li><a href="" title="">LA Unified teachers ask their union to yield on evaluations</a></li>
			<li><a href="" title="">3 pit bulls slaughter 42 Lake Los Angeles goats</a></li>
		</ul>
	</section>
	<%= yield %>
</div>