<div class="related-content span3">
	<%= image_tag("more-news-segment-thumb-1.jpg", :alt => '', :class => 'segment') %>
	<h6 style='padding-bottom:0;'>Off Ramp</h6>
	<span class="caption">What's at the bottom of Echo Park Lake?</span>	
</div>