<div class="next-prev" id="article-next-prev">
	<div class="row-fluid">
		<div class="span3 row-title">
			<h6>More from <%= @blog.name %></h6>
		</div>
		<div class="span9">
			<div class="row-fluid">
				<div class="span6 left">
					<div class="arrow">&larr;</div>
					<%= link_to(@entry.previous.title, @entry.previous.link_path) if @entry.previous %>
				</div>
				<div class="span6 right">
					<div class="arrow">&rarr;</div>
					<%= link_to(@entry.next.title, @entry.next.link_path) if @entry.next %>
				</div>
			</div> <!-- row fluid -->
		</div> <!-- span -->
	</div> <!-- row fluid -->
</div>
