<% if @story.partner == "pij"  %>
  <section class="partners">
    <p class="<%= @story.partner %>">This story was informed by KPCC listeners. <a href="/network/">Become a source.</a></p>
  </section>
<% end %>
