<% if content.queries.any? %>
	<div class="pij-query">
		<h6>Become a KPCC Source <small><a href="/network/about/">(What's this?)</a></small></h6>
		<ul>
			<% for q in content.queries do %>
				<li><%= link_to q.title, q.link %></li>
			<% end %>
		</ul>
	</div>
<% end %>