<!-- IMPROVEMENT: This should be loaded asynchronously -->
<script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>

<div class="story-media widget">
  <figure class="video">
    <a href="/prototyping/video.html" class="video-link">
      <img src="http://brightcove.vo.llnwd.net/d18/unsecured/media/665003388001/665003388001_1217629210001_salonscreen.jpg?pubId=665003388001" alt="" />
      <span class="play"></span>
    </a>
    <figcaption>
      <h5>Video</h5>
      <h4><a href="#">A Town's Peace Shattered</a></h4>
    </figcaption>
  </figure>
</div>
