<div class="span6" id="article-social-sidebar">
  <div class="social-sidebar">
    <%= content_widget "social_tools", article, cssClass: "vertical left" %>
    <%= comment_widget_for article, cssClass: 'left-side' %>
    <%= content_widget "audio", article %>
  </div>
</div>
