
	<li>
		<h5 class="headline"><%= link_to segment.short_headline, segment.link_path %></h5>
		<%= link_to ( segment.comment_count? ? "Comment (#{segment.comment_count})" : "Comment on this story" ), segment.link_path + "#comments", :class => "comment_link" %>
	</li>

