// VARIABLES
// ---------

// Links
$linkColor:         #007fa6;
$linkColorHover:    lighten($linkColor, 10);

// Grays
$black:             #000;
$nearBlack:         lighten($black, 18%);
$grayDark:          lighten($black, 24%);
$gray:              lighten($black, 50%);
$grayLight:         lighten($black, 75%);
$grayLighter:       lighten($black, 88%);
$nearWhite:			lighten($black, 96%);
$white:             #fff;
$grayAlt:			#3d3d3d;
$grayBorder:		#d9d9d9;
$grayBackground:	#f5f5f5;
$graydarkHR:		#bfbfbf;

// Accent Colors
$blue:              #009fbd;
$blueDark:          #0078a1;
$green:             #46a546;
$red:               #9d261d;
$yellow:            #ffc40d;
$orange:            #f37a00;
$orangeDark:        #b24401;
$pink:              #c3325f;
$purple:            #7a43b6;

// Misc Colors
$facebookBlue:		#3b5895;

// Baseline grid
$basefont:          14px;
$baseline:          21px;

// Clearfix for clearing floats like a boss h5bp.com/q
@mixin clearfix {
  zoom: 1;
	&:before, &:after {
    display: table;
    content: "";
	}
	&:after {
    clear: both;
	}
}
.clearfix {
	@include clearfix
}

// Color Scheme
$baseColor:         $orange;                  // Set a base color
$complement:        spin($baseColor, 180);  // Determine a complementary color
$split1:            spin($baseColor, 158);  // Split complements
$split2:            spin($baseColor, -158);
$triad1:            spin($baseColor, 135);  // Triads colors
$triad2:            spin($baseColor, -135);
$tetra1:            spin($baseColor, 90);   // Tetra colors
$tetra2:            spin($baseColor, -90);
$analog1:           spin($baseColor, 22);   // Analogs colors
$analog2:           spin($baseColor, -22);


// MIXINS
// ------

// mixin for getting IE to respect inline-block
@mixin hide-text() {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

// mixin for getting IE to respect inline-block
@mixin ie-inline-block() {
	display:inline-block;
	zoom:1;
	*display:inline;
}

// Turn an unordered list into a basic horizontal nav
@mixin nav-horiz() {
	display: block;
    float: left;
    padding: 0 10px;
    position: relative;
	list-style-type:none;
}

// Padded containers for when you need it
@mixin box-padding($vertical: 20px, $horizontal: 20px) {
	padding-left: $horizontal;
	padding-right: $horizontal;
	padding-top: $vertical;
	padding-bottom: $vertical;
}
.inner-container {
	@include box-padding(10px, 10px);
}

// Center-align a block level element
.center-block {
	display: block;
  margin: 0 auto;
}

// Center-align contents of a block level element
.center-contents {
	text-align:center;
}

// Sizing shortcuts
@mixin size($height: 5px, $width: 5px) {
	height: $height;
	width: $width;
}

// Input placeholder text
@mixin placeholder($color: $grayLight) {
  :-moz-placeholder {
    color: $color;
  }
  ::-webkit-input-placeholder {
    color: $color;
  }
}

// Font Stacks
@mixin font-shorthand($weight: normal, $size: 14px, $lineHeight: 20px) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}
@mixin font-headline($weight: bold) {
  font-family: "proxima-nova-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: $weight;
}
@mixin font-navigation($weight: normal, $size: 18px, $lineHeight: 20px) {
  font-family: "proxima-nova-alt-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  -webkit-font-smoothing: antialiased;
}
@mixin font-heading($weight: bold, $size: 14px, $lineHeight: 20px) {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}
@mixin font-sans-serif($weight: normal, $size: 14px, $lineHeight: 20px) {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}
@mixin font-serif($weight: normal, $size: 14px, $lineHeight: 20px) {
  font-family: "Georgia", Times New Roman, Times, serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}
@mixin font-slab-headings($weight: normal, $size: 12px, $lineHeight: 20px) {
  font-family: "Museo Slab", Helvetica, sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin font-monospace($weight: normal, $size: 12px, $lineHeight: 20px) {
  font-family: "Monaco", Courier New, monospace;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

// Border Radius
@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

// Drop shadows
@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

// Transitions
@mixin transition($transition) {
	-webkit-transition: $transition;
	   -moz-transition: $transition;
	        transition: $transition;
}

// Background clipping
@mixin background-clip($clip) {
	-webkit-background-clip: $clip;
	   -moz-background-clip: $clip;
	        background-clip: $clip;
}

// CSS3 Content Columns
@mixin content-columns($columnCount, $columnGap: 20px) {
	-webkit-column-count: $columnCount;
	   -moz-column-count: $columnCount;
          column-count: $columnCount;
  -webkit-column-gap: $columnGap;
	   -moz-column-gap: $columnGap;
          column-gap: $columnGap;
}

// Links
a {
  color: $linkColor;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
  &:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }
}

// Buttons
@mixin btnColor($primaryColor, $secondaryColor) {
  background-color:$blueDark;
  @include background-image(linear-gradient($primaryColor, $secondaryColor));
  text-shadow: 0 -1px 0 rgba(0,0,0,.75);
  border-color: $secondaryColor $secondaryColor darken($secondaryColor, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}

.btn {
  // .button(#1174C6);
  cursor: pointer;
  display: inline-block;
  @include background-image(linear-gradient(#fff, #fff 25%, darken(#fff, 10%)));
  padding: 4px 14px;
  text-shadow: 0 1px 1px rgba(255,255,255,.75);
  color: #333;
  font-size: 16px;
  font-weight:600;
  @include font-heading();
  line-height: $baseline;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  @include border-radius(4px);
  $shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  @include box-shadow($shadow);
  &:hover {
    color: #333;
    text-decoration: none;
	@include background-image(linear-gradient(#fff, #fff 25%, darken(#fff, 20%)))
  }
  @include transition(.1s linear all);
  &.primary,
  &.danger,
  &.success,
  &.info {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  &.primary {
    @include btnColor($blue, $blueDark);
	background-color:$blueDark;
	&:hover {
		@include btnColor($blue, darken($blueDark, 10%));
	}
  }
  &.success {
    @include btnColor(#62c462, #57a957);
	background-color:#57a957;
	&:hover {
		@include btnColor(#62c462, darken(#57a957, 10%));
	}
  }
  &.info {
    @include btnColor(#5bc0de, #339bb9);
	background-color:#339bb9;
	&:hover {
		@include btnColor(#5bc0de, darken(#339bb9, 10%));
	}
  }
  &.danger {
    @include btnColor(lighten($red, 15%), $red);
    &:hover {
    	@include btnColor(lighten($red, 15%), darken($red, 10%));
    }
  }
  &.large {
    font-size: 16px;
    line-height: 28px;
    @include border-radius(6px);
  }
  &.small {
    padding-right: 9px;
    padding-left: 9px;
	line-height:16px;
    font-size: 11px;
  }
  &.disabled {
    background-image: none;
    @include opacity(0.65);
    cursor: default;
  }

  // this can't be included with the .disabled def because IE8 and below will drop it ;_;
  &:disabled {
    background-image: none;
    @include opacity(0.65);
    cursor: default;
  }
  &:active {
    $shadow: inset 0 3px 7px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.05);
    @include box-shadow($shadow);
  }
}

// Help Firefox not be a jerk about adding extra padding to buttons
button.btn,
input[type=submit].btn {
  &::-moz-focus-inner {
  	padding: 0;
  	border: 0;
  }
}
// Super jank hack for removing border-radius from IE9 so we can keep filter gradients on alerts and buttons
:root .alert-message,
:root .btn {
  border-radius: 0 \0;
}


// Buttons
/*.button($color: #fff, $padding: 4px 14px, $textColor: #333, $textShadow: 0 1px 1px rgba(255,255,255,.75), $fontSize: 13px, $borderColor: rgba(0,0,0,.1), $borderRadius: 4px) {
  display: inline-block;
  #gradient > .vertical-three-colors($color, $color, 0.25, darken($color, 10%));
  padding: $padding;
  text-shadow: $textShadow;
  color: $textColor;
  font-size: $fontSize;
  line-height: $baseline;
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-color: borderColor borderColor fadein($borderColor, 15%);
  .border-radius($borderRadius);
  $shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  .box-shadow($shadow);
  &:hover {
    background-position: 0 -15px;
    color: $textColor;
    text-decoration: none;
  }
}*/

// Add an alphatransparency value to any background or border color (via Elyse Holladay)
@mixin background($color: $white, $alpha: 1) {
    background-color: hsla(hue($color), saturation($color), lightness($color), $alpha);
}
@mixin border($color: $white, $alpha: 1) {
	border-color: hsla(hue($color), saturation($color), lightness($color), $alpha);
	background-clip: padding-box;
}
#translucent {
	@include background;
	@include border;
}

.divider {
	background:url(image_path('mega-divider.png')) repeat-y right top;
	margin-right:-15px;
}

// Margins & Padding
$margin-center:             0 auto;

// Constrain width of 3rd party embeds in articles
.span6 object, .span6 embed, .span6 iframe {
	max-width:100%;
}