/* DARK THEME FOR VIDEO SECTIONS & OTHER PLACES WHERE THE FOCUS IS ON VISUAL CONTENT */
html {height:100%;}
.dark-theme {	
	// DEFINE FOCUS TRANSITIONS
	.muted {
		@include transition(opacity linear 0.2s);
		@include opacity(0.4);
		&:hover {
			@include opacity(1);
		}
	}
	
	background: $black;
	@include background-image(linear-gradient(lighten($black, 13%), $black));
	background-repeat: no-repeat;
	color:$gray;
	margin:0;
	height:100%;
	
	.alert-message.warning {
		@include background-image(linear-gradient(lighten($nearBlack, 13%), $nearBlack));
		border:none;
		border-radius:0;
		border-bottom:1px solid $black;
		p {
			color:$grayLighter;
		}
	}
	
	#masthead {
		.fb-like { display: none; }
		.logo {
			a {
				background:url(image_path('logo-masthead-dark.png')) no-repeat 0 0;
				text-decoration: none;
				&:before { // So it doesn't wrap to the next line
					content: url(image_path('video-masthead.png'));
					margin-left:200px;
				}
				img { display:none; } // Hide the normal logo
			}
		}

		//Pledge Promo 
		.pledge-container {
			background:none;
			img, .reporter {
				display:none;
			}
			.pledge {
				left:92px;
				margin-left:0;
			}
		}
		// Site Utilities
		nav.utils {
			a { color: $gray;}
			ul li:first-child { border-color: $grayDark; }
		}
	
		// Site Nav
		.nav-primary {
			@include background-image(linear-gradient(darken($nearBlack, 5%), $black));
			background-color:#7f7f7f;
			border:1px solid $black;
			border-left:1px solid lighten($black, 18%);
			border-top:1px solid lighten($black, 18%);
			.sections ul li.listen-live {
				@include background-image(linear-gradient(darken($grayDark, 8%), darken($nearBlack, 10%)));
				background-color:darken($grayDark, 5%);
				&:hover {
					@include background-image(linear-gradient(darken(#cb5f1d, 5%), darken(#9b4816, 5%)));
				}
				a {
					background:url(image_path('icons/antenna.png')) no-repeat 8px 4px;
					opacity:0.7;
					padding-left:33px;
					padding-right:22px;
					&:hover {
						background-color:transparent;
						color:$white;
						opacity:1;
					}
				}
			}
		
			.sections ul li a {	
				color:$gray;
				&:hover, &.hover {
					background-color:darken($nearBlack, 3%);
					color:$white;
					$nav-shadow: 0 1px 3px rgba(0,0,0,1), 0 0 4px $black;
					@include box-shadow($nav-shadow);
				}
			}
		
			form fieldset {
				input.search {
					background-color:$nearBlack;
					border:1px solid $black;
					color:$nearWhite;
					&:focus {
					    border-color:$grayDark;
						$shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px darken($gray, 20%);
					    @include box-shadow($shadow);
					}
				}
				input:-moz-placeholder {color: darken($gray, 10%);}
				input::-webkit-input-placeholder {color: darken($gray, 10%);}
				input.submit {
					background:transparent url(image_path('icons/search-btn.png')) no-repeat 50%;
				}
			}
		
			.section-mega {
				background-color:darken($nearBlack, 3%);
				$mega-shadow:0 5px 6px $black;
				@include box-shadow($mega-shadow);
				h6 { color:$white; }
				a { color:$gray; }
				.blog-title a { color:$grayLight; }
				
				ul.cbase li, 
				.section, 
				ul.content-types li, 
				.section.programs a:first-child { border-color: $grayDark; }
				
				&#programs-mega .section.programs a {
					&:hover { background-color: $nearBlack; }
					p { color: $gray; }
				}
				
				&#support-mega .section .pledge a { color: $white; }
				
			}
		} // nav-primary
	} // masthead
	
	
	// MAIN BODY
	// Headlines & Body Copy
	.story-headline { color:$grayLight; } 

	
	// Comments
	.comments {
		border-top:1px solid $nearBlack;
		.dsq-mobile { 
			background-color: $nearBlack !important; 
			#dsq-topbar, #dsq-comments { background-color: $nearBlack !important; }
			#dsq-comments {
				.dsq-comment, .dsq-comment-body, .dsq-comment-message, .dsq-comment-text { color: $white; }
			}
		}
		.dsq-options, #dsq-footer, #dsq-account-dropdown {
			@include font-sans-serif(normal, 12px);
		}
		#dsq-content h3 {
			border-bottom:1px solid $grayDark;
		}
		.dsq-brlink {display:none;}
	}
}