// @media only screen and (min-width: 1280px) 

	// Griditude
	$gridColumns:       12;
	$gridColumnWidth:   65px;
	$gridGutterWidth:   30px;
	$siteWidth:         ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * $gridColumns);
	$columnOffset: 1;
	
	// Grid System
	.container {
	  width: $siteWidth;
	  margin: 0 auto;
	  @extend .clearfix;
	}
	@mixin columns($columnSpan: 1) {
	  float: left;
	  width: ($gridColumnWidth * $columnSpan) + ($gridGutterWidth * ($columnSpan - 1));
	  margin-left: ($gridGutterWidth / 2);
	  margin-right: ($gridGutterWidth / 2);
	}
	@mixin offsetMath($extraSpace: 40px) {
	  margin-left: ($gridColumnWidth * $columnOffset) + ($gridGutterWidth * ($columnOffset - 1)) + $extraSpace !important;
	}
	@mixin offset($columnOffset: 1) {
	  @include offsetMath(40px);
	  &:first-child {
	   	@include offsetMath(20px);
	  }
	}
	
	// Rows, Columns & Offsets
	.row {
	  @include clearfix();
	    // Default columns
		@for $i from 1 to ($gridColumns + 1) {
		    .span#{$i}
		       { @include columns($i) }
		}
	    // Offset column options
		@for $i from 1 to ($gridColumns + 1) {
		    .offset#{$i}
		       { @include offset($i) }
		}
	}
