/* 
* Styles for pages that use the Base Minimal template
 * ---------------------------------------------------------------------------------------- */

body.minimal {
	background-color:darken($white, 2%);
	@include font-sans-serif;
	p { @include font-sans-serif(200); }	

	header {
		padding-top: 10px;
		height: 30px;
		background:#222;
		@include background-image(linear-gradient(#333, #222));
	    $shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
	    @include box-shadow($shadow);
	
		h3#site-title a {
			background:transparent url(image_path('logo-full-sm.png')) no-repeat left top;
			width:130px;
			height:30px;
			display:block;text-indent:-9999px;
			float: left;
		}
		
		a.home-link { 
			float: right;
			color: darken($white, 20%);
			@include font-shorthand($size: 12px); 
		}
	}
	
	.content-container {
		padding: 100px 0;
		@include background-image(linear-gradient($nearWhite, darken($nearWhite, 5%)));
		border-bottom:1px solid $grayLighter;
		margin-bottom: 20px;
	}
	
	.box {
		background-color:$white;
		border:1px solid $grayLighter;
		padding:20px;
		margin:0 auto;
		max-width: 580px;
		z-index: 10;
		position: relative;
		
		h3 { margin-bottom: 5px; }
		
		ul li {
			margin-bottom: 18px;
			color: $gray;
			strong { color: $orangeDark; }
		}
	}
	
	p.beta-button {
		text-align: center;
		a#beta-button { font-size: 16px; }
		a { margin-bottom: 5px; }
	}
		
	.floating-shadow {
		background:transparent url(image_path('floating-shadow.png')) no-repeat center bottom;
		height: 100px;
		margin-top:-60px;
		position:relative;
		z-index: 5;
	}
	
	footer {
		text-align: center;
		padding-bottom: 10px;
		ul {
			margin: 0;
			list-style: none;
			li, li a { 
				@include font-shorthand($size: 12px, $lineHeight: 10px); 
				color: $grayLight;
			}
			li a:hover { color: $gray; }
			li {
				@include ie-inline-block;
				padding: 0 10px 0 0;
				margin: 0 0 0 10px;
				border-right: 1px solid $grayLight;
				&:first-child { margin-left: 0; }
				&:last-child { 
					padding-right: 0;
					border-right: none;
				}
			}
		}
	}
}
