/* Patterns.scss
 UI elements outside defined base styles
 * ---------------------------------------------------------------------------- */

// Body style
body {
  margin: 0;
  @include font-serif(normal,$basefont,$baseline);
  color: $grayDark;
  text-rendering: optimizeLegibility;
}

// LOGO STYLES
.logo-mark-sm {
	background:transparent url(image_path('logo-mark-sm.png')) no-repeat center left;
	padding-left:32px;
}

// TOPBAR
// ------

// Topbar for Branding and Nav
//header.topbar {
//  height: 40px;
//  top: 0;
//  left: 0;
//  right: 0;
//  z-index: 1000;
//  overflow: visible;
//
//  // gradient is applied to it's own element because overflow visible is not honored by ie when filter is present
//  .fill {
//	@include gradient-vertical(#333, #222);
//    $shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
//    @include box-shadow($shadow);
//  }
//
//  // Links get text shadow
//  a {
//    color: $grayLight;
//  }
//
//  // Hover and active states
//  a:hover,
//  ul li.active a {
//    background-color: #333;
//    background-color: rgba(255,255,255,.05);
//    color: $white;
//    text-decoration: none;
//  }
//
//  // Website name
//  h3 {
//    position:relative;
//    a {
//      float: left;
//      display: block;
//      padding: 4px 20px;
//      color: $white;
//      font-size: 20px;
//      font-weight: 200;
//      line-height: 1;
//    }
//  }
//
//  // Search Form
//  form {
//    float: left;
//    margin: 5px 0 0 0;
//    position: relative;
//    @include opacity(1);
//    input {
//      background-color: #fff;
//      @include font-sans-serif(normal, 13px, 1);
//      padding: 3px 9px;
//      color: #333;
//      border: 1px solid #111;
//	  width:160px;
//      @include transition(width 1s);
//
//	  
//      // Placeholder text gets special styles; can't be bundled together though for some reason
//      &:-moz-placeholder {
//        color: $grayLight;
//      }
//      &::-webkit-input-placeholder {
//        color: $grayLight;
//      }
//      // Focus states (we use .focused since IE8 and down doesn't support :focus)
//      &:focus,
//      &.focused {
//        outline: none;
//        color: $grayDark;
//        padding: 5px 10px;
//		width:220px;
//        @include box-shadow(0 0 3px rgba(0,0,0,.15));
//      }
//    }
//  }
//
//  // Navigation
//
//div.secondary-nav {
//    float: right;
//    margin:10px 0 0 10px;
//	font-size:12px;
//}
//  ul {
//    display: block;
//    float: left;
//    margin: 0 10px 0 0;
//    position: relative;
//    &.secondary-nav {
//      float: right;
//      margin-left: 10px;
//      margin-right: 0;
//    }
//    li {
//      display: block;
//      float: left;
//      font-size: 13px;
//      a {
//        display: block;
//        float: none;
//        padding: 10px 10px 11px;
//        line-height: 19px;
//        text-decoration: none;
//        &:hover {
//          color: #fff;
//          text-decoration: none;
//        }
//      }
//      &.active a {
//        background-color: #222;
//        background-color: rgba(0,0,0,.5);
//      }
//    }
//
//    // Dropdowns
//    &.primary-nav li ul {
//      left: 0;
//    }
//    &.secondary-nav li ul {
//      right: 0;
//    }
//    li.menu {
//      position: relative;
//      a.menu {
//        &:after {
//          width: 0px;
//          height: 0px;
//          @include ie-inline-block;
//          content: "&darr;";
//          text-indent: -99999px;
//          vertical-align: top;
//          margin-top: 8px;
//          margin-left: 4px;
//          border-left: 4px solid transparent;
//          border-right: 4px solid transparent;
//          border-top: 4px solid #fff;
//          @include opacity(0.5);
//        }
//      }
//      &.open {
//        a.menu,
//        a:hover {
//          background-color: #444;
//          background-color: rgba(255,255,255,.1);
//          *background-color: #444; /* IE6-7 */
//          color: #fff;
//        }
//        ul {
//          display: block;
//          li {
//            a {
//              background-color: transparent;
//              font-weight: normal;
//              &:hover {
//                background-color: rgba(255,255,255,.1);
//                *background-color: #444; /* IE6-7 */
//                color: #fff;
//              }
//            }
//            &.active a {
//              background-color: rgba(255,255,255,.1);
//              font-weight: bold;
//            }
//          }
//        }
//      }
//    }
//    li ul {
//      background-color: #333;
//      float: left;
//      display: none;
//      position: absolute;
//      top: 40px;
//      min-width: 160px;
//      max-width: 220px;
//      _width: 160px;
//      margin-left: 0;
//      margin-right: 0;
//      padding: 0;
//      text-align: left;
//      border: 0;
//      zoom: 1;
//      @include border-radius(0 0 5px 5px);
//      @include box-shadow(0 1px 2px rgba(0,0,0,0.6));
//      li {
//        float: none;
//        clear: both;
//        display: block;
//        background: none;
//        font-size: 12px;
//        a {
//          display: block;
//          padding: 6px 15px;
//          clear: both;
//          font-weight: normal;
//          line-height: 19px;
//          color: #bbb;
//          &:hover {
//            background-color: #333;
//            background-color: rgba(255,255,255,.25);
//            color: #fff;
//          }
//        }
//
//        // Dividers (basically an hr)
//        &.divider {
//          height: 1px;
//          overflow: hidden;
//          background: #222;
//          background: rgba(0,0,0,.2);
//          border-bottom: 1px solid rgba(255,255,255,.1);
//          margin: 5px 0;
//        }
//
//        // Section separaters
//        span {
//          clear: both;
//          display: block;
//          background: rgba(0,0,0,.2);
//          padding: 6px 15px;
//          cursor: default;
//          color: $gray;
//          border-top: 1px solid rgba(0,0,0,.2);
//        }
//      }
//    }
//  }
//}


// PAGE HEADERS
// ------------

.hero-unit {
  background-color: #f5f5f5;
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 60px;
  @include border-radius(6px);
  h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
  p {
    font-size: 18px;
    font-weight: 200;
    line-height: $baseline * 1.5;
  }
}

// PAGE HEADERS
// ------------

.page-header {
  margin-bottom: $baseline - 1;
  border-bottom: 1px solid #ddd;
  @include box-shadow(0 1px 0 rgba(255,255,255,.5));
  h1 {
    margin-bottom: ($baseline / 2) - 1px;
  }
}


// ERROR STYLES
// ------------
@mixin gradientBar($primaryColor, $secondaryColor) {
	@include gradient-vertical($primaryColor, $secondaryColor);
 	border-color: $secondaryColor $secondaryColor darken($secondaryColor, 15%);
 	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}


// One-liner alert bars
.alert-message {
  // TODO: Ask cloudhead how to do this fancy filter elegantly. Less eval is returning strings with quotes ;_;
  @include gradient-vertical(rgba(0,0,0,0), rgba(0,0,0,0.15));
  margin-bottom: $baseline;
  padding: 7px 14px;
  color: #fff;
  font-size:13px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  border: 1px solid rgba(0,0,0,.3);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.25));
  p {
    color: #fff;
    @include font-sans-serif();
    margin-bottom: 0;
    + p {
      margin-top: 5px;
    }
  }
  &.error {
	@include gradientBar(#EE5F5B, #C43C35); 
	a {
		color:$white;
		font-weight:bold;
		text-decoration:underline;
	}
  }
  &.warning {
    @include gradientBar(lighten(#fceec1, 10%), lighten(#eedc94, 10%)); 
	p, li {color:$grayDark;font-size:13px;text-shadow:none;}
  }
  &.success {
    @include gradientBar(#62C462, #57a957); 
  }
  &.info {
    @include gradientBar(#5BC0DE, #339BB9); 
  }
  &.inverse {
	@include border-radius(0);
	@include box-shadow(none);
	border:0;
    @include gradientBar($nearBlack, $nearBlack); 
	text-shadow:none;
	a {
		color:$linkColorHover;
	}
  }
  .close {
    float: right;
    margin-top: -2px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
    @include opacity(0.2);
    &:hover {
      text-decoration: none;
      @include opacity(0.4);
    }
  }
}

// LABELS
// ------
.label {
  padding: 1px 3px 2px;
  background-color: $grayLight;
  font-size: $basefont * .75;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  @include border-radius(3px);
  @include font-sans-serif(normal, 11px);
  &.important { background-color: #c43c35; }
  &.warning   { background-color: $orange; }
  &.success   { background-color: $green; }
  &.notice    { background-color: lighten($blue, 25%); }
}

// Block-level Alerts
.block-message {
  margin-bottom: $baseline;
  padding: 14px;
  color: $grayDark;
  color: rgba(0,0,0,.8);
  *color: $grayDark; /* IE 6-7 */
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
  @include border-radius(6px);
  p {
    color: $grayDark;
    color: rgba(0,0,0,.8);
    *color: $grayDark; /* IE 6-7 */
    margin-right: 30px;
    margin-bottom: 0;
  }
  ul {
    margin-bottom: 0;
  }
  strong {
    display: block;
  }
  &.error {
    background: lighten($red, 55%);
    border: 1px solid lighten($red, 50%);
  }
  &.warning {
    background: lighten($yellow, 35%);
    border: 1px solid lighten($yellow, 25%)
  }
  &.success {
    background: lighten($green, 45%);
    border: 1px solid lighten($green, 35%)
  }
  &.info {
    background: lighten($blue, 45%);
    border: 1px solid lighten($blue, 40%);
  }
}


// NAVIGATION
// ----------

// BREADCRUMBS
// -----------
.breadcrumb {
  margin: 0 0 $baseline;
  padding:0px;
  @include font-sans-serif();
  font-size:($basefont * .75);
  li {
    display: inline;
  }
  .active {
	font-weight:bold;
	text-transform:uppercase;
  }
  .divider {
    padding: 0 2px;
    color: $grayLight;
  }
  a, .active a {
    color: $orangeDark;
  }
  a:hover {
	color:$orange;
}
}

// Common tab and pill styles
.nav-tabs,
.pills {
  margin:0 0 20px;
  padding: 0;
  @include clearfix();
  li {
    display: inline;
    a {
      float: left;
      width: auto;
    }
  }
}

// Basic Tabs
.nav-tabs {
  width: 97%;
  border-bottom: 1px solid $grayLight;
  padding-left:3%;
  li {
    > a {
	  color:$gray;
      font-size:12px;
	  margin-bottom: -1px;
      margin-right: 2px;
      padding: 0 12px;
      line-height: ($baseline * 1.5) - 1;
      &:hover {
        background-color: $grayLighter;
        border-bottom: 1px solid $grayLight;
		color:$nearBlack;
		text-decoration:none;
      }
    }
  }
    > .active > a {
      background-color: #fff;
      padding: 0 13px;
      border: 1px solid #ccc;
      border-bottom: 0;
      color: $orangeDark;
    }
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}

// Basic pill nav
.nav-pills {
	@include font-sans-serif();
	@include clearfix();
	margin:0;
  li {
	@include nav-horiz();
	display:block;
	float:none;
	padding:0;
    a {
      margin: 0;
      padding: 5px 15px;
      line-height: 30px;
      @include border-radius(3px);
      &:hover {
        background: $grayLighter;
        color: #fff;
        text-decoration: none;
      }
    }
    &.ui-tabs-selected a {
      background: $linkColor;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.25);
    }
  }
}
// Pills
.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px; // decrease margin to match sizing of stacked tabs
}

// DROPDOWNS
// ---------

.nav-tabs .dropdown-menu {
  @include border-radius(0 0 5px 5px); // remove the top rounded corners here since there is a hard edge above the menu
}
.nav-pills .dropdown-menu {
  @include border-radius(4px); // make rounded corners match the pills
}

// Default dropdown links
// -------------------------
// Make carets use linkColor to start
.nav-tabs .dropdown-toggle .caret, .nav-pills .dropdown-toggle .caret {
  border-top-color: $linkColor;
  border-bottom-color: $linkColor;
  margin-top: 12px;
}
.nav-tabs .dropdown-toggle:hover .caret, .nav-pills .dropdown-toggle:hover .caret {
  border-top-color: $linkColorHover;
  border-bottom-color: $linkColorHover;
}

// Active dropdown links
// -------------------------
.nav-tabs .active .dropdown-toggle .caret, .nav-pills .active .dropdown-toggle .caret {
  border-top-color: $grayDark;
  border-bottom-color: $grayDark;
}

// Active:hover dropdown links
// -------------------------
.nav > .dropdown.active > a:hover {
  color: $black;
  cursor: pointer;
}

// Open dropdowns
// -------------------------
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover {
  color: $white;
  background-color: $grayLight;
  border-color: $grayLight;
}
.nav li.dropdown.open .caret, .nav li.dropdown.open.active .caret, .nav li.dropdown.open a:hover .caret {
  border-top-color: $white;
  border-bottom-color: $white;
  @include opacity(1);
}

// Dropdowns in stacked tabs
.tabs-stacked .open > a:hover {
  border-color: $grayLight;
}
// DROPDOWN MENUS
// --------------

// Use the .menu class on any <li> element within the topbar or ul.tabs and you'll get some superfancy dropdowns
.dropup, .dropdown {
  position: relative;
}
.dropdown-toggle {
  // The caret makes the toggle a bit too tall in IE7
  *margin-bottom: -3px;
}
.dropdown-toggle:active, .open .dropdown-toggle {
  outline: 0;
}

// Dropdown arrow/caret
// --------------------
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top:   4px solid $black;
  border-right: 4px solid transparent;
  border-left:  4px solid transparent;
  content: "";
  @include opacity(0.3);
}

// Place the caret
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown:hover .caret, .open .caret {
  @include opacity(1);
}

// The dropdown menu (ul)
// ----------------------
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0; // override default ul
  list-style: none;
  background-color: $white;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  @include border-radius(5px);
  @include box-shadow(0 5px 10px rgba(0,0,0,.2));
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;

  // Aligns the dropdown menu to right
  &.pull-right {
    right: 0;
    left: auto;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
  }

  // Links within the dropdown menu
  a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: $baseline;
    white-space: nowrap;
  }
}

// Hover state
// -----------
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  text-decoration: none;
  background-color: $grayLighter;
color:$nearBlack;
}

// Open state for the dropdown
// ---------------------------
.open {
  // IE7's z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: 1000;

  & > .dropdown-menu {
    display: block;
  }
}


// Dividers
// --------
.divider-vert {
	background: url(image_path('divider-vert.png')) repeat-y 775px top;
}

// Lists
// --------
.list-basic {
	margin-left:0;
	border-top:1px solid $grayLighter;
	li {
		list-style-type:none;
		border-bottom:1px solid $grayLighter;
		a{
			display:block;
			padding:8px 4px;
		}
	}
}
.list-blocks {
	margin-left:0;
	border-top:1px solid $grayLighter;
	li {
		list-style-type:none;
		border-bottom:1px solid $grayLighter;
		padding:10px 14px;
	}
}


// PAGINATION
// ----------

.pagination {
  height: $baseline * 2;
  margin: 17px 0 3px;
  a, span, em {
    float: left;
	font-size:12px;
	margin:4px;
    padding: 0 8px;
    line-height: $baseline * 1.2;
    border: 1px solid #ddd;
    border: 1px solid rgba(0,0,0,.15);
    text-decoration: none;
  }
  a:hover,
  &.active a {
    background-color: lighten($blue, 45%);
  }
  &.disabled a,
  &.disabled a:hover {
    background-color: none;
    color: $grayLight;
  }
  &.next a {
    border: 0;
  }
}


// WELLS
// -----

.well {
  background-color: #f5f5f5;
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,.05);
  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
}


// MODALS
// ------

.modal-backdrop {
  background-color: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.modal-backdrop, .modal-backdrop.fade.in {
  @include opacity(0.8);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2000;
  width: 560px;
  margin: -280px 0 0 -250px;
  background-color: $white;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.3);
  *border: 1px solid #999; /* IE6-7 */
  @include border-radius(6px);
  @include box-shadow(0 3px 7px rgba(0,0,0,0.3));
  @include background-clip(padding-box);
  &.fade {
    $transition: opacity .3s linear, top .3s ease-out;
    @include transition($transition);
    top: -25%;
  }
  &.fade.in { top: 50%; }
  &.wide {
	margin: -320px 0 0 -370px;
	width:740px;
  }
  &.hide {
	display:none;
  }
  .modal-header {
    border-bottom: 1px solid #eee;
    padding: 5px 20px;
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #999;
      line-height:10px;
      font-size: 18px;
    }
  }
  .modal-body {
    padding: 20px;
	img {
		max-width:100%;
	}
  }
  .modal-footer {
    background-color: #f5f5f5;
    padding: 14px 20px 15px;
    border-top: 1px solid #ddd;
    @include border-radius(0 0 6px 6px);
    @include box-shadow(inset 0 1px 0 #fff);
    @include clearfix();
    .btn {
      float: right;
      margin-left: 10px;
    }
  }
}


// POPOVER ARROWS
// --------------

  @mixin arrow-above($arrowWidth: 5px) {
    bottom: 0;
    left: 50%;
    margin-left: -$arrowWidth;
    border-left: $arrowWidth solid transparent;
    border-right: $arrowWidth solid transparent;
    border-top: $arrowWidth solid #000;
  }
  @mixin arrow-left($arrowWidth: 5px) {
    top: 50%;
    right: 0;
    margin-top: -$arrowWidth;
    border-top: $arrowWidth solid transparent;
    border-bottom: $arrowWidth solid transparent;
    border-left: $arrowWidth solid #000;
  }
  @mixin arrow-below($arrowWidth: 5px) {
    top: 0;
    left: 50%;
    margin-left: -$arrowWidth;
    border-left: $arrowWidth solid transparent;
    border-right: $arrowWidth solid transparent;
    border-bottom: $arrowWidth solid #000;
  }
  @mixin arrow-right($arrowWidth: 5px) {
    top: 50%;
    left: 0;
    margin-top: -$arrowWidth;
    border-top: $arrowWidth solid transparent;
    border-bottom: $arrowWidth solid transparent;
    border-right: $arrowWidth solid #000;
  }

// TWIPSY
// ------

.twipsy {
  display: block;
  position: absolute;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  z-index: 1000;
  @include opacity(0.8);
  @include font-sans-serif();
  &.above .twipsy-arrow   { @include arrow-above(); }
  &.left .twipsy-arrow    { @include arrow-left(); }
  &.below .twipsy-arrow   { @include arrow-below(); }
  &.right .twipsy-arrow   { @include arrow-right(); }
  .twipsy-inner {
    padding: 3px 8px;
    background-color: #000;
    color: white;
    text-align: center;
    max-width: 200px;
    text-decoration: none;
    @include border-radius(4px);
  }
  .twipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
  }
}


// POPOVERS
// --------

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 5px;
  display: none;
  &.above .arrow { @include arrow-above(); }
  &.right .arrow { @include arrow-left();  }
  &.below .arrow { @include arrow-below(); }
  &.left .arrow  { @include arrow-right(); }
  .arrow {
    position: absolute;
    width: 0;
    height: 0;
  }
  .inner {
    background-color: #333;
    background-color: rgba(0,0,0,.8);
    *background-color: #333; /* IE 6-7 */
    padding: 3px;
    overflow: hidden;
    width: 280px;
    @include border-radius(6px);
    @include box-shadow(0 3px 7px rgba(0,0,0,0.3));
  }
  .title {
    background-color: #f5f5f5;
    padding: 9px 15px;
    line-height: 1;
    @include border-radius(3px 3px 0 0);
    border-bottom:1px solid #eee;
  }
  .content {
    background-color: $white;
    padding: 14px;
    @include border-radius(0 0 3px 3px);
    @include background-clip(padding-box);
    p, ul, ol {
      margin-bottom: 0;
    }
  }
}

// THUMBNAILS
// ----------

.thumbnails {
  margin-left: -$gridGutterWidth;
  list-style: none;
  @include clearfix();
}
.thumbnails > li {
  float: left;
  margin: 0 0 $baseline $gridGutterWidth;
}
.thumbnails .thumbnail {
  display: block;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ddd;
  @include box-shadow(0 1px 1px rgba(0,0,0,.075));
}
// Add a hover state for linked versions only
.thumbnails a.thumbnail:hover {
  border-color: $linkColor;
  @include box-shadow(0 1px 4px rgba(0,105,214,.25));
}
// Images and captions
.thumbnails .thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.thumbnails .thumbnail .caption {
  padding: 9px;
}