// deep breath...
#megamenu, #masthead-nav-condensed, #masthead-mid-header-wrapper, #masthead-right-header-wrapper, 
#beta-bar, #offscreen-header, #broadcast-bar-outer-container,
#sidebar, #sidebar-top, #sidebar-bottom,
#article-sharing-tools, #dsq-reply, #dsq-global-toolbar, #dsq-realtime-options, #dsq-sort-by, #dsq-pagination,
#article-content-carousel, #article-article-meta,
#program-masthead-support, #program-masthead-headshot, .section-nav-header,
#fold-comments-count-widget, .sfy-story, #article-next-prev,
#footer-nav, #footer-bottom-links, #footer-support-button, #iphone-app-promo, 
.audio-bar, #uvTab, object, embed, iframe { display: none !important; }

#fold .row-title h6 { text-align: left; }

.head-lead { min-height: 0 !important; }
#masthead { padding: 0 !important; margin: 0 !important; }

#article-related-content .story-body, .event-details {
	a, a#events-rsvp-button {
		&:link, &:visited {
			color: darken(#007fa6, 15%);
			font-weight: bold;
		
			&:after {
			   content: " (" attr(href) ") "; // nice
			   font-size: 80%;
		   }
		}
	}
}