$containerPadding: 25px;

// Device sizes
$mediaMax: $gridRowWidth + $containerPadding * 2; // The maximum we care about, after this it's just fixed-grid
$mediaDesktopSmall: 960px;
$mediaMidLandscape: 1024px;
$mediaMidPortrait: 768px;
$mediaSmallLandscape: 480px;
$mediaSmallPortrait: 320px;

// RESPONSIVE CLASSES
// ------------------

// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate
.hidden {
  display: none;
  visibility: hidden;
}

.container-fluid {
	@include clearfix;
	padding-left: $containerPadding;
	padding-right: $containerPadding;
	position: relative; // for modals
}

// Visibility utilities
// For desktops
.visible-phone     { display: none; }
.visible-tablet    { display: none; }
.visible-desktop   { display: block; }
.hidden-phone      { display: block; }
.hidden-tablet     { display: block; }
.hidden-desktop    { display: none; }

// Tablets & small desktops only
@media screen and (min-width: 768px) and (max-width: 979px) {
  .visible-tablet    { display: block; }
  .hidden-tablet     { display: none; }
  .hidden-desktop    { display: block; }
  .visible-desktop   { display: none; }
}



// Phone Landscape and below
@media screen and (max-width: $mediaSmallLandscape) {	
	// Make all columns even
	.row-fluid > [class*="span"] {
		float: none;
		display: block;
		width: auto;
		margin: 0;
	}
	
	.hidden-phone      { display: none; }

	// Block level the page header small tag for readability
	.page-header h1 small {
		display: block;
		line-height: $baseLineHeight;
	}
	
	.show-segments .teaser .info {
		border-right: none !important;
		padding-right: 0;
	}
	
	.broadcastbar .show-time {
		display: none;
	}
	
	
	.more-news-content {
		border-right: none !important;
	}
	
	.cbase.offlead .row-fluid { @include makeFluidRow; } // Assets are thumbnails so these can stay in multiple column format
	
	.related-content {
		border-top: 1px solid $grayLighter;
		padding-top: 10px;
		@include centeredAsset;
		@include responsiveImageAsset($threeW);
	}
	
	// Fluid Footer for small resolutions
		.footer-nav { 
			> .span3 { // one column
				margin-left: 0;
				.section {
					@include makeFluidRow; // So the rows within each section will persist
					border-left: none !important;
					border-bottom: 1px solid $grayDark;
					padding-bottom: 5px;
					padding-top: 5px;
					min-height: 0;
					.mq-row-fluid {
						@include makeFluidRow;
					}
					nav {
						@include gridFluidSpan(6);
					}
				}
		
				&:last-child .section {
					border-bottom: none;
				}
			}
		}
	// end Fluid Footer
	
	// Hide CFF vertical nav, show horizontal nav
		nav.section-nav.vertical { display: none; }
		nav.section-nav.horizontal { display: block; }
	// end CFF navs
	
	.more-news-content {
		border-right: none;
		padding-right: none;
		margin-bottom: 5px;
	}
	
	.homepage-top {
		.events-forum {
			border: none !important;
			padding-left: 0 !important;
			.mq-row-fluid {
				@include makeFluidRow;
			}
		}
	}
}



// Between Tablet Portrait and Phone Landscape
@media screen and (max-width: $mediaMidPortrait - 1) and (min-width: $mediaSmallLandscape + 1) {
	@include gridFluid($fluidGridColumnWidth, $fluidGridGutterWidth);
	.head-lead {
		@include vertify;
	}
	
	.footer-nav > .span3 { // two columns
		@include gridFluidSpan(6);
		&:nth-child(3) { 
			margin-left: 0px;
			.section { border-left: none; }
		}
	}
	
	// Set new widths for main columns in CFF layout
		#forum {
			#forum-span-content { // main content
				@include gridFluidSpan(7);
			}
			#forum-span-sidebar { // sidebar
				@include gridFluidSpan(5);
			}
			
			#forum-span-upcoming-events { // upcoming events
				@include gridFluidSpan(12);
			}
			#forum-span-social { // social media
				display: none;
			}
		}
	// End CFF layout widths
}



// Below Portrait Tablet ("reader mode")
@media screen and (max-width: $mediaMidPortrait - 1) {	
	.fold h6 {
		margin-top: 0 !important;
		text-align: left !important;
	}
	
	.comment-count {
		display: none;
	}
	
	.article-meta {
		display: none;
	}
	
	// hide Sidebars on "main" bodies
		#main {
			#sidebar, #sidebar-top, #sidebar-bottom {
				display: none;
			}
		}
	// end hide Sidebars
		
	#beta-bar {
		display: none;
	}
	
	// Vertify Layouts
		#main, .homepage-top, .homepage-bottom { // Since we have different sections on the homepage and `vertify` looks for .row-fluid as direct descendants
			@include vertify;
		} 
	// end Vertify

	.broadcastbar .next-program { display: none; }
	#masthead { 
		text-align: center;
		.utils { display: none; }
		
		// Minimal Header
			background: $grayLighter;
			@include box-shadow(0 3px 5px rgba(0,0,0,.5));

			.nav-primary {
				display: none;
			}

			.nav-condensed {
				display: block;
			}
		// end Minimal Header
	}
	
	.homepage-top {
		border-bottom: none !important;
		margin-bottom: 0 !important;
	}
	
	// since we're hiding the sidebars, remove the borders around more news
	.more-news-container {
		border-right: none;
		padding-right: none;
		margin-bottom: 5px;
		.more-news {
			border-bottom: none;
		}
	}
	
	// Forum Events header switch
		#events-header {
			display: none;
		}
	
		.events-header-small { display: block; }
	// end Forum Events Header
	
	.section-nav-header { display: none; }
	#events-event-detail { @include gridFluidSpan(12); }
}





// Tablet Portrait And Above
@media screen and (min-width: $mediaMidPortrait) {
	@include gridFluid($fluidGridColumnWidth, $fluidGridGutterWidth);
}


// Below Tablet Landscape
@media screen and (max-width: $mediaDesktopSmall - 1) {
	// Simplify Filters nav to allow for graceful wrapping
		.filters {
			li.heading {
				display: none !important;
			}
			.active-arrow {
				display: none !important;
			}
		}
	// end Filters
	
	// Pledge Banner to Button & hide form
		#masthead {
			form {
				display: none;
			}
			.mid-header-wrapper {
				text-align: center;
				.pledge-container {
					display: none;
				}

				.pledge-button-container {
					display: inline-block;
				}
			}
		}
	// end Pledge Banner to Button
	
	.audio-bar, #uvTab {
		display: none !important; // temporary
	}
}



// Small Landscape to desktop small
@media screen and (max-width: $mediaDesktopSmall - 1) and (min-width: $mediaSmallLandscape) {
	
	// vertify the lead stories //
		#main {
			.homepage-default {
				@include vertify;
				.offleads {
					@include makeFluidRow;
					.span4:last-child .offlead {
						border-right: none;
					}
					.offlead {
						padding-left: 5px;
						padding-right: 5px;
						border-right: 1px solid $grayLighter;
						border-bottom: none;
					}
				}
			}
		}
	// end //
}

// Below Small Desktop
@media screen and (max-width: $mediaDesktopSmall - 1) {
	.homepage-default {
		.lead5 {
			@include centeredAsset;
			border-bottom: 1px solid $grayLighter;
			padding-bottom: 5px;
			margin-bottom: 5px;
		}
	}
}



// Below Max Width
@media screen and (max-width: $mediaMax - 1) {
	
	// This happens below maxWidth because the banner is an image.
	// TODO Change the support banner to a more fluid div so it can scale nicely.
	// Remove background from Support Banner to allow fluidity //
		.program-masthead .support {
			display: block !important;
			background: none !important;
			width: auto !important;
			height: auto !important;
			a {
				display: inline;
				color: $black !important;
				text-shadow: none !important;
			}
		}
	// end Support Banner
	
}


// Max width (normal screen) and above
@media screen and (min-width: $mediaMax) {
	.container-fluid {
		margin-left: auto;
		margin-right: auto;
		max-width: $gridRowWidth;
	}
}