/* Mostly based on the 1140px Grid V2 by Andy Taylor \ http://cssgrid.net */

$gridColumns:       12;
$gridColumnWidth:   4.85%;
$gridGutterWidth:   3.8%;
$siteWidth:         ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * $gridColumns);
$columnOffset: 1;
$extraSpace: ($gridGutterWidth * 2);


img {max-width:100%;}
/* Column percentages */
.container {
  padding-left: 20px;
  padding-right: 20px; }

.span1, .span2, .span3, .span4, .span5, .span6,
.span7, .span8, .span9, .span10, .span11 {
  margin-right: 3.8%;
  float: left;
  min-height: 1px; }

.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden; }
  .row .span1 {
    width: 4.85%; }
  .row .span2 {
    width: 13.45%; }
  .row .span3 {
    width: 22.05%; }
  .row .span4 {
    width: 30.75%; }
  .row .span5 {
    width: 39.45%; }
  .row .span6 {
    width: 48%; }
  .row .span7 {
    width: 56.75%; }
  .row .span8 {
    width: 65.4%; }
  .row .span9 {
    width: 74.05%; }
  .row .span10 {
    width: 82.7%; }
  .row .span11 {
    width: 91.35%; }
  .row .span12 {
    width: 100%;
    float: left; }
  .row .last, .row > :last-child {
    margin-right: 0px; }
  .row .offset1 {
    margin-left: 8.65%; }
  .row .offset2 {
    margin-left: 17.25%; }
  .row .offset3 {
    margin-left: 25.85%; }
  .row .offset4 {
    margin-left: 34.55%; }
  .row .offset5 {
    margin-left: 43.25%; }
  .row .offset6 {
    margin-left: 51.8%; }
  .row .offset7 {
    margin-left: 60.55%; }
  .row .offset8 {
    margin-left: 69.2%; }
  .row .offset9 {
    margin-left: 77.85%; }
  .row .offset10 {
    margin-left: 86.5%; }
  .row .offset11 {
    margin-left: 95.15%; }
  .row .formLeftCol {
    width: 130px;
    float: left; }
  .row .formRightCol {
    margin-left: 150px; }

img, object, embed {
  max-width: 100%; }

img {
  height: auto; }
  
/* Form styling */
  input.span1, input.span2, input.span3, input.span4, input.span5, input.span6, input.span7, input.span8, input.span9, input.span10, input.span11, input.span12, select.span1, select.span2, select.span3, select.span4, select.span5, select.span6, select.span7, select.span8, select.span9, select.span10, select.span11, select.span12, textarea.span1, textarea.span2, textarea.span3, textarea.span4, textarea.span5, textarea.span6, textarea.span7, textarea.span8, textarea.span9, textarea.span10, textarea.span11, textarea.span12 {
  display: inline-block;
  float: none;
  margin-left: 0; }

.input-mini,
input.mini,
textarea.mini,
select.mini {
  width: 60px; }

.input-small,
input.small,
textarea.small,
select.small {
  width: 90px; }

/* Media Queries
================================================== */
/* Larger than Tablet Portrait size */
@media only screen and (min-width: 768px),
	only screen and (min-device-width: 768px) {
  .input-xxlarge,
  input.xxlarge,
  textarea.xxlarge,
  select.xxlarge {
    width: 530px; } }
	
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 768px),
	only screen and (max-device-width: 768px) and (orientation: portrait) {
  .row, body {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px; }

  .row .span1, .row .span2, .row .span3, .row .span4, .row .span5, .row .span6, .row .span7, .row .span8, .row .span9, .row .span10, .row .span11, .row .span12 {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px; }

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px),
	 only screen and (min-device-width: 480px) and (max-device-width: 767px) {
  .input-xxlarge,
  input.xxlarge,
  textarea.xxlarge,
  select.xxlarge {
    width: 270px; } }
	
/* Larger than Mobile Landscape Size */
@media only screen and (min-width: 480px),
	only screen and (min-device-width: 480px) {
  .input-medium,
  input.medium,
  textarea.medium,
  select.medium {
    width: 150px; }

  .input-large,
  input.large,
  textarea.large,
  select.large {
    width: 210px; }

  .input-xlarge,
  input.xlarge,
  textarea.xlarge,
  select.xlarge {
    width: 270px; } }
	
/* Samller than Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px),
	only screen and (max-device-width: 479px) {
  .input-medium,
  input.medium,
  textarea.medium,
  select.medium,
  .input-large,
  input.large,
  textarea.large,
  select.large,
  .input-xlarge,
  input.xlarge,
  textarea.xlarge,
  select.xlarge,
  .input-xxlarge,
  input.xxlarge,
  textarea.xxlarge,
  select.xxlarge {
    width: 125px; } }
}