@import "base/bootstrap/mixins";

// Device sizes
$mediaMax: 1140px; // The maximum we care about, after this it's just fixed-grid
$mediaMidLandscape: 1024px;
$mediaMidPortrait: 767px;
$mediaSmallLandscape: 480px;
$mediaSmallPortrait: 320px;

// RESPONSIVE CLASSES
// ------------------

// Hide from screenreaders and browsers
// Credit: HTML5 Boilerplate
.hidden {
  display: none;
  visibility: hidden;
}

.container-fluid {
	@include clearfix;
	padding-left: 15px;
	padding-right: 15px;
}

// Visibility utilities
// For desktops
.visible-phone     { display: none; }
.visible-tablet    { display: none; }
.visible-desktop   { display: block; }
.hidden-phone      { display: block; }
.hidden-tablet     { display: block; }
.hidden-desktop    { display: none; }

// Phones only
@media (max-width: 767px) {
  // Show
  .visible-phone     { display: block; }
  // Hide
  .hidden-phone      { display: none; }
  // Hide everything else
  .hidden-desktop    { display: block; }
  .visible-desktop   { display: none; }
}

// Tablets & small desktops only
@media (min-width: 768px) and (max-width: 979px) {
  // Show
  .visible-tablet    { display: block; }
  // Hide
  .hidden-tablet     { display: none; }
  // Hide everything else
  .hidden-desktop    { display: block; }
  .visible-desktop   { display: none; }
}

// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {

	// Undo negative margin on rows
	.row {
		margin-left: 0;
	}

	// Make all columns even
	.row > [class*="span"], .row-fluid > [class*="span"] {
		float: none;
		display: block;
		width: auto;
		margin: 0;
	}

	// Block level the page header small tag for readability
	.page-header h1 small {
		display: block;
		line-height: $baseLineHeight;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	@include gridFluid($fluidGridColumnWidth, $fluidGridGutterWidth);
}

// Small devices/Phones (up to tablet=768, exclusive)
// --------------------------------------------------

@media (max-width: 767px) {
  
	.footer-nav {
		.section {
			border-left: none !important;
		}
	}
	
	// Remove width from containers
	.container-fluid {
		width: auto;
	}
	// Fluid rows
	.row-fluid {
		width: 100%;
	}
	
	#sidebar {
		display: none;
	}
	
	.contentasset {
		text-align: center;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	
	#beta-bar {
		display: none;
	}
	
	#masthead {
		text-align: center;
		.pledge-container {
			display: none;
		}
	}
}



// PORTRAIT TABLET TO DEFAULT DESKTOP
// ----------------------------------

@media (min-width: 768px) and (max-width: 979px) {
	
  // Fixed grid
  //@include gridCore($gridColumnWidth, $gridGutterWidth);

  // Fluid grid
  @include gridFluid($fluidGridColumnWidth, $fluidGridGutterWidth);

}



// TABLETS AND BELOW
// -----------------
@media (max-width: 979px) {
	.nav-primary {
		display: none;
	}
	
	#offsreen-header {
		display: none;
	}
	
	.nav-compact {
		display: block !important;
	}
}



// DEFAULT DESKTOP
// ---------------

@media (min-width: 980px) {
	@include gridFluid($fluidGridColumnWidth, $fluidGridGutterWidth);
}

@media (max-width: 1004px) {
	.ad {
		overflow: hidden;
		img, object, .dfp {
			max-width: 100% !important;
		}
	}
	
	.program-masthead .support {
		display: block !important;
		background: none !important;
		width: auto !important;
		height: auto !important;
		a {
			display: inline;
			color: $black !important;
			text-shadow: none !important;
		}
	}
}

@media (max-width: 1064px) {
	.contentasset {
		max-width: 100% !important;
		img {
			height: auto !important;
		}
	}
}

// LARGE DESKTOP & UP
// ------------------

@media (min-width: $mediaMax) {
	.container-fluid {
		margin-left: auto;
		margin-right: auto;
		max-width: $gridRowWidth;
	}
	
	// Fixed grid
	@include gridCore($gridColumnWidth, $gridGutterWidth);

	// Input grid
	@include gridInput($gridColumnWidth, $gridGutterWidth);

}