<%= render :partial => "shared/footer/megamenus" %>
<%= render :partial => "shared/footer/footer" %>

<div id="iphone-app-promo" style="display:none;">
	<div class="container">
		<div class="row">
			<div class="span2">
				<% image_tag("mobile/iphone-app-promo.png") %>
			</div>
			<div class="span10">
				<h3>Get KPCC live and on-demand, plus headlines and video, on our iPhone app!</h3>
				<h4><a href="http://itunes.com/apps/kpcc-radio">Install the app</a></h4>
			</div>
		</div>
	</div>
</div>