<section class="trending clearfix">
	<h6>Trending:</h6>
	<ul class="nav">
	    <li><a href="#">San Onofre</a></li>
	    <li><a href="#">Dodgers Sale</a></li>
	    <li><a href="#">New Gmail</a></li>
	    <li><a href="#">Steve Jobs</a></li>
	    <li><a href="#">Magic Castle</a></li>
	</ul>
</section>