<header id="masthead">
	<div class="container">
		<div class="row">
    		<div class="logo span6">
		        <h1>
		            <a href="/">
		            	<%= image_tag "logo-masthead.png" %>
		            </a>
		        </h1>
		    </div>
			<div class="span2">
				<div class="pledge">
					<a href="">Pledge Now</a>
				</div>
			</div>
		    <nav class="utils span4">
				<ul class="nav secondary-nav clearfix">
					<li class="social">Follow us
	    		        
						<a href=""><img src="http://media.scpr.org/assets/images/icons/header-icn-facebook.png" alt="" /></a>
	    		        <a href=""><img src="http://media.scpr.org/assets/images/icons/header-icn-twitter.png" alt="" /></a>
	    		    </li>
					<li><a href="">Membership</a></li>
	    		    <li><a href="">Login</a></li>
	    		    <li><a href="">Register</a></li>
	    		</ul>
	    	</nav>
		</div>
		<div class="row">
			<nav class="nav-primary topbar span12">
				<nav class="sections clearfix">
					<ul>
					    <li class="listen-live">
					        <a href="">Listen Live</a>
					    </li>
					    <li class="mega">
					        <a href=""><span>News</span></a>
					    </li>
					    <li class="mega">
					        <a href=""><span>Arts &amp; Life</span></a>
					    </li>
					    <li class="mega">
					        <a href=""><span>Programs</span></a>
					    </li>
					    <li class="mega">
					        <a href=""><span>Events</span></a>
					    </li>
						<li class="mega">
					        <a href=""><span>Support Us</span></a>
					    </li>
					</ul>
					<form action="" class="search" method="post">
						<fieldset>
						    <label>Search:</label>
						    <div class="inputs">
						        <input type="text" name="Search" placeholder="Search" class="search" />
						        <input type="submit" name="Submit" value="Submit" class="submit" />
						    </div>
						</fieldset>
					</form>
				</nav>
				<nav class="section-mega" style="display:none;">
					Megamenu goes here
				</nav>
			</nav>
		</div>
		<!--
		<nav class="topics">
			<h6>Trending Topics</h6>
			<ul>
			    <li>
			        <a href=""></a>
			    </li>
			    <li>
			        <a href=""></a>
			    </li>
			    <li>
			        <a href=""></a>
			    </li>
			    <li>
			        <a href=""></a>
			    </li>
			    <li>
			        <a href=""></a>
			    </li>
			    <li>
			        <a href=""></a>
			    </li>
			</ul>
		</nav>
		-->
	</div>
</header>

<div class="live-update"></div>
<div class="hero"></div>
<!-- end MASTHEAD-->