<header id="masthead">
	<div class="container">
		<div class="row">
    		<div class="logo span6">
		        <h1>
		            <a href="/">
		            	<%= image_tag "logo-masthead.png" %>
		            </a>
		        </h1>
		    </div>
			<div class="span2">
				<div class="pledge">
					<a href="">Pledge Now</a>
				</div>
			</div>
		    <nav class="utils span4">
				<ul class="nav secondary-nav clearfix">
					<li class="social">Follow us
	    		        
						<a href=""><img src="http://media.scpr.org/assets/images/icons/header-icn-facebook.png" alt="" /></a>
	    		        <a href=""><img src="http://media.scpr.org/assets/images/icons/header-icn-twitter.png" alt="" /></a>
	    		    </li>
					<li><a href="">Membership</a></li>
					<% if current_user %>
						<li>Hi <%= current_user.nickname %></li>
						<li><a href="">Log Out</a></li>
					<% else %>
		    		    <li><a href="">Login</a></li>
		    		    <li><a href="">Register</a></li>					
					<% end %>
	    		</ul>
	    	</nav>
		</div>
		<div class="row">
			<nav class="nav-primary topbar span12">
				<nav class="sections clearfix">
					<ul>
					    <li class="listen-live">
					        <a href="">Listen Live</a>
					    </li>
					    <li class="mega">
					        <a href=""><span>News</span></a>
					    </li>
					    <li class="mega">
					        <a href=""><span>Arts &amp; Life</span></a>
					    </li>
					    <li class="mega">
					        <a href=""><span>Programs</span></a>
					    </li>
					    <li class="mega">
					        <a href=""><span>Events</span></a>
					    </li>
						<li class="mega">
					        <a href=""><span>Support Us</span></a>
					    </li>
					</ul>
					<form action="" class="search" method="post">
						<fieldset>
						    <label>Search:</label>
						    <div class="inputs">
						        <input type="text" name="Search" placeholder="Search" class="search" />
						        <input type="submit" name="Submit" value="Submit" class="submit" />
						    </div>
						</fieldset>
					</form>
				</nav>
				<nav class="section-mega clearfix" style="display:none;">
					<div class="categories">
						<div class="inner-container clearfix">
						<h6>Categories</h6>
						<ul>
						    <li>
						        <a href="">Local</a>
						    </li>
						    <li>
						        <a href="">U.S.</a>
						    </li>
						    <li>
						        <a href="">World</a>
						    </li>
						    <li>
						        <a href="">Politics</a>
						    </li>
						    <li>
						        <a href="">Economy</a>
						    </li>
						    <li>
						        <a href="">Environment</a>
						    </li>
						    <li>
						        <a href="">Law</a>
						    </li>
						    <li>
						        <a href="">Education</a>
						    </li>
						</ul>
						<ul class="content-types">
						    <li>
						        <a href="">Video</a>
						    </li>
						    <li>
						        <a href="">Blogs</a>
						    </li>
						</ul>
						</div>
					</div>
					<div class="topics">
						<div class="inner-container clearfix">
						<h6>Hot Topics</h6>
						<ul>
						    <li>
						        <a href="">San Onofre</a>
						    </li>
						    <li>
						        <a href="">Dodgers Sale</a>
						    </li>
						    <li>
						        <a href="">New Gmail</a>
						    </li>
						    <li>
						        <a href="">Steve Jobs</a>
						    </li>
						    <li>
						        <a href="">Magic Castle</a>
						    </li>
						</ul>
						</div>
					</div>
					<div class="featured">
						<div class="inner-container clearfix">
						<h6>Featured Stories</h6>
						<ul>
							<li>
					            <a href="">
					                <img src="http://a.scpr.org/i/0c3c581db41c47c8f9853608ccc82add/4395-lsquare.jpg" alt="" />
					                <p>Brown outlaws cell phones in state prisons</p>
					            </a>
					        </li>
					        <li>
					            <a href="">
					                <img src="http://a.scpr.org/i/82cdb32d3ad6aa566ccac40f9c3c1cc0/7286-lsquare.jpg" alt="" />
					                <p>Feds order CA medical pot shops to shut down</p>
					            </a>
					        </li>
						</ul>
						</div>
					</div>
				</nav>
			</nav>
		</div>
		<!--
		<nav class="topics">
			<h6>Trending Topics</h6>
			<ul>
			    <li>
			        <a href=""></a>
			    </li>
			    <li>
			        <a href=""></a>
			    </li>
			    <li>
			        <a href=""></a>
			    </li>
			    <li>
			        <a href=""></a>
			    </li>
			    <li>
			        <a href=""></a>
			    </li>
			    <li>
			        <a href=""></a>
			    </li>
			</ul>
		</nav>
		-->
	</div>
</header>

<div class="live-update"></div>
<div class="hero"></div>
<!-- end MASTHEAD-->