<div class="modal-popup hidden <%= cssClass %>"<%= " id=#{id}" if id.present? %>>
	<div class="arrow-up"></div>
	<div class="modal-close modal-toggler"></div>
	<div class="inner-container">
		<%= yield :modal_content %>
	</div>
</div>