<div class="asset-block fallback">
  <div class="contentasset">
    <!-- This partial is rendered by tasks. Don't use asset helper tags. -->
    <a href="<%=article.public_url%>"><img src="/assets/fallback-img-square.png" /></a>
  </div>
</div>
