<!-- /soecials/foster-care -->
<!-- title Foster Care -->


<!-- extra-head -->
<link rel="stylesheet" href="http://media.scpr.org/projects/foster-care/v1/css/foster.css" type="text/css" media="screen" />


<!-- extra tail -->
<script src="http://media.scpr.org/projects/foster-care/v1/js/jquery.mustache.js" type="text/javascript" charset="utf-8"></script>
<script src="http://media.scpr.org/projects/foster-care/v1/js/soundmanager2-nodebug-jsmin.js" type="text/javascript" charset="utf-8"></script>
<script src="http://media.scpr.org/projects/foster-care/v1/js/script.js" type="text/javascript" charset="utf-8"></script>



<!-- content -->
<div id="story" style="margin:0 15px; width:auto;">
        <h1>Foster Care</h1>
        
        <p>Governor Schwarzenegger has signed a new bill into law that extends the time foster kids could remain with their foster families -- from 18 to 21 years old. Ever wonder what life is like for a youth in foster care?</p>
        
        <p>Click on photos of Lola Bell, her sister Zaneta Bell, Trayvon Walker, Shimia Gray, Clarence Wade, and Avery Bankston to hear personal stories of the abuse and neglect that put these former LA County foster youths into the system and what life was like for them once they got there.</p>
        
        <ul id="project-nav">
            <li>Jump to: </li>
            <li><a class="scrollto" href="#voices">Voices</a></li>
            <li><a class="scrollto" href="#issues">Issues</a></li>
            <li><a class="scrollto" href="#from-the-show">From the Show</a></li>
        </ul>

    <div class="section" id="voices">
        <h2>Voices</h2><a class="to-top scrollto" href="#story">back to top</a>

        <div id="player-window">
            <div id="sm2-container"></div>
            <div id="subject-window">
                <p id="initial-text">Select a voice to begin</p>
            </div>
            <div id="player-controls">
                <a href="javascript:void(0);" onclick="toggle_play_pause();"><img src="http://media.scpr.org/projects/foster-care/v1/img/icons/play.png" id="play-button" alt="Play/Pause" title="Play or pause audio" /></a>
                <a href="javascript:void(0);" onclick="restart_current_sound();"><img src="http://media.scpr.org/projects/foster-care/v1/img/icons/restart.png" id="restart-button" alt="Restart" title="Restart audio from beginning" /></a>
                <div id="player-scrubber">
                	<span><em>&nbsp;</em></span>
                </div>
            </div>
        </div>
        
        <div id="voices-heads">
        <a href="http://media.scpr.org/projects/foster-care/v1/audio/avery.mp3">
            <img src="http://media.scpr.org/projects/foster-care/v1/img/avery.png" alt="Avery" />
        </a>
        <a href="http://media.scpr.org/projects/foster-care/v1/audio/zaneta.mp3">
            <img src="http://media.scpr.org/projects/foster-care/v1/img/zaneta.png" alt="Zaneta" />
        </a>

        <a href="http://media.scpr.org/projects/foster-care/v1/audio/shimiya.mp3">
            <img src="http://media.scpr.org/projects/foster-care/v1/img/shimiya.png" alt="Shimiya" />
        </a>
        <a href="http://media.scpr.org/projects/foster-care/v1/audio/clarence.mp3">
            <img src="http://media.scpr.org/projects/foster-care/v1/img/clarence.png" alt="Clarence" />
        </a>

        <a href="http://media.scpr.org/projects/foster-care/v1/audio/trayvon.mp3">
            <img src="http://media.scpr.org/projects/foster-care/v1/img/trayvon.png" alt="Trayvon" />
        </a>

        <a href="http://media.scpr.org/projects/foster-care/v1/audio/lola.mp3">
            <img src="http://media.scpr.org/projects/foster-care/v1/img/lola.png" alt="Lola" />
        </a>
        </div>

    </div>
    
    <div class="section" id="issues">
        <h2>Issues</h2><a class="to-top scrollto" href="#story">back to top</a>
        
<h3>
    <a href="/news/2010/09/24/life-systemlong-odds-facing-ls-foster-kids/" class="news-link">Life &quot;in the system&quot; -- long odds facing L.A.’s foster kids</a>
</h3>
<p>            
            <a href="/news/2010/09/24/life-systemlong-odds-facing-ls-foster-kids/">
                <img src="http://media.scpr.org/images/2010/09/23/walker_th.jpg" class="offlede-thumb" />
            </a>
Trayvon Walker started life as a foster kid—born addicted to cocaine, he was removed from his mother’s care as an infant.  After spending a short stint living with his mother, he was removed again, permanently, and spent the rest of his adolescence growing up in the foster care system and riding the perpetual wave of instability.  His experiences moving between schools throughout his teenage years demonstrate the kind of emotional whiplash foster kids endure. 
<a href="/news/2010/09/24/life-systemlong-odds-facing-ls-foster-kids/">Read more &raquo;</a>
</p>
<br class="clear-float" />



<h3><a href="/news/2010/10/01/ab-12-gives-foster-kids-hope/" class="news-link">Governor signs bill extending age for foster care youth</a></h3>

<p>
    <a href="/news/2010/10/01/ab-12-gives-foster-kids-hope/">
        <img src="http://media.scpr.org/images/2010/09/24/fostercare_th.jpg" class="offlede-thumb" />
    </a>    
    AB12, the California Fostering Connections to Success Act, will allow foster youth to receive benefits for three additional years to age 21. The measure aims to protect youth from many harsh realities they faced on their own after "aging-out" of the system at 18.
     <a href="/news/2010/10/01/ab-12-gives-foster-kids-hope/">Read more &raquo;</a>
</p>
<br class="clear-float" />

    </div>
    <div class="section" id="from-the-show">
        <h2>From the Show</h2><a class="to-top scrollto" href="#story">back to top</a>
        <iframe src="http://player.vimeo.com/video/14558833?byline=0&amp;portrait=0&amp;color=ffffff" width="780" height="439" frameborder="0"></iframe>
        
        <br /><br />
        
        <h3><a href="/programs/patt-morrison/2010/09/24/fostering-the-most-vital-safety-net-the-problems-o/" class="news-link">Fostering the most vital safety net: The problems of, and potential fixes for, L.A.’s foster care system</a></h3>
        <p>
            <a href="/programs/patt-morrison/2010/09/24/fostering-the-most-vital-safety-net-the-problems-o/">
                <img src="http://media.scpr.org/images/2010/09/23/lola_bell_th.jpg" class="offlede-thumb" />
            </a>
        Too many children too easily fall through the cracks of society. Unwanted or uncared for by parents who are either unwilling or unable to parent, foster kids are among the most vulnerable members of society -- and arguably most in need of a solid social safety net.
        <a href="/news/2010/09/29/life-systemlong-odds-facing-ls-foster-kids/">Read more &raquo;</a>
        </p>
        <br class="clear-float" />

        <br /><br />
        
        <h3><a href="/programs/patt-morrison/2010/10/01/ab12-signed/" class="news-link">The power of 3 extra years: AB12 to the rescue of California’s foster youth</a></h3>
        <p>
            <a href="/programs/patt-morrison/2010/10/01/ab12-signed/">
                <img src="http://media.scpr.org/images/2010/09/23/foster_care_group_th.png" class="offlede-thumb" />
            </a>
      Foster kids at 18 are more likely to be homelessness, incarcerated, or addicted to drugs than the average teen. Yesterday Gov. Schwarzenegger signed AB12 which allows foster youth to stay in the system until they are 21. Can three extra years help the thousands of foster kids manage the difficult transition into independent adulthood?
        <a href="/programs/patt-morrison/2010/10/01/ab12-signed/">Read more &raquo;</a>
        </p>
        <br class="clear-float" />        
                
    </div>
    
    <div class="section" id="credits">
            <p>Reported by Jonathan Serviss &amp; Noelle Conti</p>
            <p>Produced by Jeff Long &amp; Eric Zassenhaus</p>
            <p>Special thanks to:
                <ul>
                    <li>Daniel Heimpel &amp; Eytan Elterman <em>(Fostering Media Connections)</em></li>
                    <li>Laura Hunt &amp; Janis Spire <em>(Alliance for Children’s Rights)</em></li>
                </ul>
            </p>

    </div>    
</div>