<!-- /specials/teachers -->
<!-- title Evaluating Teacher Evaluations -->
<!-- description L.A.-area teachers react to recent efforts to evaluate their performance based on student test scores. -->

<!-- extra head -->
<link rel="stylesheet" href="http://media.scpr.org/assets/styles/new_story.v3.css
" />
<link rel="stylesheet" href="http://media.scpr.org/projects/teacher-eval/v1/css/teachers.css" />
<style>
    #new-comment-list > h2, #new-comment-form h2 { display:none; }
    div.new-comment-body p{
        line-height:16px !important;
        margin:10px 0 !important;
    }
</style>


<!-- extra tail -->
<script src="http://media.scpr.org/projects/teacher-eval/v1/js/jquery.mustache.js"></script>
<script src="http://media.scpr.org/projects/teacher-eval/v1/js/soundmanager2-nodebug-jsmin.js"></script>
<script src="http://media.scpr.org/projects/teacher-eval/v1/js/script.js"></script>


<!-- nav -->
<li style="padding-left:12px;"><a href="/">Top Stories</a></li>
<li><a href="/news/local/">CA/Local</a></li>
<li><a href="/news/us/">U.S.</a></li>
<li><a href="/news/world/">World</a></li>
<li><a href="/news/politics/">Politics</a></li>
<li><a href="/news/economy/">Economy</a></li>
<li><a href="/news/law/">Law</a></li>
<li><a href="/news/education/">Education</a></li>
<li><a href="/news/health/">Health</a></li>
<li><a href="/news/science/">Science</a></li>
<li><a href="/news/transportation/">Transportation</a></li>
<li><a href="/news/arts/">Arts</a></li>
<li><a href="/news/living/">Living</a></li>
<li><a href="/news/opinion/">Opinion</a></li>
<li style="border-right:none"><a href="/network/">Insight Network</a></li>


<!-- content -->
<div id="story" style="margin:0 15px; width:auto;">
        <h1>Evaluating Teacher Evaluations</h1>
        
        <p>Teachers unions across the country have been up in arms about what they call an over-reliance on student test scores in grading instructors and the publication of "value-added" data. When Rigoberto Ruelas, a teacher at Miramonte Elementary School, committed suicide after his “less effective” rating was <a href="http://projects.latimes.com/value-added/">posted online</a> by the "Los Angeles Times," <a href="http://www.scpr.org/programs/airtalk/2010/09/29/teachers-suicide-leads-to-call-for-times-to-remove/">opposition to this controversial method grew</a>.</p> 
        <p>KPCC’s AirTalk hosted a recent debate with education experts about how teachers should be evaluated. Click on the profiles below to hear reactions from L.A.-area teachers, and add your thoughts in the comment section below.</p>
        
        <ul id="project-nav">
            <li>Jump to: </li>
            <li><a class="scrollto" href="#voices">Teachers Speak</a></li>
            <li><a class="scrollto" href="#stories">Stories</a></li>
            <li><a class="scrollto" href="#video">Video</a></li>
        </ul>

    <div class="section" id="voices">
        <h2>Teachers Speak</h2><a class="to-top scrollto" href="#story">back to top</a>

        <div id="player-window">
            <div id="sm2-container"></div>
            <div id="subject-window">
                <p id="initial-text">Select a teacher from below to begin</p>
            </div>
            <div id="player-controls">
                <a href="javascript:void(0);" onclick="toggle_play_pause();"><img src="http://media.scpr.org/projects/teacher-eval/v1/img/icons/play.png" id="play-button" alt="Play/Pause" title="Play or pause audio" /></a>
                <a href="javascript:void(0);" onclick="restart_current_sound();"><img src="http://media.scpr.org/projects/teacher-eval/v1/img/icons/restart.png" id="restart-button" alt="Restart" title="Restart audio from beginning" /></a>
                <div id="player-scrubber">
                	<span><em>&nbsp;</em></span>
                </div>
            </div>
        </div>
        
        <div id="voices-heads">
        <a href="http://media.scpr.org/projects/teacher-eval/v1/audio/allen.mp3">
            <img src="http://media.scpr.org/projects/teacher-eval/v1/img/allen.png" alt="Allen" />
        </a>
        <a href="http://media.scpr.org/projects/teacher-eval/v1/audio/chris.mp3">
            <img src="http://media.scpr.org/projects/teacher-eval/v1/img/chris.png" alt="Chris" />
        </a>

        <a href="http://media.scpr.org/projects/teacher-eval/v1/audio/ken.mp3">
            <img src="http://media.scpr.org/projects/teacher-eval/v1/img/ken.png" alt="Ken" />
        </a>
        <a href="http://media.scpr.org/projects/teacher-eval/v1/audio/larry.mp3">
            <img src="http://media.scpr.org/projects/teacher-eval/v1/img/larry.png" alt="Larry" />
        </a>

        <a href="http://media.scpr.org/projects/teacher-eval/v1/audio/maria.mp3">
            <img src="http://media.scpr.org/projects/teacher-eval/v1/img/maria.png" alt="Maria" />
        </a>

        <a href="http://media.scpr.org/projects/teacher-eval/v1/audio/nathan.mp3">
            <img src="http://media.scpr.org/projects/teacher-eval/v1/img/nathan.png" alt="Nathan" />
        </a>

        <a href="http://media.scpr.org/projects/teacher-eval/v1/audio/tim.mp3">
	            <img src="http://media.scpr.org/projects/teacher-eval/v1/img/tim.png" alt="Tim" />
	        </a>

	     <a href="http://media.scpr.org/projects/teacher-eval/v1/audio/veronica.mp3">
	            <img src="http://media.scpr.org/projects/teacher-eval/v1/img/veronica.png" alt="Veronica" />
	        </a>
        </div>

    </div>
    
    <div class="section" id="stories">
        <h2>Stories</h2><a class="to-top scrollto" href="#story">back to top</a>
        
<h3>
    <a href="http://www.scpr.org/news/2010/11/22/grading-teachers-fight-over-value-added-evaluation/" class="news-link">Teachers turn out in force for AirTalk's value-added debate</a>
</h3>
<p>            
            <a href="http://www.scpr.org/news/2010/11/22/grading-teachers-fight-over-value-added-evaluation/">
                <img src="http://media.scpr.org/images/2010/09/29/rigo-th.jpg" class="offlede-thumb" />
            </a>
             Educators, it turns out, don’t mind doing homework. At least the ones who showed up, outside of school hours, for AirTalk’s recent discussion about grading teacher performance. The November 11 event, held in KPCC’s Crawford Family Forum, drew a packed crowd mostly composed of teachers, past and present.</p>
         <p>In conversation with Larry Mantle, education experts Erik Hanushek and Richard Rothstein explored the pros and cons of various methods used to judge teacher performance, including the hotly debated “value-added” approach, which relies on student test scores. </p>

        <p><a href="http://www.scpr.org/news/2010/11/22/grading-teachers-fight-over-value-added-evaluation/">Read more &raquo;</a>
        </p>
        <br class="clear-float" />
        <br class="clear-float" />

        
        <h3><a href="http://www.scpr.org/programs/airtalk/2010/11/22/making-better-teachers-the-fight-over-value-added-/" class="news-link">Making better teachers: the fight over "value-added" evaluations</a></h3>
		
            <a href="http://www.scpr.org/programs/airtalk/2010/11/22/making-better-teachers-the-fight-over-value-added-/">
                <img src="http://media.scpr.org/images/2010/11/19/teachers_thumb.jpg" class="offlede-thumb" />
            </a>

			<p>When it comes to trying to improve student performance in public schools, many factors come together. One of the major issues is teacher performance and how best to judge teacher effectiveness. The “value-added” approach attempts statistically to show how an individual teacher can make a difference - positively or negatively - in how students do, regardless of class size or background.</p> 
			<p>Recent articles in the Los Angeles Times about this controversial method have sparked a nationwide debate, which has pitted President Obama’s Secretary of Education against teacher unions and many academics.</p>
       
        <p><a href="http://www.scpr.org/programs/airtalk/2010/11/22/making-better-teachers-the-fight-over-value-added-/">Read more &raquo;</a>
        </p>
        <br class="clear-float" />

        <br /><br />
        
                
    </div>
    
	
    <div class="section" id="video">
        <h2>Video</h2><a class="to-top scrollto" href="#story">back to top</a>

<iframe src="http://player.vimeo.com/video/17016250" width="780" height="439" frameborder="0"></iframe>

    </div>




    <div class="section" id="credits">
	    <h2>Credits</h2><a class="to-top scrollto" href="#story">back to top</a>
            <p>Teacher interviews and photos by Christal Smith. Produced by Linda Othenin-Girard, Karen Fritsche &amp; Katrina Schwartz, with help from Sharon McNary.</p>
            <p>Site produced by Jeff Long, Jason Kandel, Mike Roe, Corey Bridwell &amp; Eric Zassenhaus</p>

    </div>

</div>
