<div class="homepage-lead default">
  <div class="row-fluid">
    <div class="span15">
      <%= render_content homepage.articles[0], "lead5" %>
    </div>
    <div class="span9">
      <div class="offleads">
        <%= render_content homepage.articles[1..-1], "offlead" %>
      </div>
    </div>
  </div>
</div> <!-- homepage default -->


<% content_for :conversation_slot do %>
  <% if @featured_comment %>
    <div class="join-conversation-container home">
      <%= render '/shared/featured_comment/home', comment: @featured_comment %>
    </div>
  <% end %>
<% end %>
