<div class="stacked">
  <div class="row-fluid">
    <%= content_cache("home_leads") do %>
      <% register_content("layout/homepage") %>
      <div class="span24">
        <%= render_content @homepage.content[0], "lead8" if @homepage %>
      </div>
  </div>
  <div class="row-fluid">
      <div class="span24 offleads split">
        <%= render_content @homepage.content[1..-1], "offlead_asset" if @homepage %>
      </div>
    <% end %>
  </div>
  <hr />
</div>
<% content_for :conversation_slot do %>
<% end %>

<% content_for :hero_roadblock do %>
<style>
	.broadcast-bar {display:none;}
</style>

<div class="hero-election">
  <div class="container-fluid">
    <div class="row-fluid">
      <header class="span24 election-header">
        <h1>2012 Election Results</h1>
				<a href="#" class="share-link"><span>Share This</span></a>
      </header>
    </div>
		<div class="row-fluid">
			<section class="span24">
				<div class="header-well">
					<a href="#" class="live-tweet visible-mobile">Read KPCC’s Election Live-Tweets</a>
					<div class="tweets">
						<span class="live-tweet">@KPCC Live-Tweets:</span>
						<ul>
						    <li class="active"><a href="#">@StoltzeFrankly is tweeting from the on air @RepHowardBerman and @BradSherman debate on @AirTalk. If you can't listen in, follow his tweets</a></li>
						    <li><a href="#">We've launched our #MyBallot voter app. Every race, measure and prop in SoCal, tailored to your address: http://kp.cc/U10IvU  #LA</a></li>
						    <li><a href="#">Backers and opponents of Prop 35 agree human trafficking is a problem, but disagree on how to deal with it: http://kp.cc/QonPKG </a></li>
						</ul>
					</div>
				</div>
			</section>
		</div>
    <div class="row-fluid results">
				<!-- PRESIDENTIAL RESULTS -->
        <article class="span6 results-block relative">
          <header>
          	<h2>U.S. President</h2>
						<aside>54% Reporting</aside>
          </header>
					<section class="candidate obama">
						<h4>Barack Obama (D)</h4>
						<div class="result">
							<strong>273</strong>
							<span>Electoral Votes</span>
						</div>
					</section>
					<section class="candidate romney">
						<h4>Mitt Romney (R)</h4>
						<div class="result">
							<strong>178</strong>
							<span>Electoral Votes</span>
						</div>
					</section>
				</article>
				<!-- PROPOSITION RESULTS -->
        <article class="span6 results-block relative">
          <header>
          	<h2>CA Propositions</h2>
						<aside>68% Reporting</aside>
          </header>
					<!-- Prop 30 -->
					<section class="initiative">
						<h3>Prop 30</h3>
						<p>Governor’s Tax Initiative</p>
						<div class="result">
							<strong>46%</strong>
							<span>Yes</span>
						</div>
						<div class="result">
							<strong>39%</strong>
							<span>No</span>
						</div>
					</section>
					<!-- Prop 34 -->
					<section class="initiative">
						<h3>Prop 34</h3>
						<p>Repeal Death Penalty</p>
						<div class="result">
							<strong>39%</strong>
							<span>Yes</span>
						</div>
						<div class="result">
							<strong>52%</strong>
							<span>No</span>
						</div>
					</section>
					<!-- Prop 36 -->
					<section class="initiative">
						<h3>Prop 36</h3>
						<p>Repeal "Three Strikes"</p>
						<div class="result">
							<strong>49%</strong>
							<span>Yes</span>
						</div>
						<div class="result">
							<strong>31%</strong>
							<span>No</span>
						</div>
					</section>
					<!-- Prop 38 -->
					<section class="initiative">
						<h3>Prop 38</h3>
						<p>Education Tax Initiative</p>
						<div class="result">
							<strong>49%</strong>
							<span>Yes</span>
						</div>
						<div class="result">
							<strong>31%</strong>
							<span>No</span>
						</div>
					</section>
				</article>
				<!-- 30TH DISTRICT RESULTS -->
    		<article class="span6 results-block">
    			<header>
          	<h2>30th District</h2>
						<aside>68% Reporting</aside>
          </header>
					<section class="candidate berman">
						<h4>Howard Berman</h4>
						<div class="result">
							<strong>36%</strong>
						</div>
					</section>
					<section class="candidate sherman">
						<h4>Brad Sherman</h4>
						<div class="result">
							<strong>42%</strong>
						</div>
					</section>
    		</article>
				<!-- LA COUNTY DA RESULTS -->
    		<article class="span6 results-block">
    			<header>
          	<h2>LA County DA</h2>
						<aside>82% Reporting</aside>
          </header>
					<section class="candidate lacey">
						<h4>Jackie Lacey</h4>
						<div class="result">
							<strong>36%</strong>
						</div>
					</section>
					<section class="candidate jackson">
						<h4>Alan Jackson</h4>
						<div class="result">
							<strong>42%</strong>
						</div>
					</section>
    		</article>
				<!-- LOCAL MEASURE RESULTS -->
        <article class="span6 results-block relative">
          <header>
          	<h2>Local Measures</h2>
						<aside>82% Reporting</aside>
          </header>
					<!-- MEASURE J -->
					<section class="initiative local">
						<h3>Measure J</h3>
						<p>Transportation Tax</p>
						<div class="result">
							<strong>36%</strong>
							<span>Yes</span>
						</div>
						<div class="result">
							<strong>61%</strong>
							<span>No</span>
						</div>
					</section>
				</article>
			</div>
  </div>
</div>



<% end %>
