<div class="stacked">
	<div class="row-fluid">
		<%= content_cache("home_leads") do %>
			<% register_content("layout/homepage") %>
			<div class="span24">
				<%= render_content @homepage.content[0], "lead8" if @homepage %>
			</div>
	</div>
	<div class="row-fluid">
			<div class="span24 offleads split">
				<%= render_content @homepage.content[1..-1], "offlead_asset" if @homepage %>
			</div>
		<% end %>
	</div>
	<hr />
</div>

<%= render '/home/election_results_block', data_points: @data_points %>
