<div class="homepage-lead lead-right">
  <div class="row-fluid">
    <div class="span12">
      <div class="offleads">
        <%= render_content homepage.articles[0..-2], "offlead" %>
      </div>
    </div>
    <div class="span12">
      <%= render_content homepage.articles[-1], "lead" %>
    </div>
  </div>
</div> <!-- lead-right -->
