<%= content_cache "#{bucket.obj_key}:#{params[:page]}" do %>
  <% register_content bucket %>
  <div class="carousel-section">
    <div class="row-fluid">
      <% contents.map(&:content).each do |content| %>
        <% register_content content %>
        <div class="span4">
          <div class="carousel-item">
            <%= render_asset content, "thumbnail", true %>
            <span class="title"><%= link_to content.short_headline, content.link_path %></span>
          </div>
        </div> <!-- span -->
        <hr />
      <% end %>
    </div> <!-- row fluid -->
  </div> <!-- carousel-section -->
<% end %>
