<%= content_cache bucket.obj_key do %>
	<div class="carousel-section">
		<div class="row-fluid">
			<% contents.each do |extra_content| %>
				<% register_content extra_content %>
				<div class="span4">
					<div class="carousel-item">
						<%= render_asset extra_content.content, "lsquare", true %>
						<span class="title"><%= link_to extra_content.content.short_headline, extra_content.content.link_path %></span>
					</div>
				</div> <!-- span2 -->
				<hr />
			<% end %>
		</div> <!-- row fluid -->
	</div> <!-- carousel-section -->
<% end %>
