<%= content_cache "#{bucket.obj_key}:#{params[:page]}" do %>
  <% register_content bucket %>
  <div class="carousel-section">
    <div class="row-fluid">
      <% contents.map { |c| c.content.to_article }.each do |article| %>
        <% register_content article.original_object %>
        <div class="span4">
          <div class="carousel-item">
            <%= render_asset article, "thumbnail", true %>
            <span class="title"><%= link_to article.short_title, article.public_url %></span>
          </div>
        </div> <!-- span -->
        <hr />
      <% end %>
    </div> <!-- row fluid -->
  </div> <!-- carousel-section -->
<% end %>
