<div class="row-fluid">
	<%= content_cache("home_leads") do %>
		<% register_content("layout/homepage") %>
		<div class="span24">
			<%= render_content @homepage.content[0], "lead8" if @homepage %>
		</div>
</div>
<div class="row-fluid">
		<div class="span24 offleads split">
			<div class="row-fluid">
				<%= render_content @homepage.content[1..-1], "offlead_split" if @homepage %>
			</div>
		</div>
	<% end %>
</div>

<% content_for :conversation_slot do %>
	<div class="join-conversation-container">
		<hr/>
		<%= featured_comment :bucket => nil, :style => "home" %>
	</div>
<% end %>