<div class="row-fluid">
  <div class="span24">
    <%= render_content homepage.articles[0], "lead8" %>
  </div>
</div>
<div class="row-fluid">
  <div class="span24 offleads split">
    <div class="row-fluid">
      <%= render_content homepage.articles[1..2], "offlead_split" %>
    </div>
  </div>
</div>


<% content_for :conversation_slot do %>
  <% if @featured_comment %>
    <div class="join-conversation-container home">
      <hr />
      <%= render '/shared/featured_comment/home', comment: @featured_comment %>
    </div>
  <% end %>
<% end %>
