<%=
	begin
		render :partial => @homepage.base, :homepage => @homepage
	rescue
		render :partial => "default", :homepage => @homepage
	end
%>

<div class="row">
	<%= yield :conversation_slot %>
	<div class="span4">
		<div class="headlines">
			<h6>More Headlines</h6>
			<ul>
				<%= ActionController::Base.cache_store.read("home/headlines") %>
			</ul>
		</div>
	</div>
	<div class="span4">
		<%= render "shared/widgets/events_at_the_forum" %>	
	</div>	

</div>