<% content_cache("events:upcoming_forum") do %>
  <% register_content Event.new_obj_key %>
  <div class="events-forum">
    <h6>Events at the Crawford Family Forum</h6>
    <% @upcoming_events_forum.each do |event| %>
      <% register_content event %>
      <div class="span12 cbase">
        <div class="event future">
          <div class="row-fluid">
            <div class="span8">
              <%= render_asset event, 'thumbnail', true %>
            </div>
            
            <div class="span16">
              <h4><%= link_to event.headline, event.public_path %></h4>
              <%= link_to format_date(event.starts_at, format: :event), event.public_path, class: "event-link" %> 
            </div> <!-- span -->
          </div> <!-- row fluid -->
        </div> <!-- event future -->
      </div> <!-- span -->
    <% end %>
    <p class="more"><a href="/events/forum">View More Forum Events</a></p>
  </div> <!-- events-forum -->
<% end %>
