<nav class="section-nav <%= navClass ||= "vertical" %>">
  <a href="/events">Events Home</a>
  <a href="/events/forum">The Crawford Family Forum</a>
  <a href="/events/forum/directions">Directions &amp; Parking</a>
  <a href="/events/forum/space">Community Partnerships</a>
  <a href="/events/forum/archive">Past Events</a>
  <a href="/events/forum/about">About the Crawford Family Forum</a>
</nav>
