<% page_title ["About", "The Crawford Family Forum"] %>

<% content_for :static_content do %>
  <!-- Flatpage Content -->
  <h2>About The Crawford Family Forum</h2>
  <p>The Crawford Family Forum is a welcoming, non-partisan, knowledge-building space where Southern Californians of all backgrounds can engage in the face-to-face exchange of knowledge and ideas that is becoming increasingly rare in the digital era.  Nothing can replace real-life interaction—having an opportunity to not just hear, but see others and have direct dialogue goes a long way toward helping build bridges among communities while strengthening, deepening and expanding our public service.  </p>
  <h3>Contact Us</h3>
  <iframe width="580" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.publicradio.org/applications/formbuilder/user/form_display.php?form_code=4a6bab58e62e"></iframe>
  <!-- end Flatpage Content -->
<% end %>
