<% page_title ["Preferred Caterers", "The Crawford Family Forum"] %>

<% content_for :static_content do %>
	<h1>The Crawford Family Forum Preferred Caterers</h1>
	
	<div class="cff-info">
		
		<ul class="info">
			<li><h3><a href="http://www.heirloomla.com/">Heirloom LA</a></h3></li>
			<li><strong>Contact:</strong> <a href="mailto:matthewpoley@yahoo.com">Matthew Polley</a></h3></li>
			<li><strong>Phone:</strong> 323-872-2904</li>
			<li><strong>Food Type:</strong> Locally grown organic Americana/world cuisine</li>
		</ul>
		
		<ul class="info">
			<li><h3><a href="http://www.silverlakewine.com/">Silver Lake Wine</a></h3></li>
			<li><strong>Contact:</strong> <a href="mailto:info@silverlakewine.com">Randy Clement</a></h3></li>
			<li><strong>Phone:</strong> 323-662-9024</li>
			<li><strong>Food Type:</strong> Boutique, small production, high quality, artisanal wines and liquors in all price ranges</li>
		</ul>
		
		<ul class="info">
			<li><h3><a href="http://www.gingergrass.com/">Gingergrass</a></h3></li>
			<li><strong>Contact:</strong> Jade</li>
			<li><strong>Phone:</strong> 323-644-1500</li>
			<li><strong>Food Type:</strong> Vietnamese, French, Thai, etc.</li>
		</ul>
		
		<ul class="info">
			<li><h3><a href="http://www.gingergrass.com/">Gingergrass</a></h3></li>
			<li><strong>Contact:</strong> Jade</li>
			<li><strong>Phone:</strong> 323-644-1500</li>
			<li><strong>Food Type:</strong> Vietnamese, French, Thai, etc.</li>
		</ul>
	

		<ul class="info">
			<li><h3><a href="http://www.hmsus.com/">El Cholo, Dona Rosa & Barn Burner BBQ</a></h3></li>
			<li><strong>Contact:</strong> Enrique Feldman</li>
			<li><strong>Phone:</strong> 626-399-5683</li>
			<li><strong>Food Type:</strong> Texan-Style food-Ribs, Authentic Mexican Food</li>
		</ul>


		<ul class="info">
			<li><h3><a href="http://www.marysueandsusan.com/">Ciudad/Border Grill</a></h3></li>
			<li><strong>Phone:</strong> 213-542-1100</li>
			<li><strong>Food Type:</strong> Latin Cuisines – Spain, Portugal, South America, Central America, and Mexico</li>
		</ul>


		<ul class="info">
			<li><h3>Pita Pita</h3></li>
			<li><strong>Contact:</strong> Pedro Noriega</li>
			<li><strong>Phone:</strong> 626-356-0106</li>
			<li><strong>Food Type:</strong> International – Mediterranean, Mexican, Italian, etc.</li>
		</ul>


		<ul class="info">
			<li><h3><a href="http://www.thebestcoffee.com"> Jones Coffee</a></h3></li>
			<li><strong>Contact:</strong> <a href="mailto:chuck@jonescoffee.com">Chuck Jones</a></h3></li>
			<li><strong>Phone:</strong> 626-564-9291</li>
			<li><strong>Food Type:</strong> Coffee: roasters, growers & importers of premium specialty coffees from a family owned farm in Guatemala</li>
		</ul>

		<ul class="info">
			<li><h3><a href="http://www.coffeetablebistro.com/"> Coffee Table Bistro</a></h3></li>
			<li><strong>Contact:</strong> <a href="mailto:jlewis.ct@gmail.com">Joshua Lewis</a></h3></li>
			<li><strong>Phone:</strong> 323 219 9850</li>
			<li><strong>Food Type:</strong> Modern California cuisine with an emphasis on freshness and natural flavors.</li>
		</ul>
	
	</div>
<% end %>
