<% page_title ["Contact", "The Crawford Family Forum"] %>

<% content_for :static_content do %>
	<h2>Contact the Crawford Family Forum</h2>
	<iframe width="580" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.publicradio.org/applications/formbuilder/user/form_display.php?form_code=4a6bab58e62e"></iframe>
<% end %>
