<% page_title ["Directions", "The Crawford Family Forum"] %>

<% content_for :static_content do %>
	<h2>The Crawford Family Forum - Plan Your Trip</h2>
	<img src="http://media.scpr.org/assets/images/support/forum/cff_transit_map.jpg" class="left" width="265" height="237" alt="Transit" /> 
	
	<h3>Directions</h3>
	<p>The Mohn Broadcast Center &amp; Crawford Family Forum is located at 474 South Raymond Avenue, Pasadena, California, 91105</p>

	<h3>Metro Access</h3>
	<p>We are conveniently located between the Fillmore and Del Mar Metro stations on the Gold Line.</p>

	<h3>Parking</h3>
	<p>SCPR does not provide or guarantee parking for events.</p>

	<h3>Parking Options</h3>
	<ul>
		<li>Free street parking west of Fair Oaks Avenue on Bellevue Drive</li>
		<li>Free 2-hour parking on Raymond Ave. (strictly enforced)</li>
		<li>Parking structure ($3 fee range) at the Del Mar Metro Station (at Del Mar and Raymond)</li>
		<li>Parking lot ($3 fee range) at the Fillmore Metro Station (one block south of California Blvd. on Raymond Ave.</li>
	</ul>

	<!-- Google Maps -->
	<div class="google-map">
		<iframe width="600" height="494" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
		src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=474+s.+raymond+ave.+pasadena,+ca&amp;sll=34.085521,-118.144922&amp;sspn=0.011782,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=474+S+Raymond+Ave,+Pasadena,+Los+Angeles,+California+91105&amp;ll=34.148181,-118.144226&amp;spn=0.02355,0.038581&amp;t=p&amp;z=14&amp;iwloc=A&amp;output=embed">
		</iframe><br />
		<small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=474+s.+raymond+ave.+pasadena,+ca&amp;sll=34.085521,-118.144922&amp;sspn=0.011782,0.01929&amp;ie=UTF8&amp;hq=&amp;hnear=474+S+Raymond+Ave,+Pasadena,+Los+Angeles,+California+91105&amp;ll=34.148181,-118.144226&amp;spn=0.02355,0.038581&amp;t=p&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>
<% end %>
