<% page_title "Events" %>
<h1 class="page-title">Events</h1>

<nav class="filters">
	<ul class="clearfix">
		<li class="heading">View:</li>
	    <li><%= link_to(raw("<span>All Events<span>"), events_path(list: "all"), id: "all", class: %w{sponsored forum}.include?(params[:list]) ? nil : "active") %></li>
	    <li><%= link_to(raw("<span>Crawford Family Forum Events<span>"), events_path(list: "forum"), id: "forum", class: params[:list] == "forum" ? "active" : nil) %></li>
	    <li><%= link_to(raw("<span>Sponsored Events<span>"), events_path(list: "sponsored"), id: "sponsored", class: params[:list] == "sponsored" ? "active" : nil) %></li>
	</ul>
</nav>

<%= render 'events_list', events: @events, cssClass: "upcoming-events" %>
