<% page_title ["Community Partnerships", "The Crawford Family Forum"] %>

<% content_for :static_content do %>
  <!-- Flatpage Content -->
  <h2>Partnership Event Proposals &amp; Venue Usage Requests</h2>
  <p>
    With the exception of breaking news events, all events should be approved in advance. 
    In order to book The Crawford Family Forum, <a href="/forum/space/request/">a usage request form</a> must be submitted at least two weeks before the anticipated event date. 
    Usage fees may apply.
  </p>
  
  <div class="row-fluid">
    <div class="span6">
      <img src="http://media.scpr.org/assets/images/support/forum/cff_space.jpg" class="hidden-reader" />
    </div>
    <div class="span18">
      <h2>Technology</h2>
      <p>The Crawford Family Forum is 2,083 square feet and is equipped to act as both a meeting space and a broadcast studio. The basic capabilities of the space include:</p>
      <ul style="background: whitesmoke;border: 1px solid #ccc;margin: 5px 0;padding: 10px 15px 10px 20px;">
        <li style="margin-bottom: 15px"><strong>Broadcast Live / Recording</strong>: The Crawford Family Forum can be used to broadcast live or to record a program for a later date.  It has many acoustic considerations and can accommodate as many as 28 audio input channels including the ability to host live “call in” broadcasts with studio audience. Audio can be recorded to Pro Tools, Flash Media (or just about any digital or analog technology) and/or exported directly to ENCO (our play to air system).</li>
        <li style="margin-bottom: 15px"><strong>Audio and Video Conferencing</strong>: The Crawford Family Forum has the equipment necessary for remote meetings.</li>
        <li style="margin-bottom: 15px"><strong>Powerpoint and other Presentation Tools</strong>: The Crawford Family Forum is equipped to handle most presentation needs.</li>
      </ul>
      <br />
      
      <h2>Room Setup</h2>
      <p>The Crawford Family Forum is a flexible space that can be used in any number of configurations not exceeding its maximum occupancy of 141 people:</p>
      <ul style="background: whitesmoke;border: 1px solid #ccc;margin: 5px 0;padding: 10px 15px 10px 20px;">
        <li style="margin-bottom: 15px"><strong>Theater Configuration</strong>: The Crawford Family Forum’s default configuration is in its theater setting with up to 130 seats.</li>
        <li style="margin-bottom: 15px"><strong>Meeting Configuration</strong>: Meeting tables and chairs are placed in the center of the room oriented towards the projection screen. Additional seating can be provided as needed.</li>
        <li style="margin-bottom: 15px"><strong>Gala Configuration</strong>: All tables and chairs are removed from the space. <strong>Sponsoring department/ organization is responsible for the acquisition of dinner tables and chairs for Gala events.</strong></li>
        <li style="margin-bottom: 15px"><strong>Advanced Configuration</strong>: Forum tables and chairs are configured in a unique fashion as provided in detail on the event booking request form.  </strong></li>
      </ul>

      <p>Send us <%= link_to "a volunteer request form!", forum_volunteer_path %></a>
    </div>
  </div> <!-- row -->
  <!-- end Flatpage Content -->
<% end %>
