<% if content ||= nil %>
	<li>
		<%= link_to content.short_headline, content.link_path %> 
		<span class="shell-link">| From <%= content.site %></span>
		<%= smart_date_js content, "data-window" => "8h" %>
	</li>
<% end %>