<html>
<body>
  <!-- header (eloqua) -->
  
  <table cellspacing="0" cellpadding="0" width="90%" align="center">
    <tr>
      <td>
        <h1 style="color:#000;font-family:Helvetica, sans-serif;font-size:28px;font-weight:bold;"><%= alert.headline %></h1>
        <p style="color:#000;font-family:Georgia, serif;font-size:16px;line-height:26px;"><%= alert.teaser %></p>
        <% if alert.alert_link.present? %>
          <p style="color:#000;font-family:Helvetica, sans-serif;font-size:18px;font-weight:bold;">For more information: <%= link_to alert.alert_link, alert.alert_link %></p>
        <% end %>
      </td>
    </tr>
  </table>
        
  <!-- footer (eloqua) -->
</body>
</html>
