<h1>Online Sponsorship</h1>
<p>KPCC's programs reach more than 600,000* affluent and educated listeners throughout Southern California each week. </p>

<p>Corporate sponsorship of KPCC is a good business investment; we know that our listeners are 88 percent more likely to buy products and services from companies that support public radio.</p>

<div class="hr"></div>
<h2>The perfect opportunity for your business...</h2>

<p>There are a lot of choices when it comes to marketing your business. You may have come here to look at opportunities on-air; a great way to reach 600,000* people in the LA Metro a week. But SCPR coverage doesn't end in the car radio. With live-stream, podcasts and online banners, the KPCC Web site is our award-winning news enhanced for listeners who have come to expect something more than just fleeting headlines. </p>

<p>Whether our nearly 300,000** web viewers a month are downloading podcasts, listening to the live-stream, reading our host's blogs or signing up for an e-newsletter, they will see not only your company's support of KPCC but associate your business with the news they value most. </p>

<p>And speaking of value…it's a two way street. These are some of our affordable offerings for the Web site, audio elements and our e-newsletters.</p>


<div class="hr"></div>
<h2>Web site</h2>
<h3>Position A</h3>
<img src="http://media.scpr.org/support/underwriting/positions.jpg" alt="positions" style="float:right; margin-left:15px; margin-bottom: 15px" />
<p>Top of the page and above the "fold," this 300x100 pixel banner is an effective way to draw the eye at first glance.  Your banner will rotate with no more than ten other banners receiving a guaranteed 80,000 impression per month.</p>
<ul>
<li>Top of the page and above the "fold"</li>
<li>300x100 pixels</li>
<li>80,000 monthly impressions</li>
</ul>

<h3>Position B</h3>
<p>The largest of our three positions, the bold placement and size of the Position B banner cannot be missed next to the 'web tools box,' the bulk of our news, blogs and features section. This 300x250 pixel banner rotates with no more than 10 other banners receiving a guaranteed 80,000 impression per month.</p>
<ul>
<li>The largest of our three positions and placed next to the 'web tools box,' the bulk of our news, blogs and features section</li>
<li>300x250 pixels</li>
<li>80,000 monthly impressions</li>
</ul>

<h3>Position C</h3>
<p>This banner is perfect exposure for underwriters who want to be a part of the Web site that offers breaking station updates, public radio features and our informative events calendar section. And it's priced for anyone new to Underwriting or looking for value in their marketing campaign. Sized like Position A, this 300x100 pixel banner rotates with no more than ten other banners. You can expect at least 80,000 impressions a month.</p>
<ul>
<li>Exposure for underwriters who want to be a part of the Web site that offers breaking station updates, public radio features and our informative events calendar section</li>
<li>300x100 pixels</li>
<li>80,000 monthly impressions</li>
</ul>

<div class="hr"></div>
<h2>Live Stream</h2>
<img src="http://media.scpr.org/support/underwriting/positions_ls.jpg" alt="positions" style="float:right; margin-right:90px; margin-left:15px; margin-bottom: 15px" />
<p>Over 80,000 people listen more then 380,000 times each month** to KPCC through the live stream. Your sponsorship of this feature is pretty unique. Not only do you have a custom ten second prepend that plays before the broadcast (on all KPCC streaming platforms) but you also have a 234x60 pixel banner that resides in the website live stream window for the duration of the stream. Shared with up to two other underwriters, your live stream sponsorship will be an inevitable part of a listener's day.</p>
<p>Banner only 120x60 pixels placements available for 2 sponsors.</p>
<br clear="all" />
<div class="hr"></div>


<h2>Newsletters</h2>
<img src="http://media.scpr.org/support/underwriting/positions_nl.jpg" alt="positions" style="float:right; margin-left:15px; margin-bottom: 15px" />
<p>Many of our listeners sign up for our monthly, weekly, even daily newsletters. The banner positions are like those on our Web site - the main difference being that your business maintains exclusivity in the A, B or C position.</p>

<h3>Arts &amp; Culture</h3>
<p>This newsletter is sent to over 30,000 subscribers a month with a 25% open rate. Covering the Los Angeles Metro, San Fernando Valley, Orange County and Riverside, the Arts &amp; Culture newsletter is one of a kind with an eye for films, restaurants and arts events that are under the radar. The newsletter also features monthly discounts and giveaways for it readers.</p>

<h3>Community Connection</h3>
<p>The Community Connection is for listeners who are interested in the latest at KPCC. It's a great way for subscribers to get recent updates from our Washington DC bureau as well as peruse the 'can't miss' features and special events. This newsletter goes out to approx. 30,000 subscribers and has an open rate of 25%.</p>

<!--<h3>Daily Briefing</h3>
<p>For the latest in KPCC news, this newsletter goes out every afternoon, five days a week. Along with the top regional headlines, the newsletter also features quick links to the KPCC host blogs and services like the iPhone application, RSS feeds and podcasts. Combined in a banner package with the Off Ramp newsletter your banner can expect about 9,200***impressions a month.</p>-->


<h3>Off Ramp</h3>
<p>The most unique of the bunch, the Off Ramp newsletter is the prose of Off Ramp host John Rabe as he muses on the city and prepares his readers for what to expect on the weekend's show. Like the on-air broadcast, this newsletter offers an engaged and original perspective that takes readers to places they have never been. Your banner can expect about 9,200 impressions a month.***</p>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="hr"></div>

<p>*October, November, December, January, February, March 2009 Arbitron PPM data.<br />
** July, August, September 2010 web page impressions average<br />
***March 2009 impressions</p>


<div class="hr"></div>
<h2>Become an online sponsor today...</h2>
<p>&nbsp;</p>
<iframe width="600" height="725" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.publicradio.org/applications/formbuilder/user/form_display.php?form_code=a45ad73ea7f1"></iframe>
