<h1>Your Message</h1>
<div class="hr"></div>
<h2>Your 15-second on-air sponsorship message can be used to:</h2>
<p>
<ul>
<li>Describe your business or organization </li>
<li>Give a value neutral description of your products or services </li>
<li>Communicate your corporate philosophy or mission </li>
<li>Highlight your company's commitment to public broadcasting's educational mission </li>
</ul>
</p>
<div class="hr"></div>
<h2>Your 15-second message may include any or all of the following:</h2>
<p>
<ul>
<li>Brand and trade names and value neutral product or service listings </li>
<li>Non-promotional corporate slogan </li>
<li>General business location </li>
<li>Length of time in business </li>
<li>Web site address and/or telephone number </li>
</ul>
</p>

<p>We will be happy to help create and produce a message that maximizes your on-air exposure. Please contact our VP, Underwriting Sales Julie Allen at <a href="mailto:jallen@kpcc.org">jallen@kpcc.org</a> or 626-583-5130.</p>