  <header id="masthead">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span24 fake-el" style="height:110px;">
          &nbsp; <!-- header -->
        </div>
      </div>
  </header>
