<h1>Listen Live: <%= @current ? "The Current" : "89.3 KPCC" %></h1>

<style>
	#llui button {
		padding: 16px;
		border: 1px solid #ff0;
		border-radius: 8px
	}
	
	#llschedule ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	#llschedule li {
		padding: 8px;
		border: 1px solid #777;
		margin: 4px 0;
		border-radius: 8px;
		color: #000;
	}

	#llschedule li.playing {
		background: #ffc;
	}

	#llschedule li.future {
		color: #999;
		border-color: #aaa;
	}
</style>

<div class="row">
	<div class="span3" id="llschedule">
		&nbsp;
	</div>
	<div class="span5" id="llplayer">
		&nbsp;
	</div>
</div>

<hr/>

<div class="row">
	<div class="span8" id="llui">
		<p>
		<button id="llplay" style="padding: 16px;border: 1px solid #ff0;border-radius: 8px">Play</button>
		<button id="llnow">Go to Live</button>
		<button id="lltop">Go to Top of the Hour</button>	
		<button id="llbottom">Go to Bottom of the Hour</button>	
		</p>
	</div>
</div>


<% content_for :footerjss do %>
	<% if @current %>
		var llPlayer = new scpr.ListenLive({
			rewind:     "http://scprdev.org:8000/thecurrent.mp3",
        	host:       "http://scprdev.org:8000/thecurrent"
        })
	<% else %>
		var llPlayer = new scpr.ListenLive({
			schedule: 	<%= raw @schedule.to_json %>
		});
	<% end %>
<% end %>