body {
    // Allow space for the submit-row
    padding-bottom: 120px;
    padding-top: 50px;
}

// We want content input to always be pretty big
.simple_form {
    input:not([type=submit]) {
        @extend .span4;
    }
}

form.simple_form {
    input.wide, textarea {
        @extend .span7;
    }
    
    input.thin, textarea.thin {
        @extend .span2;
    }
    
    input.tiny {
        @extend .span1;
    }
    
    textarea {
        &.tiny { height: 100px; }
        &.short { height: 200px; }
        &.tall { height: 600px; }
    }
    
    fieldset legend {
        cursor: pointer;
        &:hover {
            background: #ffffcc;
        }
    }
    
    .inline { // Extend bootstrap .inline
        display: inline-block;
        margin-right: 5px;
        input[type=text] { @extend .span2; }
        input[type=checkbox] { width: 20px; }
        
        .controls {
            margin-left: 10px;
        }
    }
}

p.help-block {
    color: $grayLight;
    font-style: italic;
    font-size: 12px;
}

.audio-fields {
    margin-bottom: 10px;
    padding: 5px;
    
    .audio-info {
        .new-audio, .existing-audio {
            height: 150px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 10px;
        }
    }
    
    .control-group.file {
        .controls { margin: 0; }
    }   
}

.user-badge {
    vertical-align: top;
    padding: 5px;
    @include border-radius(5px);
    img {
        padding: 5px;
    }
}

ul.viewers {
    margin-left: 0;
    list-style: none;
    li { 
        margin-bottom: 5px;
        font-weight: bold;
    }
}

.hidden {
    display: none;
}

.list-status {
    text-align: center;
}

.add-on.populate {
    cursor: pointer;
}

.submit-row:last-of-type {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    background: $grayDark;
    padding: 10px 0;
}

// Style the dropdown buttons so they look like links
ul.dropdown-menu li button {
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    &:hover {
        background: $grayLighter;
    }
}

// Override a bug in bootstrap
.dropup .btn-large .caret {
    border-bottom-color: $white;
}

.transparent { 
    @include opacity(0.2);
    @include transition(.1s linear all);
}
