.container-fluid {
	min-width: 700px;
}

.simple_form {
	input.long, textarea {
		@extend .span8;
	}
}

.user-badge {
	padding: 5px;
	@include border-radius(5px);
}

ul.viewers {
	margin-left: 0;
	list-style: none;
	li { 
		margin-bottom: 5px;
		font-weight: bold;
	}
}