// Styles for index lists

.filters {
  .filter.label {
    display: inline-block; 
    margin-right: 10px;
  }
  
  form {
    display: inline-block;
  }
}

.header-highlighted {
    background-color: $successBackground;
}
