// Styles related to Newsroom.js functionality

.user-badge {
    position: relative;
    border: 1px solid $grayLight;
    padding-right: 30px; // make room for the badge
    line-height: 12px;
    
    &.highlighted {
        background-color: #ffff99;
    }
    
    h5 {
      margin: 0;
    }
    
    .headshot {
      max-width: 60px;
      float: left;
    }
    
    .badge-mark {
      right: 10px;
    }
}

.affix .user-badge .headshot { display: none; }

.circle {
    @include border-radius(20px);
    width: 20px;
    height: 20px;
}

// So we can position absolute inside
.simple_form label {
    position: relative;
    .badge-mark {
        left: 10px;
    }
}

.badge-mark {
    position: absolute;
}
