<%# for Preview, we need to place the embed script here. This might not be the best
  way, but since the preview only renders the article partial (i.e. what is
  inside the cache block), but the embed script is outside of that, we need
  to place this somewhere so the embeds get swapped in previews. We include
  the script explicitly on each template that needs it on the KPCC.org frontend
  because we don't want to load it and scrape EVERY page - that would be
  an unnecessary performance hit. In preview, it's okay. %>
<%= render '/shared/scripts/embedder' %>

<%= yield :footer %>
</body>
</html>
