  <div id="page-footer">
    <footer style="background:none;">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span24 fake-el" style="height:200px;">
            &nbsp;
          </div>
        </div> <!-- row-fluid -->
      </div> <!-- container-fluid -->
    </footer>
  </div> <!-- page-footer -->
