<!DOCTYPE html>
<html lang="en">
<head>
	<title>Breaking News</title>
</head>
<body>
	<h1><%= alert.email_subject %></h1>
	<p><%= alert.teaser %></p>
	<% if alert.alert_link.present? %>
		<p>For More Information, visit <%= link_to alert.alert_link, alert.alert_link %></p>
	<% end %>
</body>
</html>
