<div id="ticket-modal" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Report a Problem</h3>
  </div>

  <div class="modal-body">
    <% if @tickets.present? %>
      <h4>Open Tickets</h4>
      <ul>
        <% @tickets.each do |ticket| %>
          <li><%= link_to ticket.summary, [:admin, ticket] %></li>
        <% end %>
        
        <li><%= link_to "View All Tickets &raquo;".html_safe, admin_tickets_path %></li>
      </ul>
      
      <h5>Don't see your issue? Submit a new one:</h5>
    <% end %>
    
    <%= render "/admin/tickets/form" %>
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
