<% page_title "Error" %>

<h3>Error</h3>

<p>We're sorry... seriously. We hate errors as much as you do.</p>
<p>We have already been notified of these errors by our monitoring software.</p>

<hr />
<p>If this is an emergency, please contact one of the members of the web team:</p>

<ul>
  <li><strong>Bryan Ricker</strong>
    <ul>
      <li><a href="mailto:bricker@scpr.org">bricker@scpr.org</a></li>
      <li>949-680-0128 (cell)</li>
    </ul>
  </li>
  
  <li><strong>Sean Dillingham</strong>
    <ul>
      <li><a href="mailto:sdillingham@scpr.org">sdillingham@scpr.org</a></li>
      <li>626-437-5460 (cell)</li>
    </ul>
  </li>
</ul>

<hr />
<p>Here is the error that happened. Please copy and paste this if you decide to send us an email:</p>

<pre>
  <%= Time.now %>
  <%= request.url %>
  
  <%= error.to_yaml %>
</pre>

<hr />
