<div class="asset-block" style="width:<%= assets[0].asset.three.width %>px">
	<div class="contentasset">
		<%= link_to assets[0].asset.three.tag, content.link_path %>
	</div>

	<h4><%= assets[0].asset.owner %></h4>	
</div>