<div class="asset-block fallback">
  <div class="contentasset">
    <!-- This partial is rendered by tasks. Don't use asset helper tags. -->
    <a href="<%=content.link_path%>"><img src="/assets/fallback-img.png" /></a>
  </div>
</div>
