<div class="cbase lead">
  <%= render_asset article, "large" %>
  
  <h1 class="story-headline"><%= link_to article.short_title, article.public_url %></h1>
  <p><%= article.teaser.html_safe %></p>
</div>
