<footer id="site-footer">
	<div class="container">
		<div class="row">
			<div class="span12">
			<div class="lead">
				<section>
					<div class="footer-mast">
						<ul>
						    <li>
								<a href="/"><%= image_tag "logo-footer.png" %></a>
							</li>
						    <li class="bullet">89.1 KUOR</li>
						    <li>90.7 KVLA</li>
						</ul>					
					</div>
					<div class="footer-pledge">
						<h4>Support the voices you trust!</h4>
						<div class="pledge">
							<a href="/support/">Pledge Now</a>
						</div>
					</div>
				</section>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="clearfix" id="footer-nav">
				<div class="span3">
					<h3>Sections</h3>
					<nav class="section">
					    <h4>News</h4>
					    <ul>
							<li><a href="/local/">Local</a></li>
						    <li><a href="/california/">State</a></li>
						    <li><a href="/world/">U.S./World</a></li>
						    <li><a href="/politics/">Politics</a></li>
						    <li><a href="/environment/">Science</a></li>
					    </ul>
					    <ul class="right">
						    <li><a href="/money/">Money</a></li>
						    <li><a href="/crime/">Crime &amp; Safety</a></li>
						    <li><a href="/education/">Education</a></li>
						    <li><a href="/health/">Health</a></li>
					    </ul>
					</nav>
					<nav class="section">
					    <h4>Arts &amp; Life</h4>
					    <ul class="last">
						    <li><a href="/culture/">Culture</a></li>
						    <li><a href="/film/">Film</a></li>
						    <li><a href="/books/">Books</a></li>
					    </ul>
					    <ul class="right last">
						    <li><a href="/arts/">Arts</a></li>
						    <li><a href="/music/">Music</a></li>
							<li><a href="/food/">Food</a></li>
					    </ul>
					</nav>
				</div>
				<div class="span3">
					<h3>Programs</h3>
					<nav class="section-wide">
						<ul>
						    <li>
						        <a href="/programs/madeleine-brand/">The Madeleine Brand Show</a>
						    </li>
						    <li>
						        <a href="/programs/airtalk/">AirTalk</a>
						    </li>
						    <li>
						        <a href="/programs/patt-morrison/">Patt Morrison</a>
						    </li>
						    <li>
						        <a href="/programs/offramp/">Off-Ramp</a>
						    </li>
						</ul>
						<ul class="inline">
							<li>
							    <a href="/programs/" class="bullet">Programs A-Z</a>
							</li>
							<li>
							    <a href="/programs/schedule/">Program Schedule</a>
							</li>
						</ul>
					</nav>
					<h3>Events</h3>
					<nav class="section-wide">
						<ul class="last">
						    <li>
						        <a href="/events/forum/">The Crawford Family Forum</a>
						    </li>
						    <li>
						        <a href="/events/sponsored/">Sponsored Events</a>
						    </li>

						</ul>
					</nav>
				</div>
				<div class="span3">
					<h3>Stay Connected</h3>
					<nav class="section-wide connected">
						<ul class="inline social-media">
						    <li class="facebook">
						        <a href="http://facebook.com/kpccfm">Facebook</a>
						    </li>
						    <li class="twitter">
						        <a href="http://twitter.com/kpcc">Twitter</a>
						    </li>
							<li class="google-plus">
						        <a href="https://plus.google.com/108872361044769229886/">Google +</a>
						    </li>
						</ul>
						<ul>
							<li>KPCC Accounts:
						    	<a href="/accounts/login/" class="bullet login">Log in</a>
						        <a href="/accounts/register/" class="register">Register</a>
						    </li>
							<li>
							    <a href="/newsletters/">Newsletters</a>
							</li>
							<li>
							    <a href="/rss/">RSS</a>
							</li>
							<li>
							    <a href="/podcasts/">Podcasts</a>
							</li>
						</ul>
					</nav>
					<div class="mobile-apps">
						<h5><a href="/listen/"><span>Get the KPCC Mobile Apps</span></a></h5>
					</div>
				</div>
				<div class="span3">
					<h3>About</h3>
					<nav class="section-wide">
						<ul>
						    <li>
						        <a href="/about/">About KPCC</a>
						    </li>
						    <li>
						        <a href="/contact/">Contact Us</a>
						    </li>
						    <li>
						        <a href="/about/faq/">Help / FAQ</a>
						    </li>
						    <li>
						        <a href="/web_site_feedback/">Feedback</a>
						    </li>
						    <li>
						        <a href="/about/jobs/">Careers @ KPCC</a>
						    </li>
						</ul>
					</nav>
					<div class="address">
						<p>89.3 KPCC<br>
						Southern California Public Radio<br>
						474 S. Raymond Ave.<br>
						Pasadena, CA 91105</p>
						<p class="phone">Call in: 866-893-5722</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="footer-links" class="span12">
				<div class="partners">
					<h5>Our Partners</h5>
					<ul>
					    <li class="apmg">
					        <a href="http://publicradio.org/">American Public Media</a>
					    </li>
					    <li class="npr">
					        <a href="http://npr.org">NPR</a>
					    </li>
					    <li class="bbc">
					        <a href="http://bbc.co.uk">BBC</a>
					    </li>
					    <li class="pri">
					        <a href="http://pri.org">PRI</a>
					    </li>
						<li class="nbc">
					        <a href="http://pri.org">NBC 4 LA</a>
					    </li>
					    <li class="pcc">
					        <a href="http://pasadena.edu">Pasadena City College</a>
					    </li>
					</ul>
				</div>
				<div class="legal">
					<ul>
					    <li>
					        <a href="/terms/">Terms &amp; Conditions</a>
					    </li>
					    <li>
					        <a href="/privacy/">Privacy</a>
					    </li>
					    <li>
					        <a href="/web_site_feedback/">Feedback</a>
					    </li>
					    <li>&copy; <%= Time.now.year %> Southern California Public Radio</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
