<!-- google analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-624724-1']);
  _gaq.push(['_setDomainName', 'none']); 
  _gaq.push(['_setAllowHash', 'false']);
  _gaq.push(['_setAllowLinker', true]);

  //Additional page or section-specific GA tracking goes here
  <%= yield :analytics %>

  // track page view
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- Stats: WebTrends -->
<script src="http://media.scpr.org/assets/scripts/webtrends.v2.js"></script>
<script>
    //<![CDATA[
        var _tag=new WebTrends();
        _tag.dcsGetId();
    //]]>
</script>
<script>
    //<![CDATA[
        _tag.dcsCustom=function(){
            // Add custom parameters here.
            //_tag.DCSext.param_name=param_value;
        }
    _tag.dcsCollect();
    //]]>
</script>
<noscript>
    <div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="http://statse.webtrendslive.com/dcsyqctzwuz5bdsebpmwhwe8w_2p8d/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=9.3.0&amp;WT.dcssip=www.scpr.org"/></div>
</noscript>
<!-- /WebTrends -->

<!-- BEGIN Comscore -->
<script>
var _comscore = _comscore || [];
_comscore.push({ c1: "2", c2: "6035974", c3: "", c4: "" });
(function() {
var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
el.parentNode.insertBefore(s, el);
})();
</script>
<noscript>
<img src="http://b.scorecardresearch.com/p?c1=2&c2=6035974&c3=&c4=&c5=&c6=&c15=&cv=2.0&cj=1" />
</noscript>
<!-- END Comscore -->

<!-- chartbeat -->
<script type="text/javascript">
var _sf_async_config={uid:2825,domain:"scpr.org"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>
