<table class="table table-striped">
	<thead>
		<tr>
			<th>Object</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody class="list">
		<% @admin_models.each do |resource| %>
			<tr>
				<td><%= link_to resource.name.titleize.pluralize, url_for([:admin, resource.name.underscore.pluralize]) %></td>
				<td>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
