<div id="headlines" style="margin-bottom:15px;padding:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #999;">
<h3 style="margin:0 0 5px 0">Latest Headlines</h3>
<ul>
<% for c in headlines[0..5] %>
	<li<% if c.audio.any? %> class="audio"<% end %>><%= link_to c.headline, c.link_path %></li>
<% end %>
</ul>
<div class="hr"></div>
<a style="text-transform:uppercase;font-size:11px;" href="/archive/<%= Date.today.strftime("%Y/%m/%d")%>">&raquo; All of today's headlines</a>
</div>