<div class="contentasset" style="width:<%= assets[0].asset.sizes.four.width %>px">
	<%= link_to assets[0].asset.tag(:four), content.link_path %>
	<h4><%= assets[0].asset.owner %></h4>	
	
	<% if assets[0].caption %>
		<p><%= assets[0].caption %></p>
	<% end %>
</div>