<%= form_block "Related Content" do %>
  <div id="aggregator" class="aggregator"></div>
  <%= f.input :content_json, as: :hidden, input_html: { id: "content_json" } %>
<% end %>

<% content_for :footerjs do %>
  <script>
    aggregator = new scpr.Aggregator("#aggregator", 
      <%= j record.outgoing_references.includes(:related).map(&:related).to_json.html_safe %>, 
      <%= j({ active: 'search' }.to_json.html_safe) %>);
  </script>
<% end %>
