<%= form_block "Related Links" do %>
  <% record.related_links.build %>
  
  <table class="field-rows">
    <thead>
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Type</th>
        <th>Delete</th>
      </tr>
    </thead>
    
    <tfoot>
      <tr>
        <td colspan="10">
          <%= f.link_to_add_fields(:related_links, title: "Add another Related Link", build_target: "#related-links-fields") %>
        </td>
      </tr>
    </tfoot>
    
    <tbody id="related-links-fields">
      <% record.related_links.each do |related_link| %>
        <%= f.render_fields "related_link", record: related_link %>
      <% end %>
    </tbody>
  </table>
<% end %>
