<h1>Car Donation</h1>
<h3>We turn old vehicles into great radio!</h3>

<p>Consider donating your unwanted car, truck, or boat to Southern California Public Radio. Our vehicle donation program is a great way to support quality programming AND get a deduction on your taxes.</p>

<p>Here's how it works: Just complete and submit the form below or call toll-free (877) 572-2227 and arrange a convenient pickup time. We'll pick up your vehicle, give you a receipt and you will be able to deduct the gross sales price as an itemized deduction on your income taxes.</p>

<a href="#faq"><p>See below for frequently asked questions.</p></a>

<div class="hr"></div>
<h2>Simply fill out the form; we'll do the rest.</h2>
<br/>

<iframe src="https://admin.charitableautoresources.com/Donate/CharityForm.aspx?CID=143&CCD=PCC" frameborder="0" height="1220" width="610">
       A browser that supports iFrames is required to view the donation form.  Since your browser
            does not support iFrames, click on the following link to donate your car or other vehicle: 
            <a href="http://www.charitableautoresources.com/donate-car-kpcc-southern-ca.htm">Donate Car</a>
            </p>
</iframe>


<a name="faq"></a>
<div class="hr"></div>
<h2>FAQ</h2>
<h3>Does my car or truck have to be running to qualify for donation?</h3>

<p>No, the car must have an engine and be towable. Cars that are in extremely poor condition or far from our tow range may be declined, as the cost to tow them may be more than the value of the vehicle. Call our customer service representative to find out if your vehicle qualifies.</p>

<h3>What paperwork do I need?</h3>

<p>Just sign the title! (Please note: a clear title indicates the title is in the name of the donor without a lien.)
What if I lost the title (pink slip)?</p>

<h3>You will need to get a duplicate title and call us when you have received it. Do I get a receipt for my donation?</h3>

<p>Yes, our driver will issue a tow receipt at the time of pick-up. This is not your final tax receipt. The tow receipt will indicate your name, the year, make, model and the condition of the vehicle you are donating.</p>

<p>A tax receipt with our Federal ID number will be mailed to you within 30 days of the sale stating the amount of gross proceeds received from your vehicle. This will be your receipt for your charitable contribution.</p>

<p>Donors can claim the amount for which the vehicle sold as a deduction on their itemized tax return. You will be sent a tax receipt with this amount when the vehicle sells.</p>

<h3>What can I claim as a deduction?</h3>

<p>According to the tax law effective January 1, 2005, if the claimed value of the donated vehicle exceeds $500, the taxpayer is limited to the gross proceeds of the sale.</p>

<h3>What if my car is valued over $5000?</h3>

<p>You are no longer required to have vehicles appraised. The value you may claim will be the amount of gross proceeds received from your vehicle.</p>

<h3>What do you do with the vehicles?</h3>

<p>The vehicles are sold at a private auction. The proceeds are used to support KPCC/Southern California Public Radio. Funds from vehicle donations help KPCC/SCPR acquire and produce quality news, educational and entertainment programs and support our outreach efforts in the community.</p>

<h3>How quickly can my vehicle be picked up?</h3>

<p>Vehicles are picked up at a time that is convenient for you. Call our representative to find out what times are available in your neighborhood.</p>

<h3>How much of the profit from the donated car goes to KPCC/SCPR?</h3>

<p>A total of 70 percent of the revenue generated from the sale of vehicles brought to auction, excluding transport fees comes back to the station.</p>

<h3>Do I have to be with the vehicle at the time of pick-up?</h3>

<p>No. Special arrangements can be made by calling our representative.</p>