<% @PAGE_TITLE = "Foundations and Institutional Giving" %>
<h1>Foundations and Institutional Giving</h1>
<p> 
Foundation support is vital to Southern California Public Radio (SCPR). Grants fund not only general operations, but are a primary means through which SCPR is able to develop and test new programming and initiatives.</p>

<p>For more information on foundation giving, please contact:</p>
<p>Institutional Giving Department<br />
Southern California Public Radio<br />
474 South Raymond Avenue<br />
Pasadena, CA 91105<br />
Ph: (626) 583-5139 <br />
Email: <a href="http://www.scpr.org/contact/#form">Online contact form...</a></p>


<div class="hr" /></div>
<h3>SCPR wishes to thank the following foundations for their support:</h3>
<div class="hr-vspace" /></div>

<div style="float:left; width:150px; margin-right:70px"><a href="http://www.wmkeck.org/" target="_blank"><img src="http://media.scpr.org/assets/images/support/foundations/keck.jpg" style="border:0px; float:left; margin:20px;" alt="Keck Foundation"  /></a>
</div>

<br clear="all" />

<p style="text-align: center;">
<div class="hr-vspace" /></div>

<div style="float:left; width:150px; margin-right:70px"><a href="http://www.calendow.org/" target="_blank"><img src="http://media.scpr.org/assets/images/support/foundations/calfund.gif" style="border:0px; float:left; margin:20px;" alt="The California Endowment"  /></a>
</div>

<br clear="all" />

<div class="hr-vspace" /></div>

<div style="float:left; width:150px; margin-right:70px"><a href="http://www.rmpf.org/" target="_blank"><img src="http://media.scpr.org/assets/images/support/foundations/parsons.gif" style="border:0px; float:left; margin:20px;" alt="Ralph M. Parsons Foundation"  /></a>
</div>

<br clear="all" />

<div class="hr-vspace" /></div>

<div style="float:left; width:150px; margin-right:70px"><a href="http://www.irvine.org/" target="_blank"><img src="http://media.scpr.org/assets/images/support/foundations/irvine.gif" style="border:0px; float:left; margin:20px;" alt="The James Irvine Foundation"  /></a>
</div>

<br clear="all" />

<div class="hr-vspace" /></div>

<div style="float:left; width:150px; margin-right:70px"><a href="http://www.rothfamilyfoundation.org/" target="_blank"><img src="http://media.scpr.org/assets/images/support/foundations/roth.jpg" style="border:0px; float:left; margin:20px;" alt="Roth Family Foundation"  /></a>
</div>

<br clear="all" />

<div class="hr-vspace" /></div>

<div style="float:left; width:150px; margin-right:70px"><a href="http://www.cpb.org/" target="_blank"><img src="http://media.scpr.org/assets/images/support/foundations/cpb_150.jpg" style="border:0px; float:left; margin:20px;" alt="CPB: Corporation for Public Broadcasting"  /></a>
</div>
<br clear="all" />

<div class="hr-vspace" /></div>

<div style="float:left; width:150px; margin-right:70px"><a href="http://www.pasadenacf.org/" target="_blank"><img src="http://media.scpr.org/assets/images/support/foundations/pasadena.jpg" style="border:0px; float:left; margin:20px 20px 20px 50px;" alt="Pasadena Community Foundation"  /></a>
</div>

<br clear="all" />

<div class="hr-vspace" /></div>

<div style="float:left; width:150px; margin-right:70px"><a href="http://www.haynesfoundation.org/" target="_blank"><img src="http://media.scpr.org/assets/images/support/foundations/haynes.gif" style="border:0px; float:left; margin:20px;" alt="John Randolph Haynes and Dora Haynes Foundation"  /></a>
</div>

<br clear="all" />

<div class="hr-vspace" /></div>

<div style="float:left; width:150px; margin-right:70px"><a href="http://www.pacificlife.com/Channel/Pacific+Life+Foundation/pacificlifefoundation.htm" target="_blank"><img src="http://media.scpr.org/assets/images/support/foundations/pacific_life.gif" style="border:0px; float:left; margin:20px 20px 20px 40px;" alt="Pacific Life Foundation"  /></a>
</div>

<br clear="all" />

<div class="hr-vspace" /></div>

<div style="float:left; width:150px; margin-right:70px"><a href="http://www.culturela.org/" target="_blank"><img src="http://media.scpr.org/assets/images/support/foundations/dca.gif" style="border:0px; float:left; margin:20px;" alt="City of Los Angeles, Department of Cultural Affairs"  /></a>
</div>

<br clear="all" />

<div class="hr-vspace" /></div>

<div style="float:left; width:150px; margin-right:70px"><a href="http://www.ecfboeingca.org/ecf_middle.htm" target="_blank"><img src="http://media.scpr.org/assets/images/support/foundations/boeing.gif" style="border:0px; float:left; margin:20px 20px 20px 50px;" alt="The Employees Community Fund of Boeing California"  /></a>
</div>
</p>

<br clear="all" />
<p>&nbsp;</p>
<div class="hr"></div>

<p>Your contribution to Southern California Public Radio plays a vital role in our ability to assist 89.3 KPCC in developing quality programming, including award-winning in-depth coverage of international, national, and regional news.</p>

<p>&nbsp;</p>
