<% @PAGE_TITLE = "Matching Gifts" %>
<h1>Matching Gifts</h1>
<p>Maximize Your Gift to Southern California Public Radio! Matching gifts are a simple way to make your contribution go farther. It's as easy as 1-2-3:</p>

<ol>
<li>When you make a contribution to SCPR, check with your company's human resources department to find out if your employer matches charitable contributions. Then request a Matching Gift Form. </li>
<li>Complete part one of the form and mail to Southern California Public Radio. </li>
<li>We'll do the rest! We'll complete the form and return it to your employer. </li>
</ol>
<p>It's quick, easy, and it makes your membership dollars go even further to bring you in-depth news and information!</p>

<p>Please mail the form to:<br />
Southern California Public Radio<br />
Development - Unit M<br />
PO Box 861238<br />
Los Angeles CA  90086-1238<br />
</p>

<div class="hr"></div>

<p>Listed below are companies that match gifts to 501(c)3 charitable organizations, please check with your human resources department for details.</p>

<table width="565" cellpadding="4" cellspacing="0" class="bodybox">
            <tr bgcolor="#FFEFDE">
              <td colspan="3"><a href="#a">A</a>|<a href="#b">B</a>|<a href="#c">C</a>|<a href="#d">D</a>|<a href="#e">E</a>|<a href="#f">F</a>|<a href="#g">G</a>|<a href="#h">H</a>|<a href="#i">I</a>|<a href="#j">J</a>|<a href="#k">K</a>|<a href="#l">L</a>|<a href="#m">M</a>|<a href="#n">N</a>|<a href="#o">O</a>|<a href="#p">P</a>|<a href="#q">Q</a>|<a href="#r">R</a>|<a href="#s">S</a>|<a href="#t">T</a>|<a href="#u">U</a>|<a href="#v">V</a>|<a href="#w">W</a>|<a href="#x">X</a>|<a href="#x">Y</a>|<a href="#z">Z</a> | <a href="#">Others </a></td>
              </tr>
            <tr bgcolor="#DDF0FB">
              <td width="196" valign="top"><a name=a id="a"><strong>-A-</strong></a><br>
  Abbott Laboratories Fund <br>
  ACE INA Foundation<br> 
  AC Vroman Inc. <br>
  Acrometal Companies Inc. <br>
  Adaptec, Inc. <br>
  ADC Telecommunications <br>
  ADP Foundation <br>
  Advantis <br>
  AES Corporation <br>
  AGIA, Inc. <br>
  Agribank, FCB <br>
  Air Products &amp; Chemicals, Inc.<br>
  AIG <br>
  Alliance Capital Management Corp. <br>
  Alliant Techsystems Inc. <br>
  Allied Signal Inc. <br>
  American Express Foundation <br>
  American Express Company <br>
  Ameritech Corporation <br>
  Ameron Inc.<br> 
  Amgen <br>
  Antioch Companies/Webway <br>
  AON Foundation<br>
  AOL Time Warner Foundation <br>
  Archer-Daniels-Midland Company <br>
  ARCO <br>
  Aspect Global Giving <br>
  AT&amp;T Foundation <br>
  ATC <br>
  ATK Sporting Equipment<br> 
  Automatic Data Processing <br>
  Aventis <br>
  Aventis Pharmaceuticals<br>
  Avery Dennison <br>
  AXA Foundation<br>
  Ayco<br></td>
              <td width="196" valign="top"><a name="b"></a><strong>-B-</strong> <br>
  Bakers Square Restaurants <br>
  Bank of America Corp. <br>
  Bank One Corporation<br>
  Bankers Trust Company Banta Corporation Foundation <br>
  The Baxter Allegiance Foundation 
  Bea Foundation <br>
  Bell Atlantic Corporation <br>
  Bemis Company Foundation <br>
  BFGoodrich Company Bixby Land Company <br>
  Blandin Foundation <br>
  Bloomingdale's <br>
  Blount Foundation <br>
  BMC Industries Inc.<br> 
  BNSF Boeing Company <br>
  Borden Foundation <br>
  BP Amoco<br>
  BP Foundation <br>
  Braun Intertec Corp. 
  Breslauer and Rutman, LLC <br>
  BTD Manufacturing, Inc. <br>
  Burlington Northern Santa Fe Railway Co. <br>
  Butler Manufacturing Company </td>
              <td width="196" valign="top"><a name="c" id="c"></a><strong>-C-</strong> <br>
  California Community Foundation<br>
  California Wellness Fdn. <br>
  California Institute of Technology<br> 
  CAN Foundation <br>
  Capital Group Companies<br> 
  The Candle Foundation <br>
  The Case Corporation <br>
  Caterpillar Foundation <br>
  CBS Foundation, Inc. <br>
  Celestica Corporation <br>
  CertainTeed Corp. Charitable Gift Fund <br>
  Charles Schwab &amp; Company Inc. <br>
  ChartHouse International <br>
  Charitable Gift Fund <br>
  Chase Manhattan Corp. <br>
  Chevron Corp. <br>
  Chevron Texaco <br>
  Chicago Title and Trust Company Foundation <br>
  Chubb &amp; Son Inc. <br>
  Chubb Life Insurance Company of America <br>
  CIGNA Foundation <br>
  Citigroup Foundation <br>
  Clariant Corporation <br>
  CMS Hartzell Inc. <br>
  CNA Surety Corp. <br>
  Coca-Cola Company, The <br>
  Colgate-Palmolive Co. <br>
  Community First National Bank<br> 
  Community Foundation <br>
  Community Partners <br>
  Compaq Computer <br>
  Conrad N. Hilton Foundation<br> 
  Corbis <br>
  Computer Associates<br> 
  Countrywide Cares <br>
  Countrywide Financial <br>
  International, Inc. <br>
  Computer City Supercenters <br>
  Computer Network Technology 
  Connecticut Mutual <br>
  Corning Incorporated Fdn. <br>
  CR Bard Foundation </td>
            </tr>
            <tr bgcolor="#FFECD9">
              <td width="196" valign="top"><a name=d id="d"></a><strong>-D-</strong> <br>
  Delta Airlines FoundationDeluxe Corporation Fdn. Display Sales <br>
  Dougherty Financial Group, LLC <br>
  Dougherty Summit Securities, LLC <br>
  Dow Corning Corporation</td>
              <td width="196" valign="top"><a name=e id="e"></a><strong>-E-</strong> <br>
  Eaton Corporation<br> 
  East Bay Community Fdn. <br>
  Ecolab Foundation<br> 
  Electronic Arts<br> 
  Edison <br>
  EFunds <br>
  Elf Atochem North American <br>
  Eli Lilly and Company <br>
  Emerson Electric Co.<br> 
  Energy for Others<br> 
  Ericsson<br> 
  Exxon Mobil Foundation</td>
              <td width="196" valign="top"><a name=f id="f"></a><strong>-F-</strong> <br>
  Fair, Isaac and Company Inc. 
  Family Financial Education <br>
  Fannie Mae Foundation <br>
  Federated Department Stores <br>
  Fel-Pro<br> 
  Fidelity Investments <br>
  First Quadrant<br> 
  Fisherman Family Foundation<br> 
  Fortis Companies<br> </td>
            </tr>
            <tr bgcolor="#DDF0FB">
              <td width="196" valign="top"><a name=g id="g"></a><strong>-G-</strong> <br>
  Arthur J. Gallagher Foundation<br>
  Gannett Communities Fund<br> 
  Gap Foundation<br> 
  General Agents Acceptance Corp.<br> 
  General Electric <br>
  General Mills Foundation <br>
  General Re Corporation<br> 
  Genentech <br>
  Georgia-Pacific Corp.<br> 
  J. Paul Getty Trust <br>
  Gillette <br>
  GlaxcoSmithKline<br> 
  Global Community Partnerships <br>
  GMAC-RFC <br>
  Goodrich Corporation<br> 
  Google <br>
  W.W. Grainger, Inc.<br> 
  Greater Kansas City Community Foundation<br> 
  GS&amp;Co<br> 
  GTE Foundation <br>
  Guidant Foundation </td>
              <td width="196" valign="top"><a name=h id="h"></a><strong>-H-</strong> <br>
  Halleland, Lewis, Nilan, Sipkins, &amp; Johnson<br> 
  Harcourt General Inc. <br>
  Harsco Corporation Fund <br>
  Hartford Steam Boiler Inspection &amp; Insurance Company <br>
  Henry A. Bromelkamp &amp; Co.<br> 
  Hewlett Packard <br>
  Hickory Tech Corporation Foundation <br>
  HJ Heinz Company Foundation <br>
  Home Depot, The <br>
  Honeywell Inc.<br> 
  American Honda Motor Co. <br>
  Houghton Mifflin Company<br> 
  Household International<br> 
  Horizon Media Inc.<br> 
  Hughes Aircraft Co. </td>
              <td width="196" valign="top"><a name=i id="i"></a><strong>-I-</strong> <br>
  IBM Corp. 
  IDS Financial Services <br>
  IKON Office Solutions Foundation <br>
  ING Foundation <br>
  Inktek Plastics, Inc<br> 
  Ingram<br> 
  Independent Charities<br> 
  Involve<br> 
  The Irvine Company<br> 
  ING<br> 
  ITG, Inc.<br> 
  ITN<br> 
  ITT Industries Inc. <br>
  ITW - Illinois Tool Works </td>
            </tr>
            <tr bgcolor="#FFECD9">
              <td width="196" valign="top"><a name=j id="j"></a><strong>-J-</strong> <br>
  J &amp; H Marsh &amp; McLennan<br> 
  J. Paul Getty Trust <br>
  Javelin Solutions<br> 
  Jewish Community Foundation <br>
  John Hancock Mutual Life Insurance Company 
  Johnson &amp; Higgins <br>
  Johnson &amp; Johnson Family of Companies <br>
  Johnson Controls Foundation <br>
  Johnstech International Corporation <br>
  Jostens Inc. </td>
              <td width="196" valign="top"><a name=k id="k"></a><strong>-K-</strong> <br>
  Kaplan Inc.<br> 
  Kemper<br> 
  Kennedy Jenks Consultants <br>
  King Controls <br>
  Kmart Corp. <br>
  Kraft Foods, Inc. </td>
              <td width="196" valign="top"><a name=l id="l"></a><strong>-L-</strong> <br>
  Land O' Lakes Foundation <br>
  Larkin, Hoffman, Daly &amp; Lindgren, Ltd.<br> 
  Leo Burnett Company Fdn. <br>
  Lexis-Nexis <br>
  Lexmark International<br> 
  Lockheed Martin Corporation<br> 
  Los Angeles Times <br>
  Lotus Corporation <br>
  Lucent Technologies </td>
            </tr>
            <tr bgcolor="#DDF0FB">
              <td width="196" valign="top"><a name=m id="m"></a><strong>-M-</strong> <br>
  Macromedia <br>
  Macy's<br> 
  Mattel <br>
  Manulife Financial <br>
  Maritz, Inc. <br>
  Marquette Bank<br> 
  Mattel Children's Foundation <br>
  Massachusetts Mutual Life Insurance Company <br>
  Maurices Inc. <br>
  May Department Store<br> 
  May Foundation<br> 
  Company, The<br> 
  McCune Foundation <br>
  McDonald's Corp.<br> 
  McDonnell Douglas <br>
  MCG/Healthcare <br>
  McGraw-Hill Foundation Inc. <br>
  McKnight Foundation<br> 
  McMaster Carr <br>
  McNeely Foundation, The <br>
  MEDTOX Laboratories Inc.<br> 
  Mercantile Safe Deposit &amp; Trust <br>
  Merck Company Foundation <br>
  Meredith Corporation <br>
  Merrill Lynch &amp; Company Foundation Inc. <br>
  Metris Companies Foundation <br>
  Michaud, Cooley &amp; Erickson <br>
  Microsoft Corp.<br> 
  MindShare <br>
  Mitsubishi Bank <br>
  MMI Companies, Inc. <br>
  Mobil Oil Corp. <br>
  Monsanto Fund<br> 
  Mony's <br>
  MONY Life Insurance Company <br>
  Motorola Foundation <br>
  MTS Systems Corp. <br>
  Murphy Oil USA Inc. </td>
              <td width="196" valign="top"><a name=n id="n"></a><strong>-N-</strong> <br>
  Nabisco Foods Group <br>
  National Computer Systems <br>
  National Instruments Corporation<br> 
  National Medical Enterprises <br>
  National Starch and Chemical Foundation, Inc. <br>
  NCR Corporation <br>
  Newsweek<br> 
  New Century Mortgage Corp.<br> 
  New Century Financial Corp.<br> 
  Nissan North America, Inc.<br> 
  Northern Telecom Inc.<br> 
  Northern Trust <br>
  Northrop Grumman <br>
  Norvartis US Foundation <br>
  NRG-Natural Resource Group<br> 
  Nursing Strikes </td>
              <td width="196" valign="top"><p><a name=o id="o"></a><strong>-O-</strong> <br>
    Object Technology, Inc. <br>
    Olive Garden, The <br>
    Omron Foundation, Inc. <br>
    Ondeo Nalco <br>
    Osmonics Inc.<br> 
    Outreach<br> 
    Owens Corning <br>
              </p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p><br>
                <a href="#top">Top</a>                    </p></td>
            </tr>
            <tr bgcolor="#FFECD9">
              <td width="196" valign="top"><a name=p id="p"></a><strong>-P-</strong> <br>
  Pacific Enterprises – Sempra<br> 
  Energy<br> 
  Pacific Telesis <br>
  Pasadena Community Foundation<br> 
  Patagonia<br> 
  Payden &amp; Rygel<br> 
  PepsiCo Foundation Inc. <br>
  Pfizer Inc. <br>
  Philip Morris Companies Inc.<br> 
  Phoenix Home Life <br>
  Pioneer Hi Bred International <br>
  Pitney Bowes Inc.<br> 
  Pimco Foundation, The <br>
  Pizza Hut <br>
  PNC Bank Foundation <br>
  PPG Industries <br>
  The Prudential Foundation <br>
  Public Strategies Group, The </td>
              <td width="196" valign="top"><a name=q id="q"></a><strong>-Q-</strong> <br>
  Quad Graphics <br>
  Quaker Oats Foundation, The<br> 
  Quest Diagnostics<br> 
  Quentin Hancock Fund </td>
              <td width="196" valign="top"><a name=r id="r"></a><strong>-R-</strong> <br>
  Radio Shack<br> 
  Random House <br>
  RBC Dain Rauscher Foundation <br>
  Reader's Digest Foundation <br>
  Remmele Engineering Inc. <br>
  Residential Funding Corp. <br>
  Resource Companies, The <br>
  Retek, Inc. <br>
  Reuters<br> 
  RJR Nabisco, Inc.<br> 
  Robert Sharp Pacific Overtures <br>
  Rockwell International<br> 
  Rockwell Collins<br> 
  R.R. Donnelley &amp; Sons <br></td>
            </tr>
            <tr bgcolor="#DDF0FB">
              <td width="196" valign="top"><a name=s id="s"></a><strong>-S-</strong> <br>
  Safeco Insurance Companies<br> 
  Salomon Smith Barney Charitable Trust In<br> 
  Sara Lee Foundation<br> 
  Sauer-Sundstrand <br>
  SBC Foundation <br>
  SCICOM Data Services <br>
  Seagate Technology, Inc.<br> 
                Securities Service Division<br> 
                Sempra Energy <br>
  Sentry Foundation <br>
  Sheldahl<br> 
  Shell Oil Company <br>
  Silicon Graphics<br> 
  Southern California Gas<br> 
  Sony Pictures <br>
  Sprint Foundation <br>
  SPX Corp. <br>
  Square D Foundation<br> 
  Smith Barney Citigroup <br>
  Standard Brands Paints<br> 
  Stanley Works, The<br> 
  Stanley<br> 
  State Farm Companies<br> 
  State Street <br>
  Stirtz, Bernards &amp; Company, PA <br>
  Sulzer Spine-Tech <br>
  Sun Microsystems Foundation<br> 
  Symantec </td>
              <td width="196" valign="top"><a name=t id="t"></a><strong>-T-</strong> <br>
  Tandy Corporation <br>
  Tektronix Inc.<br> 
  Teledyne Inc.<br> 
  Telesis Foundation <br>
  Temple-Inland Foundation<br>
  Tenet Healthcare Corp. <br>
  Tennant Foundation <br>
  Tenneco Inc. <br>
  Texas Instruments Foundation <br>
  Textron Inc. <br>
  Thermo King Company<br> 
  3M <br>
  Thrivent Financial for Lutherans <br>
  Time Warner Inc. <br>
  Times Mirror Company, The <br>
  Tompkins Corporation<br> 
  Toro Foundation, The<br> 
  Toyota Motor Sales USA <br>
  Transamerica Corp. <br>
  The Traveler's Foundation<br> 
  Tricon Foundation <br>
  TRW Inc.<br> 
  Turner Construction Co.<br> 
  The Turner Corporation </td>
              <td width="196" valign="top"><a name=u id="u"></a><strong>-U-</strong> <br>
  UFE Inc. <br>
  Unihealth Foundation<br> 
  Unilever <br>
  Unisource Worldwide, Inc. <br>
  United Defense <br>
  United Technologies Corp. <br>
  Universal Hospital Services Universal Studios<br> 
  Unocal Foundation<br> 
  USA Interactive <br>
  UPS Foundation, The <br>
  U.S. Bancorp <br>
  USF &amp; G </td>
            </tr>
            <tr bgcolor="#FFECD9">
              <td width="196" valign="top"><a name=v id="v"></a><strong>-V-</strong> <br>
  Vanguard Charitable Endowment<br> 
  Veritas Software<br> 
  Verizon<br> 
  Vulcan Materials Company </td>
              <td width="196" valign="top"><a name=w id="w"></a><strong>-W-</strong> <br>
  Archie and Bertha Walker Foundation<br> 
  Washington Mutual <br>
  Waste Management Inc.<br> 
  Wachovia <br>
  Weisman Enterprises Inc.<br> 
  Wells Fargo &amp; Company <br>
  West Group<br> 
  Western Asset <br>
  Westinghouse Electric Corp.<br> 
  William &amp; Flora Hewlett Foundation <br>
  Williams Companies Inc., The <br>
  The Woodburn Group, Inc. <br>
  Words At Work, Inc. </td>
              <td width="196" valign="top"><a name=x id="x"></a><strong>-X,Y-</strong> <br>
  Xerox Foundation<br> 
  Yahoo<br> 
  Yum </td>
            </tr>
            <tr bgcolor="#DDF0FB">
              <td width="196" valign="top"><a name=z id="z"></a><strong>-Z-</strong> <br>
  Zelle, Hoffmann, Voelbel &amp; Gette LLP <br>
  Zero-Max, Inc. </td>
              <td width="196">&nbsp;</td>
              <td width="196">&nbsp;</td>
            </tr>
            <tr bgcolor="#FFEFDE">
              <td colspan="3" valign="top"><a href="#a">A</a>|<a href="#b">B</a>|<a href="#c">C</a>|<a href="#d">D</a>|<a href="#e">E</a>|<a href="#f">F</a>|<a href="#g">G</a>|<a href="#h">H</a>|<a href="#i">I</a>|<a href="#j">J</a>|<a href="#k">K</a>|<a href="#l">L</a>|<a href="#m">M</a>|<a href="#n">N</a>|<a href="#o">O</a>|<a href="#p">P</a>|<a href="#q">Q</a>|<a href="#r">R</a>|<a href="#s">S</a>|<a href="#t">T</a>|<a href="#u">U</a>|<a href="#v">V</a>|<a href="#w">W</a>|<a href="#x">X</a>|<a href="#x">Y</a>|<a href="#z">Z</a> | <a href="#">Others</a> | <a href="#top">Top</a></td>
              </tr>
          </table>
		  
<div class="hr"></div>	  
