<h1>KPCC Member Benefits Card</h1>
<style type="text/css">
#hylo-map-widget .search {
	background:none;
	background-color:#50B3CF;
}
#hylo-map-widget .list {border-right:1px solid #efefef;}
#hylo-map-widget .filters {
	background-color: #efefef;
        border-bottom:1px solid #aaa;
	margin-bottom:0;
}
#hylo-map-widget .pagination {
	padding:10px 0;
}
#hylo-map-widget .pagination .current {
background: #a8dfef !important;
border-color: #009dc9 !important;
color: #009dc9 !important;
}
#hylo-map-container {
	border-right:none;
	border-left:none;
}
#hylo-map-container th {
	color:#666;
	font-weight:bold;
}
.share-div {padding:0 !important;}
.promotion-container {margin-bottom:20px;}
.header h2 {margin-bottom:10px !important;}
#hylo-map-widget #filter-container {background-color:#efefef;}
#hylo-map-widget > .list > ol#businesses-list > li.gray-background {background-color:#f7f7f7;}
</style>
<p>For an annual contribution of $60 or more, you'll receive a KPCC Member Benefits Card, providing you discounts to more than 100 restaurants, arts and cultural venues, and other establishments -- and this list is only going to keep growing! We hope you enjoy using this card and find the discounts valuable to you.</p>

<p>If you have any questions or would like to share your thoughts on KPCC's Member Benefits Card program, please contact the membership department using our <a href="http://www.scpr.org/contact/">online form</a>.</p>

<p><a href="/support/member-benefits-card/listing/"><strong>View businesses as a list</strong></a></p>

<div class="hr"></div>
<h2>Featured Businesses</h2>
<div id="promotions"></div>                            
<script type="text/javascript" charset="utf-8" src="http://v2.publink.com/widget/promotions.js?api_key=dc773c94abe3def7993b3a9902c0e717"></script>
<script type="text/javascript">
 window.onload=function(){
   new hylo.widget.Promotions('promotions');
 }
</script>
<div class="hr"></div>
<div id="map"></div>                            
<script type="text/javascript" charset="utf-8" src="http://v2.publink.com/widget/map.js?api_key=dc773c94abe3def7993b3a9902c0e717"></script>
<script type="text/javascript">
 new hylo.widget.Map('map', 42.352582, -71.057167);
</script>