<% @PAGE_TITLE = "Member Benefits Card Business Listing" %>
<h1>Member Benefits Card Business Listing</h1>
<style type="text/css">
#hylo-list-widget .search {
	background:none;
	background-color:#50B3CF;
}
#hylo-list-widget .filters {
	background-color: #efefef;
	margin-bottom:0;
}
#hylo-list-widget .pagination {
	padding:10px 0;
}
#hylo-list-widget .pagination .current {
background: #a8dfef !important;
border-color: #009dc9 !important;
color: #009dc9 !important;
}
#hylo-list-container {
	border-right:none;
	border-left:none;
}
#hylo-list-container th {
	color:#666;
	font-weight:bold;
}
</style>

<p>For an annual contribution of $60 or more, you'll receive a KPCC Member Benefits Card, providing you discounts to more than 100 restaurants, arts and cultural venues, and other establishments -- and this list is only going to keep growing! We hope you enjoy using this card and find the discounts valuable to you.</p>

<p>If you have any questions or would like to share your thoughts on KPCC's Member Benefits Card program, please contact the membership department using our <a href="http://www.scpr.org/contact/">online form</a>.</p>

<p><a href="/support/friends_card/"><strong>View Business Map</strong></a></p>

<div class="hr"></div>
<h2>List of Businesses</h2>

<div id="list"></div>                            
<script type="text/javascript" charset="utf-8" src="http://v2.publink.com/widget/list.js?api_key=dc773c94abe3def7993b3a9902c0e717"></script>
<script type="text/javascript">
 new hylo.widget.List('list');
</script>