<h1>Stock Gifts</h1>
<p>Giving stock held more than 12 months offers a two-fold tax savings. First, you avoid paying capital-gains tax on the increase in value of your stock. In addition, you receive a tax deduction for the full fair market value of the stock on the date of the gift. Subtracting the tax savings from what you originally paid for the stock can result in a gift that costs just pennies on the dollar. This is an excellent vehicle for stock that has appreciated substantially in value.</p>

<p>Stockbrokers require instructions in writing. You will need to give the following delivery information to your broker to make a gift to Southern California Public Radio:</p>


<dir>Contact: Michael Healy<br />
Firm: RBC Wealth Management<br />
2 North Lake Avenue<br />
Pasadena, CA 91101<br /><br />
Tel. (626) 204-2120 <br /><br />

Account: 311-76860-1-8<br />
DTC #: 0235<br /><br />

Account Name:  Southern California Public Radio<br/>
Federal Tax ID #:  95-4765734<br /><br />

If you are transferring a mutual fund asset, please contact SCPR BEFORE initiating that transaction. Mutual funds require special handling. </dir>

<p>It is important to notify SCPR when you have completed your request to your broker. To ensure the timely completion of your transaction, or if you have any questions, please contact Katherine Gfeller, 626-583-5145 or by e-mail using our <a href="/contact/#form">online contact form</a>.</p>
