<% @PAGE_TITLE = "Support Us" %>

<h1>Support Us</h1>
<p style="margin-bottom:20px;">Southern California Public Radio's largest and most important source of funding is you - our listeners. We're able to bring you comprehensive, unbiased coverage because listeners like you have shown their support. When you become a monthly Sustainer, you're also ensuring the future success of 89.3 KPCC, 89.1 KUOR and 90.3 KVLA. <a href="https://scprcontribute.publicradio.org">Contribute today.</a></p>


<div onclick="location.href='https://scprcontribute.publicradio.org/';" style="width:41%;float:left;margin-top:0px;margin-right:2%;background-color:#b70005;text-align: center;list-style-position:inside;padding:10px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin-bottom:15px;cursor:pointer;font-size: 30px; color: #ffffff">GIVE NOW</div><ul style="float:right;width:49%;margin-bottom:20px;">
	<li style="margin-top:0;"><a href="https://scprcontribute.publicradio.org">Renew your membership</a></li>
	<li><a href="https://scprcontribute.publicradio.org/contribute.php?refId=sustainers">Become a monthly Sustainer</a></li>
	<li><a href="https://scprcontribute.publicradio.org/scpr/public/contributor.do?noGift=on&refId=default">Make a one-time gift</a></li>
        <li><a href="https://scprcontribute.publicradio.org/scpr/public/contributor.do?noGift=on&refId=default">Join the Leadership Circle</a></li>
</ul>

<br clear=all />

<div style="width:49%;float:left;margin-right:2%;">
<h2>More Ways to Give</h2>
<ul>
<li><a href="/support/car_donation/">Donate your used car or boat</a></li>
<li><a href="/support/legacy_society/">Include KPCC in your Will</a></li>
<li><a href="/support/matching_gifts/">Submit a matching gift form</a></li>
<li><a href="/support/stock_gifts/">Make a gift of stock</a></li>
<li><a href="/support/affiliates/">Shop and support KPCC through our affiliate program</a></li>
</ul>
</div>

<div style="width:49%;float:right">
<h2>Learn More About</h2>
<ul>
<li><a href="/support/member_benefits_card">KPCC Member Benefits Card</a></li>
<li><a href="/support/leadership_circle/">The Leadership Circle</a></li>
<li><a href="/support/sustaining_memberships/">Our growing community of monthly Sustainers</a></li>
<li><a href="/support/member_benefits/">More member benefits</a></li>
<li><a href="/support/volunteer/">Volunteer your time</a></li>
</ul>
</div>

<br clear=all />

<div class="hr"></div>

<br clear=all />

<h2>Need Help?</h2>
<div style="float:left; width:190px; margin-right:15px; margin-bottom:15px">
<ul><li><a href="/contact/">Change your home or <br />email address</a></li>
	<li><a href="/contact/">Contact us</a></li></ul>
</div>

<div style="float:left; width:190px; margin-right:15px; margin-bottom:15px">
<ul><li><strong>Update your credit card or membership information</strong> by calling 626-583-5121</li>
<li><a href="/support/sustainer/">Convert your membership to a Sustaining Membership</a></li></ul>
</div>

<div style="float:left; width:190px; margin-right:15px; margin-bottom:15px">
<ul><li><a href="/newsletters/">Subscribe</a> or <a href="/contact/">Unsubscribe</a> to our newsletters</li></ul>
</div>

<br clear=all />

<div class="hr"></div>

<br clear=all />

<div style="float:left; width:290px; margin-right:15px; margin-bottom:15px">
<a href="/support/underwriting/"><h2>Underwriting</h2></a>
<p>Did you know that advertising on KPCC reaches an audience of over 600,000 people, both on-air and online? Corporate sponsorship of KPCC is a good business investment. We know that our listeners are 88 percent more likely to buy products and services from companies that support public radio. <a href="/support/underwriting/">Learn more about underwriting on Southern California Public Radio</a>.</p>
</div>

<div style="width:290px;float:left;margin-left:15px">
<a href="/support/foundations/"><h2>Foundations</h2></a>
<p>Grants fund not only general operations, but are a primary means through which SCPR is able to develop and test new programming initiatives. Grants also support specific news programs and SCPR's special projects. <a href="/support/foundations/">Foundation support</a> is vital to Southern California Public Radio.</p>
</div>