.storytitle {
	border-top:1px solid $grayLighter;
	margin-bottom:$baseline;
	padding-top:($baseline / 2);
}
.byline {
	color:$gray;
	@include text-utility();
	margin-top:($baseline / 4);
	a {
		color:$gray;
		font-weight:bold;
	}
}