.contentasset, .cbase .contentasset {
    img {max-width:100%;}
	h4 {
	   text-transform: none;
       text-align: right;
	   @include font-sans-serif(normal, 10px, 14px);
       margin-top: 0;
       margin-bottom: $baseline / 4;
       color: #999;
    }
    p {
        color: #777;
		@include font-sans-serif(normal, 11px, 14px);
		margin-bottom:0;
    }
}

.contentasset.caR {
    display: inline;
    float: right;
    margin-left: $gridGutterWidth;
    margin-bottom: $gridGutterWidth;
}

.contentasset.caW {
    margin: 0 auto;
    margin-bottom: $gridGutterWidth;
}

.contentasset.caOL {
    display: inline;
    float: left;
    margin-right: 6px;
}