.audiovision-block {
    margin-bottom: 5px;
    
    .asset-block .contentasset {
        max-height: 239px;
        overflow: hidden;
    }

    a.logo {
        display: block;
    }

    h6 {
        background-image: image-url('audiovision/logo-av-fullcolor.png');
        background-repeat: no-repeat;
        background-size: auto 100%;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 5px;
    }
}
