// Blog Directory Page
.directory {
	h6 {
		margin-bottom: 9px;
		border-bottom: 1px solid $grayLight;
	}
	.thumbnail {
		margin-bottom: 10px;
		background:$nearWhite;
		min-height:180px;
		padding:$baseline / 2;
		h2 {
			@include font-headline();
			text-transform:uppercase;
			a {
				color:$black;
			}
		}
		h5 {
			@include font-sans-serif(normal, 11px);
			color:$gray;
			text-transform:uppercase;
		}
		p.description {
			font-size:12px;
			line-height:14px;
		}
		.latest-post {
			margin: 4px 0 0 0;
			border-top: 1px solid $grayLighter;
			padding-top: 4px;
			a {
				@include font-headline(500);
				font-size:16px;
			}
			span {
				display:block;
				font-size:12px;
			}
		}
	}
}

// Blog Branding
.blog-masthead {
	height:47px;
	border-bottom: 1px solid $grayLighter;
	margin-bottom: $baseline / 2;
	
 	h2 {
		color:$black;
		font-size:28px;
		font-weight:200;
	}
	span.orange {
		color:$orange;
	}
	span.blue {
		color:$linkColorHover;
	}
}

.blog-pag {
	.next_page {
		float:right;
	}
}
.blog-landing {
	.entry {
		padding-top:$baseline / 2;
		&:first-child {
			.span6 {
				border:none;
			}
			.span6, .span2 {
				padding-top:0;
			}
		}
		.span6 {
		border-top:1px solid $grayLighter;
		}
		.span6, .span2 {
			padding-top:$baseline / 2;
		}
	}
}
// Blog Entry Date Styling
.date {
	p {
		color:$gray;
		@include font-sans-serif(bold, 11px);
		text-align:right;
	}
}