// Blog Directory Page
.directory {
	h6 {
		margin-bottom: 9px;
		border-bottom: 1px solid $grayLight;
	}
	.thumbnail {
		margin-bottom: 10px;
		background:$nearWhite;
		min-height:180px;
		padding:$baseline / 2;
		h2 {
			@include font-headline();
			text-transform:uppercase;
			a {
				color:$black;
			}
		}
		h5 {
			@include font-sans-serif(normal, 11px);
			color:$gray;
			text-transform:uppercase;
		}
		p.description {
			font-size:12px;
			line-height:14px;
		}
		.latest-post {
			margin: 4px 0 0 0;
			border-top: 1px solid $grayLighter;
			padding-top: 4px;
			a {
				@include font-headline(500);
				font-size:16px;
			}
			span {
				display:block;
				font-size:12px;
			}
		}
	}
}

// Blog Branding
.blog-masthead {
	border-bottom: 1px solid $grayLighter;
	margin-bottom: $baseline / 2;
	
 	h2 {
		@include font-shorthand(200, 28px, 30px);
	}
}

.blog-pag {
	.next_page {
		float:right;
	}
}

.entry {
	padding-top:$baseline / 2;
	@include responsiveImageAsset($sixW);
	border-bottom: 1px solid $grayLight;
}

// Blog Entry Date Styling
.date {
	p {
		color:$gray;
		@include font-sans-serif(bold, 11px);
		text-align:right;
	}
}