.cbase {
	h1, h2, h3, h4, h5, h6 {
		line-height:1.1em;
	}
	p {
		font-size:13px;
		line-height:18px;
		padding:5px 0 2px;
		margin: 0;
	}
	h4 {
		color:$gray;
		@include font-sans-serif(normal, 11px);
	    line-height: 1.1em;
        margin-top: 6px;
        text-transform: uppercase;
	
		a {
	        color: $gray;
	        font-weight: 600;
		}
		
		time.sttime {
			border-left:1px solid $grayLight;
			margin-left:2px;
			padding-left:4px;
		}
	}
	
	a.comment_link {
	    @include font-sans-serif(normal, 11px);
	    margin-bottom: 10px;
	    background: url(image_path('icons/comment-count-sm.png')) no-repeat left 1px;
	    padding-left: 14px;
	}
	
	time, .shell-link {
	    /* display: inline-block; */
        @include font-sans-serif(normal, 11px);
        color: $orangeDark;
        text-transform: uppercase;
		white-space:nowrap;
		
		&:hover {
			text-decoration:none;
		}
		
    }

	.shell-link {
		background:transparent url(image_path('icons/link-offsite.png')) no-repeat right 0;
		padding:1px 15px 0 0;
	}
}

time.smart {
	/* display: inline-block; */
    @include font-sans-serif(normal, 11px);
    color: $orangeDark;
    text-transform: uppercase;
}

.cbase.lead {
    h1 {
	  font-size:26px;
      margin-bottom: 0;
    }
}

.cbase.offlead {
	&:last-child {
		hr {
			display:none;
		}
	}
    h3 {
		@include font-headline();
    	margin-bottom:0;
    	a {
    		color:$nearBlack;
    	}
    }
    
    h4 {
        font-weight:normal;
		margin-bottom: 0;
		color: #999;
    }
    
    img {
        display: inline;
        float: left;
        margin: 8px 12px 12px 0;
    }
    
}

.cbase.thumbnail {
    h3 {
        font-weight:600;
		margin-bottom: 0;
    }
    h4 {
        font-weight:normal;
		margin-bottom: 0;
		color: #999;
    }
    
}
#lead-right {
	#lead-right .offleads .offlead:first-child h3.story-headline {
		font-size: 26px;
		line-height: 28px;
		font-weight: bold;
	}
	.lead h1 {
		font-size:24px;
		font-weight:600;
	}
}

.teaser {
	border-bottom: 1px solid $grayLighter;
	padding: 10px 0;
	.info {
		@include font-serif($size: 13px);
		vertical-align: top;
		h3 {
			@include font-headline();
			font-size:20px;
			line-height:22px;
			a {
				color:$nearBlack;
			}
		}
		.byline {
			margin-bottom:10px;
		}
	}
	.interact {
		@include font-sans-serif($size: 11px);
		.story-audio {
			display:block;
			margin-bottom:3px;
			a {
				padding-left:19px;
			}
		}
	}
}