header.episode {
	margin-top: $baseline/2 * -1;
	h4 {
		color: $orangeDark;
		display: inline-block;
		font-size:18px;
		font-weight:500;
		line-height:20px;
		margin-top:8px;
	}
	
	.story-audio {
		&.inline {
			margin: 0;
			display: inline-block;
		}
		a.play-btn {
			margin-top:3px;
		}
		a.play-text {
			@include ie-inline-block();
			padding:11px 5px 0 0;
		}
		.audio-toggler {
			@include font-headline();
			color:$nearBlack;
			font-size:16px;
			font-weight:600;
		}
		.download {
			@include font-sans-serif(normal, 11px);
			color:$grayDark;
		}
	}
}
