a.event-link {
	@include font-shorthand($size: 12px);
	display: inline-block;
	padding-left: 25px;
	height: 19px;
	background: url(image_path("icons/calendar-icon.png")) no-repeat left top;
	min-width: 120px;
}

span.fake-link {
  color: $linkColor;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
  &:hover {
	cursor: pointer;
    color: $linkColorHover;
    text-decoration: underline;
  }

	&.bold {
		font-weight: 500;
	}
}

.event-location {
	margin-left: 10px;
}

.event-headers	 {
	h1, h2, h4.story-title {
		a {
			color: #000;
		}
	}
		
	h1.story-title {
		@include font-navigation($weight: bold, $size: 22px);
		margin: 4px 0;
	}
	
	h2.story-title {
		@include font-navigation($weight: normal, $size: 18px);
		margin: 10px 0;
	}
	
	h3, a.twitter-peeker {
		@include font-slab-headings($size: 14px, $lineHeight: 18px);
		text-transform: uppercase;
	}
	
	h4.story-title {
		@include font-navigation($weight: normal, $size: 15px);
	}
	
	h6 {
		@include font-slab-headings($size: 17px, $lineHeight: 18px);
		text-transform: uppercase;
		margin-bottom: 10px;
	}
}

.event {
	.story-headline.event-headline {
		margin-bottom: 10px;
	}
	
	&.event-detail {
		.event-details {
			padding-top: 5px;
			margin-bottom: 10px;
			border-top: 1px solid $grayLighter;
			border-bottom: 1px solid $grayLighter;
			a {
				margin: 5px 0;
			}
			.past-date {
				background: url(image_path('icons/calendar-icon-black.png')) no-repeat left 5px;
				@include font-heading($size: 12px);
				padding-left: 26px;
			}
			.location-text {
				@include font-heading($size: 12px, $lineHeight: 14px);
				display: inline-block;
				vertical-align: top;
				margin-right: 10px;
				color: $gray;
			}
			ul.address {
				padding: 0;
				margin: 0;
				display: inline-block;
				li {
					@include font-heading($size: 14px, $weight: 250, $lineHeight: 14px);
					list-style: none;
				}

				.blue {
					color: $blue;
				}
			}
		
			.map-link {
				background:url(image_path('broadcast-bar/episode-arrow-invitation.png')) no-repeat right 6px;
				padding-right:15px;
				&:hover {
					background-position:right -38px;
				}
			}
		}
	}
}

.more-events {
	margin-bottom: 10px;
	h6 {
		font-size: 12px;
		margin-top: 5px;
		text-align: right;
	}
	
	h5 a {
		color: $black;
	}
}

.events {
	.upcoming-events {
		.event {
			border-bottom: 1px solid $grayLighter;
		}
		
		.closest {

		}

		.future {
			padding: 10px 0;
			.contentasset {
				margin-top: 6px;
				overflow: hidden;
				width: 160px !important; /* FIXME hack */
				height: 130px;
				img {
					width: 160px !important; /* FIXME hack */
					height: 160px !important;
				}
			}

			.info {
				@include font-serif($size: 13px);
				vertical-align: top;
				h3 {
					@include font-headline();
					font-size:20px;
					line-height:22px;
					a {
						color:$nearBlack;
					}
				}
			}
			&:last-of-type {
				border-bottom: none;
			}
		}
		.closest {
		}
	}

	.social {
		.banners {
			margin:  10px 0 10px 0;
			padding-bottom: 15px;
			border-bottom: 1px solid $grayLighter;
			a {
				display: block;
				width: 296px;
				height: 24px;
				margin: 10px 0 0 0;
			}
			.twitter-banner {
				background: #fff url(image_path("facebook/twitter-banner.png")) no-repeat 0 0;
			}
			.facebook-banner {
				background: #fff url(image_path("facebook/facebook-banner.png")) no-repeat 0 0;
			}
		}
		
		.twitter-peeker {
			display: block;
			height: 41px;
			margin: 15px 0 10px 0;
			padding: 10px 80px 7px 5px;
			background: #f5f5f5 url(image_path("facebook/twitter-peek.png")) no-repeat right bottom;
			text-align: center;
			color: inherit;
			@include box-shadow($shadow: inset 0 1px 1px rgba(0,0,0,.25));
			&:hover {
				text-decoration: none;
			}
		}
		
		.tweet {
			margin: 12px 0 8px 0;
			border-bottom: 1px solid $grayLighter;
			padding-bottom: 5px;
			@include font-sans-serif($size: 12px, $lineHeight: 15px);
			h5 {
				@include font-shorthand($size: 12px, $weight: bold);
			}
			img.tweet-image {
				display: inline-block;
				vertical-align: top;
				margin-right: 6px;
			}
			.tweet-content {
				vertical-align: top;
				width: 280px;
				display: inline-block;
			}
			.byline {
				font-size: 10px;
			}
		}
	}
}

.archive-strip {
	border-bottom: 1px solid $grayLighter;
	margin-bottom: 20px;
	.past-events {
		padding: 15px 0;
	}
	h3.title {
		background:url("section-headline-background.png") repeat-x;
		height:35px;
		line-height: 35px;
		padding-left: 5px;
		a {
			
		}
	}
}

.events-list {
	border-bottom: 1px solid $grayLight;
	.teaser {
		padding:18px 0;
		img {
			float:left;
			margin-right:12px;
		}
		.event-details {
			margin-left:100px;
			span.event-location {
			    /* display: inline-block; */
		        @include font-sans-serif(normal, 11px);
		        color: $gray;
		        text-transform: uppercase;
				white-space:nowrap;
				&.forum {
					color:$orangeDark;
				}
			}
		}
		.info {
			margin: 0 5px;
		}
	}
}


/* FADER */

.forum #megamenu {
	$shadow: 0 6px 10px rgba(0,0,0,.5);
	@include box-shadow($shadow);
}
#events-header {
	position: relative;
	top: -45px;
	height: 450px; /* Is there a better way to push the page content down? */
	min-width:1110px;
	
	.wrapper {
		position: relative;
	}
	
	.hero {
		position: relative;
		background-color:#2e2e2e;
		height:468px;
		width:100%;
		overflow: hidden;
		text-align: center;
		&>img {
			max-width:1500px;
			width:100%;
			z-index: 8;
			opacity: 0.0;
			&.active {
				z-index: 10;
				opacity: 1.0;
			}
			&.last-active {
				z-index: 9;
			}
		}
	}
	
	.hero-text {
		position: relative;
		margin: 0 auto;
		left: -290px;
		top: -430px;
		z-index: 11; /* Since we're setting z-index on the images for the fading. */
		padding: 20px;
		height: 180px;
		width: 523px;
		text-align: left;
		.cff-logo {
			margin: 5px auto;
			width: 524px;
			height: 37px;
			background: url(image_path("event-headers/cff-logo.png"));
		}
		.tagline {
			margin-left:37px;
			h3 {
				color:#00b9f3;
				font:34px/48px "Museo Slab", sans-serif;
				font-weight: 500;
				margin:0;
				text-shadow:0 1px 0 rgba(0,0,0,0.75);
			}
			p {
				color:#fff;
				font:18px/21px "Museo Slab", sans-serif;
				font-weight: normal;
				margin:0;
				text-shadow:0 1px 0 rgba(0,0,0,0.75);
			}
		}
	}
	
	.choosers {
		position: relative;
		top: -30px;
		z-index: 11;
		text-align: center;
		width: 100%;
		.chooser {
			color: $yellow;
			font-size: 22px;
			display: inline-block;
			width: 30px;
			height: 20px;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

nav.events {
	margin-bottom: 25px;
	h4 {
		font-weight: 400;
		color: lighten($gray, 30%);
		border-bottom: 1px solid $grayLighter;
	}
	a {
		display: block;
		text-transform: uppercase;
		border-bottom: 1px solid $grayLighter;
		@include font-navigation($size: 14px);
		color: darken($gray, 20%);
		padding: 8px;
		@include transition(all .15s ease-in-out);
		&:hover {
			text-decoration: none;
			background: $nearWhite;
		}
	}
}

#getting-there {
	display: block;
	background: url(image_path("cff-building.png")) no-repeat right 98%;
	&:hover {
		text-decoration: none;
	}
	ul { 
		margin-top: 20px;
		@include font-navigation($size: 13px);
		li {
			color: darken($gray, 20%);
		}
	}
}

.static-content {
	img.left {
		float: left;
		margin: 0 10px;
	}
	
	ul.info {
		background: $nearWhite;
		border: 1px solid $grayLighter;
		margin: 5px 0;
		padding: 15px 15px 5px 20px;
		li {
			list-style: none;
			margin-bottom: 15px;
		}
	}
	
	.google-map {
		text-align: center;
	}
}
