// #Main Body Content
#main {
	margin-top:1px;
}

// Trending Bar
.trending {
	border-bottom:1px solid $grayLighter;
	margin-bottom:$baseline;
	padding:4px;
	h6 {
		@include ie-inline-block();
		float:left;
		font-size:13px;
		font-weight:normal;
		line-height:1.8em;
		margin-right:10px;
	}
	ul li {
		@include nav-horiz();
		a {
			color:$grayDark;
			@include font-sans-serif(normal, 12px, 18px);
		}
	}
}

// Broadcast Bar
#broadcast-bar-outer-container {
	border-top:1px solid $grayBorder;
	border-bottom:1px solid $grayBorder;
	margin:3px 0 25px 0;
	&.headshot {
		margin-top:12px;
	}
}
#broadcast-bar-inner-container {
	background:$grayBackground;
	border-top:1px solid $white;
	border-bottom:1px solid $white;
	height:46px;
	width:100%;
}
section.broadcastbar {
	margin:$margin-center;
	width:1112px;
	@include clearfix();
	.left {
	    float: left;
	    margin-top: 14px;
	}
	.right {
	    float:right;
		margin-right:20px;
	    margin-top: 14px;
	}
	ul {
		list-style:none outside none;
		margin:0 0 0 -15px;
		li {
			@include ie-inline-block();
			&.on-air {
				position:relative;
			}
			&.on-air img {
				position:absolute;
				left:0;
				top:0;
			}
			.bbar_headshot {
			    position: relative;
			    top: -38px;
				margin-bottom: -52px;
			}
			&.on-now {
				float:left;
				margin:0 0 0 90px;
				padding:8px 0 0 0;
			}
			&.active-show-title {
				@include font-heading($weight:normal, $size:1.5em);
				color:$orangeDark;
				a {
					color:$orangeDark;
					font-weight:600;
					text-shadow:1px 1px 0px #fff;
					&.true {
						background:url(image_path('broadcast-bar/episode-arrow-invitation.png')) no-repeat right 9px;
						padding-right:15px;
						&:hover {
							background-position:right -35px;
						}
					}
				}
			}
			&.show-status {
				@include font-sans-serif($weight:bold, $size:1.05em);
				color:$grayAlt;
				padding:0 0 0 5px;
			}
			&.show-summary {
				@include font-sans-serif($weight:normal, $size:0.95em);
				color:$grayAlt;
				padding:0 0 0 5px;
				position:relative;
				.episode-guide {
					@include box-shadow(0 3px 10px rgba(0, 0, 0, 0.45));
					background-color:$grayBackground;
					border:1px solid #bfbfbf;
					display:block;
					position:absolute;
					width:650px;
					min-height:300px;
					left:-220px;
					top:27px;
					&.hidden {
						display:none;
					}
					.inner-container {
						padding:20px 25px;
					}
					.arrow-up {
						background:url(image_path('broadcast-bar/episode-modal-arrow-up.png')) no-repeat;
						width:28px;
						height:12px;
						position:absolute;
						left:70px;
						top:-12px;
					}
					.modal-close {
						background:url(image_path('broadcast-bar/episode-modal-close-btn.png')) no-repeat;
						cursor:pointer;
						width:16px;
						height:15px;
						opacity:0.8;
						position:absolute;
						right:25px;
						top:20px;
						&:hover {
							opacity:1.0;
						}
					}
					h6 {
						margin-bottom:$baseline/2;
						a {
							color:$orangeDark;
						}
					}
					img {
						float:left;
						width:58px;
						height:58px;
					}
					ul.cbase {
						li {
							display:block;
							list-style-image:url(image_path('mega-divider.png'));
							margin-bottom:$baseline / 2;
							&.lead {
								list-style-image:none;
							}
							&.more {
								margin-bottom:0;
								a {
									background:url(image_path('broadcast-bar/episode-more-icon.png')) no-repeat right 1px;
									font-size:11px;
									padding-bottom:2px;
									padding-right:17px;
								}
							}
							a.comment_link {
								margin-left:0;
							}
						}
						margin-left:80px;
						h4 {
							font-size:18px;
							font-weight:bold;
						}
						h5 {
							font-size:15px;
						}
						p {
							color:$nearBlack;
							font-size:13px;
							line-height:18px;
						}
						.headline {
							@include font-headline(600);
							a {
								color:$nearBlack;
								}
							a.comment_link {
								color:$linkColor;
							}
						}
					}
				}
			}
			&.join-conversation {
				padding:0 0 0 12px;
				a {
					@include font-sans-serif($weight:bold, $size:1em);
					background:url("broadcast-bar/comment-icon.png") no-repeat scroll transparent;	
					color:$linkColor;
					padding:0 18px;
				}
			}
			&.up-next img {
				padding:8px 0 0 60px;
			}
			&.upnext-show-title, .upnext-show-title a {			    
				@include font-heading($weight:600, $size:1.5em);
				color:$orangeDark;
				text-shadow:1px 1px 0px #fff;
			}
			&.show-time {
				@include font-sans-serif($weight:normal, $size:0.9em);
				color:$gray;
				letter-spacing:-0.15em;
				padding:0 0 0 5px;
			}	
		}
	}
}
.offleads hr {
	margin: 1px 0 12px;
	&:last-child {
		display:none;
	}
}
// Join Conversation
.join-conversation-container {
	margin:0 0 0 30px;
	section.join_conversation {
		background-color:$grayBackground;
		h6 {
			color:$black;
			padding:5px 0 0 10px;	
		}
		blockquote {
			@include font-serif($size:1.1em, $lineHeight:25px);
			background:url("join-conversation-blockquote.png") no-repeat scroll 2% 50% transparent;		
			border:0 none;
			font-style:italic;
			margin:5px 0 0 0;
			min-height:33px;
			padding:0 25px 0 55px;
		}
		p.quotee {
			@include font-sans-serif($size:0.85em);
			color:$grayLight;
			padding:5px 25px 10px 55px;
			a {
				color:$gray;
			}
		}
	}
}

// More Headlines
.headlines {
	ul {
		list-style-image:url("more-headlines-li.png");
		li {
			margin:5px 0 0 -10px;
			a {
				@include font-headline($weight:lighter);
				color:$grayAlt;
				font-size:1.05em;
			}
		}
	}
}

// Events at the Forum
.events-forum {
	border-left:1px solid $grayLighter;
	padding:0 0 0 10px;
	h6 {
		padding-left:5px;
	}
	.events-content {
		@include clearfix();
		margin:10px 0;
		a {
			color:$grayAlt;
			&:hover .event-title {
				color:$grayAlt;
				text-decoration:underline;
			}
			&:hover {
				text-decoration:none;
			}
		}
		.event-title {
			color:$grayAlt;
			@include font-headline($weight:normal);
			font-size:1.2em;
			margin:0;
		}
		.event-date {
			@include font-serif($size:0.90em);
			background:url("events-forum-calendar-icon.png") no-repeat scroll 29% 90% transparent;				
			color:$linkColor;
			margin:10px 0 0 20px;
			padding-left:112px;
		}
		img {
			float:left;
			padding:0 15px 0 5px;			
		}
	}
}

#events-mega {
    .events-content {
        img {
            float: left;
           width: 65px;
           height: 65px;
           margin-right: 12px;
        }
    }
}


.top-half {
	border-bottom:1px solid $grayLight;
	margin-bottom:$baseline;
}

// Cbase H3 - Applies styling to first headline - activated by jQuery
.first-headline {
	font-size:30px;
	line-height:30px;
}

// More News
section.more-news-container {
	margin:0 !important;
	width:770px !important;
	div.more-news {
		border-right:1px solid $grayLighter;
		padding:0 10px ($baseline / 2) 0;
		section.more-news-title {
			background:url("section-headline-background.png") repeat-x;
			height:35px;
			h6 {	
				color:$grayAlt;
				float:left;
				font-size:18px;
				padding:4px 0 0 8px;
				text-transform:none;
			}
			span {
				@include font-sans-serif($size:0.85em);
				float:right;
				padding:8px 8px 0 0;
			}
		}
		section.more-news-content {
			float:left;
			margin:10px 0 0 0;
			padding-right:10px;
			width:445px;
			p.story-title {
				@include font-headline($weight:bold);
				font-size:1.2em;
				margin:0;
				a {
					color:$grayAlt;
				}
			}
			p.story-content {
				font-size:13px;
				line-height:18px;
				padding:10px 0 0 0;
			}
			ul {
			    margin-top: 12px;
				list-style-image:url("more-headlines-li.png");
				li {
					margin:5px 0 0 -10px;
					a {
						@include font-headline($weight:lighter);
						color:$grayAlt;
						font-size:1.05em;
					}
				}
			}
		}
		div.related-content {
			border-left:1px solid $grayLighter;
			margin:10px 0 0 0;
			padding:0 0 0 15px;
			h6 {
				font-size:0.90em;
				padding:5px 3px 5px 0;
			}
			img.segment {
				padding:10px 0 0 0;
			}
			.contentasset {
				a {
					display:block;
					max-height:170px;
					overflow:hidden;
				}
			}
			span.caption {
				@include font-headline($weight:lighter);
				color:$grayAlt;
				display:block;
				font-size:1.1em;
				a {
					color:$grayAlt;
				}
			}
			blockquote {
				@include font-headline($weight:lighter);
				border:0 none;
				font-size:1.5em;
				font-style:italic;
				line-height:23px;
				margin:10px 0 5px 0;
				padding:0;
			}
			div.comments-quotee {
				@include font-sans-serif($size:0.85em);
				background:url("more-news-quotee-icon.png") no-repeat scroll 60% 0 transparent;
				color:$grayLight;
				height:35px;
				padding:20px 0 0 20px;
			}
		}
	}
}


// Sidebar
div#sidebar-top {
	hr {
		margin:0 0 10px 0;
	}
}
div#sidebar-bottom {
	margin:0 0 0 20px;
	hr {
		margin:0 0 10px 0;
	}
	h6 {
		margin:0 0 10px 0;
	}	
}