// Masthead container
header#masthead {
	margin-bottom:$baseline;
}

// Set a min-height on the Hero pencil so that top and bottom margins are respected even when we don't have a hero to display
.hero {
	min-height:1px;
}

// KPCC logo image
.logo {
	position:relative;
	h1 {
		line-height:20px;
		margin:16px 0;
	}
	#kpcc-fb-like {
		vertical-align: bottom;
		max-width: 85px;
	}
}

// Pledge Now button
.pledge {
	@include background-image(linear-gradient(#00b9f3 45%, #0098c7 55%));
	@include border-radius(4px);
	@include font-heading(600, 13px);
	@include ie-inline-block();
	background-color:#0098c7;
	a {
		background:transparent url(image_path('icons/pledge-heart.png')) no-repeat 7px 2px;
		color:$white;
		@include ie-inline-block();
		padding:1px 8px 1px 34px;
		text-shadow: 0px -1px 0px #016d8e;
		&:hover {text-decoration:none;}
	}
}
// Pledge
.pledge-container {
	background: url(image_path("pledge-container-bg.jpg")) no-repeat bottom;
	height:72px;
	width:286px !important;	
	
	// Pledge Now button
	.pledge {
		left:132px;
		margin-left:30px;
		position:absolute;
		top:15px;
	}
	img {
		margin:0 0 15px 0;
	}
	img.reporter_headshot {
		margin:15px 0 0 -9px;
	}
	p.reporter {
		@include font-heading($size:10px, $weight:bold);
		float:right;
		margin-top:-25px;
	}
}

.pledge, nav.utils {
	margin:10px 0;
}

nav.utils ul {
	@include text-utility();
	display:block;
	float:right;
	margin:0;
	li {
		@include nav-horiz();
		border-right:1px solid #e9e9e9;
		&.username {
			a {
				display:inline;
			}
		}
		&:last-child {
			border-right:none;
		}
		a {
			display:block;
		}
	}
	li.social {
		a {
			@include ie-inline-block();
		}
		img { 
			margin-left:5px;
			vertical-align:text-top;
		}
	}
}

// Main Navbar Light
.nav-compact {
	display: none;
	position: fixed;
	top: 0;
	left: -50%;
	width: 50%;
	height: 100%;
	z-index: 10;
	@include box-shadow(3px 0 5px rgba(0,0,0,.35));
	background: $grayLighter;
	border: 1px solid $black;
	.nav-toggler {
		position: absolute;
		right: -15px;
		top: -1px; /* inline with border */
		background: $black;
		padding: 0 5px;
		height: 120px;
		line-height: 120px;
		color: $white;
		font-weight: bold;
		&:hover {
			cursor: pointer; /* just because */
		}
	}
	a {
		@include background-image(linear-gradient($grayLighter, $gray));
		text-align: right;
		vertical-align: text-bottom;
		display: block;
		color: $black;
		@include font-navigation;
		border-bottom: 1px solid $black;
		padding: 5px;
		&:first-of-type {
			@include background-image(linear-gradient(#cb5f1d 1%, lighten(#cb5f1d, 8%) 2%, lighten(#9b4816, 3%) 98%, #9b4816 100%));
			background-color:#cb5f1d;
			color: $white;
		}
		&:last-of-type {
			@include box-shadow(0 1px 3px rgba(0,0,0,.45));
		}
	}
}


.nav-primary {
	@include background-image(linear-gradient(darken($nearWhite, 10%) 1%, $nearWhite 2%, $grayLighter 98%, darken($grayLighter, 10%) 100%));
	background-color:darken($grayLighter, 10%);
	height:36px;
	position:relative;
	border-left:1px solid #cb5f1d;
	border-right:1px solid darken($nearWhite, 10%);
	.sections ul li.listen-live {
		@include background-image(linear-gradient(#cb5f1d 1%, lighten(#cb5f1d, 8%) 2%, lighten(#9b4816, 3%) 98%, #9b4816 100%));
		background-color:#cb5f1d;
		&:hover {
			@include background-image(linear-gradient(#cb5f1d, #9b4816));
		}
		a {
			background:url(image_path('icons/antenna.png')) no-repeat 8px 4px;
			color:$white;
			padding-left:33px;
			padding-right:22px;
			&:hover {
				background-color:transparent;
				color:$white;
				$no-shadow: none;
				@include box-shadow($no-shadow);
			}
		}
	}
	.sections ul li a {
		@include font-navigation(600, 16px);
		color:$grayDark;
		padding:8px 24px;
		text-transform:uppercase;
		&:hover, &.hover {
			background-color:$white;
			color:$orangeDark;
			$nav-shadow: 0 1px 3px rgba(0,0,0,.1), 0 0 4px lighten($gray, 10%);
			@include box-shadow($nav-shadow);
		}
	}
	
	nav, form {
		display: inline-block;
	}
	
	form {
		float:right;		
		fieldset {
			margin: 0 8px 0 0;
			padding: 0;
			label {
				display:none;
			}
			input.search {
				@include border-radius(20px);
				margin-top:3px;
				padding:0 8px;
				width: 160px;
				&:focus {
					outline: none;
				    border-color:#999;
					$shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px lighten($gray, 20%);
				    @include box-shadow($shadow);
				}
			}
			input.submit {
				background:transparent url(image_path('icons/search-btn.png')) no-repeat 50%;
				width:20px;
				height:20px;
				text-indent:-9999px;
				border:0;
			}
		}
	}
	
	.section-mega {
		background-color:$white;
		width:100%;
		min-height:$baseline * 10;
		position:absolute;
		top:36px;
		left:0;
		$mega-shadow:0 2px 3px lighten($gray, 10%);
		@include box-shadow($mega-shadow);
		h6 {
			color:$orangeDark;
			font-size:11px;
			line-height:1.3em;
		}
		ul li a {
			color:$nearBlack;
			@include font-sans-serif(bold, 12px);
			&:hover {
				text-decoration:underline;
				time {
					text-decoration:none;
				}
			}
		}
		.categories, .featured, .blogs {
			min-height:$baseline * 10;
		}
		.categories, .featured, .kpcc-programs, .events-nav, .events-forum {
			background:url(image_path('mega-divider.png')) no-repeat right 10px;
			&:last-child {
				background: none;
			}
		}
		.categories {
			position:relative;
			ul {
				display:block;
				float:left;
				margin-right:0;
				width:48%;
				&.right {
					margin-left:2%;
				}
				li {
					display:block;
					width:100%;
					a {
						display:block;
						padding:3px;
						text-transform:uppercase;
					}
				}
			}
			ul.content-types {
				position:absolute;
				left:10px;
				bottom:10px;
				width:235px;
				li {
					border-right:1px solid $grayLighter;
					float:left;
					width:auto;
					margin:0 4px;
					&:last-child {
						border-right:none;
					}
					&.videos {
						@include ie-inline-block();
						background:url(image_path('icons/videos.png')) no-repeat left top;
						padding-left:22px;
					}
					a {
						padding:0 10px 0 2px;
					}
				}
			}
		}
		.featured {
			@include clearfix();
			ul li {
				a {
					@include clearfix();
				}
				p {
					@include font-headline(600);
					font-size:15px;
					padding-left:75px;
					background: url(image_path('fallback-img.png')) no-repeat left top;
					min-height: 65px;
					margin-bottom: 0;
				}
			}
			img {
				float:left;
				width:65px;
				height:65px;
				margin-right:12px;
			}
		}
		.blogs, .events-sponsored {
			li {
				border-bottom:1px solid $nearWhite;
				float:none;
				&:last-child {
					border-bottom:none;
				}
			}
			p {
				margin-bottom:0;
				a {
					@include font-headline(600);
					font-size:14px;
					padding:6px 4px;
					&:hover {
						text-decoration:none;
					}
					.blog-name {
						color:$grayLight;
						@include font-sans-serif(normal, 11px);
						margin-left:4px;
						text-transform:uppercase;
						@include ie-inline-block();
					}
					.headline:hover {
						text-decoration:underline;
					}
				}
			}
		}
		.kpcc-programs {
			ul {
				margin:0;
				width:48%;
				&.first {
					border-right:1px solid $grayLighter;
					padding-right:10px;
				}
				&:last-child {
					margin-left:10px;
				}
				li {
					background:url(image_path('broadcast-bar/madeleine-brand-sm.png')) no-repeat left 12px;
					padding:0;
					&:first-child {
						border-bottom:1px solid $grayLighter;
					}
					&:hover {
						background-color:$nearWhite;
					}
					&.airtalk {
						background-image:url(image_path('broadcast-bar/larry-airtalk-sm.png'));
					}
					&.patt {
						background-image:url(image_path('broadcast-bar/patt-morrison-sm.png'));
					}
					&.offramp {
						background-image:url(image_path('broadcast-bar/john-offramp-sm.png'));
					}
					a {
						padding:15px 0 15px 78px;
						&:hover {
							text-decoration:none;
						}
						h4 {
							color:$orangeDark;
							font-weight:600;
						}
						p {
							@include font-sans-serif(normal, 11px, 16px);
							margin-bottom:0;
						}
					}
				}
			}
		}
		.all-programs {
			ul {
				li {
					float:none;
					width:100%;
					a {
						padding:5px 5px 5px 0;
					}
				}
			}
		}
		.events-nav.categories {
			ul {
				width:100%;
				li {
					float:none;
				}
			}
		}
		.events-forum {
			border-left:none;
			padding:0;
			.inner-container {
				padding-left:0;
				.events-content {
					@include clearfix();
					margin-bottom:$baseline;
					a {
						color:$grayAlt;
						&:hover .event-title {
							text-decoration:underline;
						}
					}
					.event-title, .event-date {
						margin-left:97px;
					}
					.event-title {
						font-size:15px;
						a, a:hover {
							color:$grayAlt;
						}
					}
					.event-date {
						background-position:left top;
						padding-left:28px;
					}
				}
				p.more a {
					color:$grayAlt;
					@include font-sans-serif(bold, 11px);
					padding:0;
					margin: 0;
					text-transform:uppercase;
					&:hover {
						text-decoration:underline;
					}
				}
			}
		}
		.events-sponsored {
			.inner-container {
				padding-left:0;
			}
			li {
				border-bottom:none;
				line-height:11px;
				margin-bottom:$baseline / 2;
			}
			.event-title {
				a {
					padding:4px 0 0 0;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.event-date {
				color:$linkColor;
				font-size:11px;
			}
			p.more a {
				color:$grayAlt;
				@include font-sans-serif(bold, 11px);
				padding:6px 0;
				text-transform:uppercase;
				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
}
#support-mega {
	.pledge-container {
		background:none;
		.pledge {
			position:relative;
			margin-left:0;
			left:0;
			top:0;
			a {
				background-position:8px 8px;
				font-weight:bold;
				padding:6px 9px 7px 34px;
			}
		}
	}
}