// Masthead container
header#masthead {
	margin:0 0 $baseline 0;
	.head-lead { min-height: 78px; }
	.head-lead-minimal {
		display: none;
		text-align: center;
		padding: 20px 0;
		margin: 0;
		@include clearfix;
		
		a.antenna {
			background: url(image_path("icons/antenna-orange.png")) no-repeat left top;
			height: 28px;
			color: $nearWhite;
			@include font-navigation($size: 14px);
			padding: 5px 0 0 25px;
			display: block;
			&:hover { text-decoration: none; }
		}
		
		a.dark-logo { margin: 0 auto; }
		span.condensed-nav-link {
			margin-right: 10px; 
			float: left;
			background: url(image_path("icons/nav-btn.png")) left top;
			width: 35px;
			height: 32px;
			text-align: text-top;
			cursor: pointer;
			&:hover { text-decoration: none; }
		}
	}	
}

// Set a min-height on the Hero pencil so that top and bottom margins are respected even when we don't have a hero to display
.hero { min-height:1px; }

// KPCC logo image
.logo {
	a { 
		display: block;
		margin-top: 20px;
	}
}

.mid-header-wrapper {
	text-align: left;
	white-space: nowrap;
	
	.fb-like {
		display: inline-block;
		vertical-align: bottom;
		padding: 6px;
		min-width: 100px;
		max-width: none;
	}
}

// Pledge
.pledge-container {
	display: inline-block;
	background: url(image_path("pledge-container-bg.jpg")) no-repeat bottom;
	height:72px;
	max-height: 72px;
	overflow: hidden;
	width:286px !important;
	// Pledge Now button
	.pledge {
		float: right;
		left:132px;
		margin-left:30px;
		position:absolute;
		top:15px;
	}
	img {
		margin:0 0 15px 0;
	}
	img.reporter_headshot {
		margin:15px 0 0 -9px;
	}
	p.reporter {
		@include font-heading($size:10px, $weight:bold);
		float:right;
		margin-top:-25px;
	}
}

.pledge, nav.utils {
	margin:10px 0;
}

.pledge-button-container { // For the responsive button
	display: none;
}

nav.utils {
	@include text-utility();
	text-align: right;
	.social {
		margin-bottom: 5px;
		img {
			margin-left:5px;
			vertical-align:text-top;
		}
	}
	ul {
		margin: 0;
		li {
			&:first-child { border-right:1px solid #e9e9e9; }
			display: inline-block;
			padding: 0 8px 0 6px;
		}
	}
}

// Pledge Now button
.pledge {
	@include background-image(linear-gradient(#00b9f3 45%, #0098c7 55%));
	@include border-radius(4px);
	@include font-heading(600, 13px);
	@include ie-inline-block();
	background-color:#0098c7;
	a {
		background:transparent url(image_path('icons/pledge-heart.png')) no-repeat 7px 2px;
		color:$white;
		@include ie-inline-block();
		padding:1px 8px 1px 34px;
		text-shadow: 0px -1px 0px #016d8e;
		&:hover {text-decoration:none;}
	}
}



.nav-condensed {
	text-align: center;
	margin: 0 auto;
	display: none;
	@include font-navigation;
	a {
		color: #000;
		width: 90px; // Really just need these buttons to be a set width. Fluid causes wrapping and 100% wide looks ridiculous.
		padding: 5px;
		margin-bottom: 4px;
		white-space: nowrap;
		display: inline-block;
	}
}

.nav-primary {
	@include background-image(linear-gradient(darken($nearWhite, 10%) 1%, $nearWhite 2%, $grayLighter 98%, darken($grayLighter, 10%) 100%));
	background-color:darken($grayLighter, 10%);
	height:36px;
	position:relative;
	border-left:1px solid #cb5f1d;
	border-right:1px solid darken($nearWhite, 10%);
	z-index: 1000; // Make sure the nav bar and mega menus are above anything that is absolutely positioned, or with a z-index set.
	
	.sections {
		white-space: nowrap;
		width: 76%;
		ul {
			margin-left: 0;
			li {
				width: 15%;
				text-align: center;
				height: 36px;
				display: inline-block;
				&.listen-live {
					@include background-image(linear-gradient(#cb5f1d 1%, lighten(#cb5f1d, 8%) 2%, lighten(#9b4816, 3%) 98%, #9b4816 100%));
					background-color:#cb5f1d;
					width: 136px;
					&:hover {
						@include background-image(linear-gradient(#cb5f1d, #9b4816));
					}
					a {
						background:url(image_path('icons/antenna.png')) no-repeat 8px 4px;
						color:$white;
						padding-left:33px;
						padding-right:22px;
						&:hover {
							background-color:transparent;
							color:$white;
							$no-shadow: none;
							@include box-shadow($no-shadow);
						}
					}
				}
		
				a {
					display: block;
					@include font-navigation(600, 16px);
					color:$grayDark;
					padding:8px 0;
					text-transform:uppercase;
					&:hover, &.hover {
						background-color:$white;
						color:$orangeDark;
						$nav-shadow: 0 1px 3px rgba(0,0,0,.1), 0 0 4px lighten($gray, 10%);
						@include box-shadow($nav-shadow);
					}
				}
			}
		}
	}
	
	nav, form {
		display: inline-block;
	}
	
	form {
		white-space: nowrap; // for the icon
		width: 23%;
		text-align: right;
		margin-top: 5px; /* Push the form down a little to vertically center it */
		fieldset {
			margin: 0 8px 0 0;
			padding: 0;
			label {
				display:none;
			}
			input.search {
				@include border-radius(20px);
				margin-top:3px;
				padding:0 8px;
				width: 75%;
				&:focus {
					outline: none;
				    border-color:#999;
					$shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px lighten($gray, 20%);
				    @include box-shadow($shadow);
				}
			}
			input.submit {
				background:transparent url(image_path('icons/search-btn.png')) no-repeat 50%;
				width:20px;
				height:20px;
				text-indent:-9999px;
				border:0;
			}
		}
	}
	
	.section-mega {
		background-color:$white;
		width:100%;
		min-height:$baseline * 10;
		position:absolute;
		top:36px;
		left:0;
		$mega-shadow:0 2px 3px lighten($gray, 10%);
		@include box-shadow($mega-shadow);
		
		h4 {
			@include font-navigation(600, 14px, $baseLineHeight);
			a { color: $nearBlack; }
			text-transform: none; // for elements with the cbase class
		}
		
		h6 {
			color:$orangeDark;
			font-size:11px;
			line-height: 14px;
			margin-bottom: 5px;
		}
		
		ul {
			list-style: none;
			margin-left: 5px;
			
			&.cbase li { 
				border-bottom: 1px solid $grayLighter; 
				margin: 5px 0;
				padding-bottom: 5px;
				&:last-child { border-bottom: none; }
			}
		}
		
		.blog-title a {
			color: lighten($gray, 20%);
			@include font-sans-serif(normal, 11px);
			text-transform:uppercase;
			display: inline-block;
		}
		
		.featured {
			@include centeredAsset;
			h4 {
				@include font-headline;
				@include font-shorthand(600, 15px, $baseLineHeight);
				a { color: $nearBlack; }
				text-transform: none; // for elements with the cbase class
			}
		}
		
		nav {
			width: 100%;
			li a {
				color:$nearBlack;
				@include font-sans-serif(bold, 12px);
				text-transform: uppercase;
				&:hover {
					time {
						text-decoration:none;
					}
				}
			}
		}
	
		.section {
			border-right: 1px solid $grayLighter;
			padding-right: $fluidGridGutterWidth;
			&.last {
				border-right: none;
			}
		}
		
		ul.content-types {
			li {
				display: inline-block;
				padding: 0 8px;
				border-right: 1px solid $grayLighter;
				&:last-child { border-right: none; }
			}
		}
		
		&#events-mega .section { 
			min-height: 280px;
			.event-link { color: $linkColor; }
		}
		
		&#news-mega .section {
			min-height: 200px;
		}
		
		&#arts-mega .section {
			min-height: 200px;
		}
		
		&#support-mega .section {
			min-height: 200px;
			.pledge a {
				background-position:8px 8px;
				font-weight:bold;
				padding:6px 9px 7px 34px;
			}
		}
		
		&#programs-mega .section {
			&.programs {
				a { 
					display: block;
					background-repeat: no-repeat;
					background-position: 0 12px;
					padding: 10px 0 0 78px;
					min-height: 80px;
					&:first-child { 
						border-bottom: 1px solid $grayLighter;
					}
					h4 {
						color:$orangeDark;
						@include font-sans-serif($weight: 600, $size: 15px);
					}
					p {
						@include font-sans-serif(normal, 11px, 16px);
						color: $black;
						margin-bottom:0;
					}
					&:hover {
						background-color: $nearWhite;
						text-decoration: none;
					}
					&.madeleine-brand {
						background-image:url(image_path('broadcast-bar/madeleine-brand-sm.png'));
					}
					&.airtalk {
						background-image:url(image_path('broadcast-bar/larry-airtalk-sm.png'));
					}
					&.patt-morrison {
						background-image:url(image_path('broadcast-bar/patt-morrison-sm.png'));
					}
					&.offramp {
						background-image:url(image_path('broadcast-bar/john-offramp-sm.png'));
					}
				}
			}
		}
	}
}
