.queries {
    .featured {
        .pager-nav {
            float: none;
            text-align: center;
            margin-bottom: 10px;
            padding-top: 10px;
            @include font-sans-serif;
            border-top: 1px solid $grayLighter;
            
            a.chooser {
                padding: 0;
                margin: 0 5px;
            }
            
            span.chooser {
                vertical-align: top;
                cursor: pointer;
                padding: 5px;
                margin: 2px;
                
                &:hover, &.active {
                    color: $orange;
                }
            }
        }
        
        .card {
            padding: 10px 14px;
            display: none;
            min-height: 100px;
            
            &.last-active, &.active {
                display: block;
            }
        }
    }
}

.pin-form {
    // Reset the KPCC form styles.
    label {
        padding-top: 0;
        font-size: inherit;
        line-height: inherit;
        float: none;
        width: auto;
        text-align: inherit;
        color: inherit;
    }
}

.pin-query-ending, .pin-legal, .pin-legal p, .pin-query-ending p {
    @include font-sans-serif($size: 10px, $lineHeight: 16px);
    font-size: 12px;
}
