$headShotHeight: 70px;
$headShotWidth: 90px;

/* the following must match the slug of the program */
.madeleine-brand {
    background-image: url(image_path('broadcast-bar/headshots/madeleine-brand.png'));
	background-repeat: no-repeat;
}
.airtalk {
	background-image: url(image_path('broadcast-bar/headshots/airtalk.png'));
	background-repeat: no-repeat;
}
.patt-morrison {
	background-image: url(image_path('broadcast-bar/headshots/patt-morrison.png'));
	background-repeat: no-repeat;
}
.offramp {
	background-image: url(image_path('broadcast-bar/headshots/offramp.png'));
	background-repeat: no-repeat;
}

#featured-programs {
	h4 {
		color:$orangeDark;
		font-weight:600;
	}
	&>a {
		display: block;
		&:hover {
			text-decoration: none;
		}
	}
	li {
		background-position: left bottom;
		min-height:60px;
		padding-left:100px;
		&:hover {
			background-color:$nearWhite;
			cursor: pointer;
		}
		p {
			margin-bottom:0;
		}
	}
}

.segment {
	.storytitle {
		margin-bottom:0;
	}
}

.program-masthead {
	border-bottom: 1px solid $gray;
	margin-bottom: $baseline / 2;
	padding: 0 0 10px 0;
	.row {
		position: relative;
		min-height: $headShotHeight;
	}
	
	.show-title {
		position: relative;
		min-height: $headShotHeight;
	}
	
 	h2 {
		position: absolute;
		bottom: 0;
		text-transform: uppercase;
		margin-bottom: 10px;
		@include font-headline;
		font-size: 40px;
		line-height: 30px;
		width: 400px;
		a {
			color: $black;
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	.show-meta {
		position: absolute;
		right: 0;
		bottom: 0;
		text-align: right;
		min-height: $headShotHeight;
		padding-right: $headShotWidth;
		width: 240px;
		background-position: right top;
		.info {
			position: absolute;
			bottom: 0;
			right: $headShotWidth;
			@include font-sans-serif($size: 11px, $lineHeight: 14px);
		}
		
	}
	
	.span4 {
		margin: 0;
		.support {
			position: relative;
			top: 15px; /* hax */
			left: 25px;
			height: $headShotHeight - 7px;
			background: url(image_path('support-banner.png')) no-repeat left top;
			padding: 7px 0 0 60px;
			margin: 0;
			width: 249px;
			color: #eee;
			text-shadow: 0 1px #666;
			@include font-serif;
			overflow-y: hidden;
		}
	}
}

.episodes {
	margin: 0;
	padding: 0;
	position: relative;
	.span4 {
		margin: 0;
		@include font-navigation($size: 13px);
		color: $gray;
		.header {
			@include font-heading($size: 10px, $weight: normal);
			text-transform: uppercase;
			color: $black;
		}
		&.current {
			margin: 0;
			padding: 0 0 0 14px;
			border-right: 1px solid $grayLighter;
			background: url(image_path('icons/arrow-left.png')) no-repeat left;
			&:hover {
				cursor: pointer;
				background-color: $nearWhite;
			}
		}
		&.upcoming {
			margin: 0;
			text-align: right;
			padding: 0 15px 0 0;
			background: url(image_path('icons/arrow-right.png')) no-repeat right;
			&:hover {
				cursor: pointer;
				background-color: $nearWhite;
			}
		}
	}
}