#featured-programs {
	h4 {
		color:$orangeDark;
		font-weight:600;
	}
	a {
		color:$grayAlt;
		&:hover {
			text-decoration:none;
		}
	}
	li {
		background:url(image_path('broadcast-bar/logo-mark-sm.png')) no-repeat left bottom;
		min-height:60px;
		padding-left:100px;
		&:hover {
			background-color:$nearWhite;
		}
		&.madeleine-brand {
		    background-image :url(image_path('broadcast-bar/headshots/madeleine-brand.png'));
		}
		&.airtalk {
			background-image:url(image_path('broadcast-bar/headshots/airtalk.png'));
		}
		&.patt {
			background-image:url(image_path('broadcast-bar/headshots/patt-morrison.png'));
		}
		&.offramp {
			background-image:url(image_path('broadcast-bar/headshots/offramp.png'));
		}
		p {
			margin-bottom:0;
		}
	}
}

.segment {
	.storytitle {
		margin-bottom:0;
	}
}