.show-segments {
	border-top:1px solid $grayLight;
	margin-top:$baseline;
	padding-top:$baseline / 2;
	&.span8 {
		margin: 0;
		padding: 0;		
	}
	&.episode {
		border-top:none;
	}
	h2 {
		color:$orangeDark;
		font-size:18px;
		font-weight:600;
	}
}

.segment-teaser {
	border-bottom: 1px solid $grayLighter;
	padding: 10px 0;
	.contentasset {
		margin-top: 6px;
		width: 170px;
		height: 170px;
		overflow: hidden;
	}
	div {
		display: inline-block;
	}
	.span2+.info {
		min-height:188px;
	}
	.info {
		@include font-serif($size: 13px);
		vertical-align: top;
		padding-right: 5px;
		h3 {
			@include font-headline();
			font-size:20px;
			line-height:22px;
			a {
				color:$nearBlack;
			}
		}
		.byline {
			margin-bottom:10px;
		}
	}
	.interact {
		@include font-sans-serif($size: 11px);
		margin-right: 0;
		.story-audio {
			display:block;
			margin-bottom:3px;
			a {
				padding-left:19px;
			}
		}
	}
}

section.segment-meta {
	margin: 40px 0 0 0;
	display: inline-block;
	text-align: right;
	time {
		@include font-sans-serif($size: 10px, $weight: bold);
	}
	.sharing-tools {
		margin-top: 20px;
	}
	.story-audio {
		@include font-sans-serif($size: 10px);
		.inner-container { /* This is because the audio widget as-is doesn't fit very well in the sidebar here */
			padding: 5px;
		}
		.audio-content {
			margin-top: 5px;
			margin-right: 5px;
		}
	}
}

section.segment {
	
}	

article.segment {
	display: inline-block;
	h1.story-title {
		@include font-headline();
	}
}

h5.episode-title {
	border-bottom: 1px solid $grayLighter;
	margin-bottom: 10px;
	padding: 0 0 5px 0;
	a {
		color:$grayDark;
		font-size:13px;
		font-weight:500;
	}
}