.show-segments {
	border-top:1px solid $grayLight;
	margin-top:$baseline;
	padding-top:$baseline / 2;

	&.episode {
		border-top:none;
	}
	h2 {
		color:$orangeDark;
		font-size:18px;
		font-weight:600;
	}
	
	.teaser {
		@include responsiveImageAsset($lsquareW);
		.info {
			border-right: 1px solid $grayLighter;
			padding-right: 10px;
		}
	}
}

section.segment-meta {
	margin: 40px 0 0 0;
	display: inline-block;
	text-align: right;
	time {
		@include font-sans-serif($size: 10px, $weight: bold);
	}
	.sharing-tools {
		margin-top: 20px;
	}
	.story-audio {
		@include font-sans-serif($size: 10px);
		.inner-container { /* This is because the audio widget as-is doesn't fit very well in the sidebar here */
			padding: 5px;
		}
		.audio-content {
			margin-top: 5px;
			margin-right: 5px;
		}
	}
}

article.segment {
	@include responsiveImageAsset($sixW);
	h1.story-title {
		@include font-headline();
	}
}

h5.episode-title {
	border-bottom: 1px solid $grayLighter;
	margin-bottom: 10px;
	padding: 0 0 5px 0;
	a {
		color:$grayDark;
		font-size:13px;
		font-weight:500;
	}
}

.other-segments ul {
	@include font-headline($weight: normal);
	font-size: 14px;
	a {
		color: $black;
	}
}