// z-index:
//  .slideview: auto
//    .slides: 5
//    .overlay-nav: 10

.slideview {    
	position: relative;
	
	h6 {
		display: inline-block;
		font-family:'Helvetica Neue', Helvetica, Arial, sans-serif
	}
	
	.pager-nav {
		.page-count {
			color: #ccc;
			vertical-align: 7px;
			height: 20px;
			display: inline-block;
			padding: 0 5px;
		}
	}

	.slides {
		position: relative;
		z-index: 5;
		clear: both;
		width: 100%;

		.slide {
			text-align: center;
			width: 100%;
			display: none;
			
			&.active {
				display: block;
			}
			
			.text {
				text-align: left;
				
			    .credit {
			        font-size: 10px;
			        text-align: right;
			        color: #777;
			    }

			    p {
			        color: #777;
			        @include font-sans-serif(normal, 11px, 14px);
			        margin: 0;
			        padding: 4px 4px;
			    }
			}
		}
	}
	
	.overlay-nav {
		position: absolute;
		z-index: 10;
		top: 41px; // for the top nav
		width: 100%;
	
		div.bar {
			position: absolute;
			display: block;
			background-color: transparent;
			background-repeat: no-repeat;
			@include opacity(1);
		
			&.prev {
				left: 0;
				width: 30%;
				background-position: 6% 48%;
		        background-image: url(image_path('overlay-prev-dark.png'));
			}
	
			&.next {
				right: 0;
				width: 70%;
				background-position: 98% 48%;
		        background-image: url(image_path('overlay-next-dark.png'));
			}
			
			&.disabled {
				@include opacity(0.1);
			}
			
			&.active {
				cursor: pointer;
		        @include opacity(0.5);
				&:hover {
		            @include opacity(0.7);
		        }
			}
		}
	}
}
