// z-index:
//  .slideview: auto
//    .slides: auto
//      .slide: 5
//      .overlay-nav: 10

.slideview {    
    position: relative;
    
    .slideshow-header {
        margin-bottom: 5px;
        height: 21px;

        h6 {
            display: inline;
            line-height: 21px;
            font-family:'Helvetica Neue', Helvetica, Arial, sans-serif
        }
    
        .pager-nav {
            padding: 0 5px;
        
            a { 
                float: left;
                margin-top: 0;
            }
        
            .page-count {
                float: left;
                @include font-sans-serif($size: 12px);
                color: #ccc;
                height: 20px;
                width: 60px;
                text-align: center;
            }
        }
    
        .thumbtray-toggler {
            float: right;
            cursor: pointer;
            margin: 0 10px;
            width: 88px;
            height: 22px;
            background: transparent url(image_path('thumbnails-btn.png')) no-repeat 0 0;
            vertical-align: middle;
        
            &:hover, &.active {
                background-position: 100% 0;
            }
        }
    }
    
    .thumbtray {
        position: relative;
        margin: 10px 0;
        text-align: center;
        display: none;
        @extend .well;
        padding: 5px 0 0 0 ;
        @include border-radius(0px);
        
        .nav {
            position: absolute;
            top: 0;
            width: 7%;
            max-width: 48px;
            min-width: 31px;
            height: 100%;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 48%;
            
            &.prev {
                left: 0;
                background-image: url(image_path('overlay-prev-dark-sm.png'));
                border-right: 1px solid $grayLight;
            }
            &.next {
                right: 0;
                background-image: url(image_path('overlay-next-dark-sm.png'));
                border-left: 1px solid $grayLight;
            }

            &.disabled {
                 @include opacity(0.1);
             }
         
             &.active {
                 cursor: pointer;
                 @include opacity(0.5);
                 &:hover {
                     @include opacity(0.7);
                 }
             }
        }
        
        .thumbnails {
            @include opacity(1);
            width: 86%;
            margin: 0 auto;
            .thumbnail {
                cursor: pointer;
                margin: 0 5px;
                display: none;
                width: 13%;
                
                &.current-set {
                    @include ie-inline-block();
                }
                
                &.active, &:hover {
                    border-color: $orange;
                }
            }
        }
    }

    .slides {
        position: relative;
        clear: both;
        width: 100%;

        .slide {
            position: relative;
            z-index: 5;
            text-align: center;
            width: 100%;
            display: none;
            
            &.active {
                display: block;
            }
            
            .text {
                text-align: left;
            }
        }
    
        .overlay-nav {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
            display: block;
            width: 100%;
            height: 100%;
    
            div.bar {
                height: 100%;
                position: absolute;
                z-index: 20;
                display: block;
                background-color: transparent;
                background-repeat: no-repeat;
                @include opacity(1);
        
                &.prev {
                    left: 0;
                    width: 30%;
                    background-position: 6% 48%;
                    background-image: url(image_path('overlay-prev-dark.png'));
                }
    
                &.next {
                    right: 0;
                    width: 70%;
                    background-position: 98% 48%;
                    background-image: url(image_path('overlay-next-dark.png'));
                }
            
                &.disabled {
                    @include opacity(0.1);
                }
            
                &.active {
                    cursor: pointer;
                    @include opacity(0.5);
                    &:hover {
                        @include opacity(0.7);
                    }
                }
            }
        }
    }
}
