@mixin video-effects {
	@include transition(box-shadow linear 0.2s);
	@include box-shadow(none);
	&:hover {
		@include transition(box-shadow linear 0.2s);
		@include box-shadow(0 0 12px $gray);
	}
}

.video-icon {
	background:url(image_path('icons/videos.png')) no-repeat left top;
	padding-left:22px !important;
}

#multimedia {
	&.dark-theme #masthead {
		.logo a.logo-img {
			background-image: url(image_path('logo-masthead-video.png'));
			width: 318px;
		}
	}
		
	.video {
		margin-top: 60px;
		.contentasset img { @include video-effects; }
	}
	a.browse-all-videos {
		background: #070707 url(image_path('browse-all-default.png')) no-repeat 0 50%;
		@include border-radius(3px);
		padding: 8px 7px 8px 29px;
		color: #777777;
		@include font-heading(normal, 12px);
		line-height: 12px;
		text-transform: uppercase;
		text-align: center;
		cursor: pointer;
		display: block;
		width: 160px;
		border: 1px solid $grayDark;
		&:hover, &.active {
			border-color:$grayLight;
			color:$grayLight;
			text-decoration: none;
		}
	}
	.videos-list {
		button.arrow {
			display: block;
			position: relative;
			top: 300px;		
			width: 48px;
			height: 49px;
			@include border-radius(7px);
			@include opacity(0.5);
			&.left {
				margin-left: 17px;
				background: url(image_path('overlay-prev.png')) no-repeat left top;
			}
			&.right {
				background: url(image_path('overlay-next.png')) no-repeat left top;
			}
		}
		
		.pages {
			text-align: center;
			@include font-sans-serif(bold, 12px);
			color: darken($gray, 15%);
			text-shadow: 0 -1px $black;
		}
		
		div.list {
			margin-top: 25px;
			min-height: 640px;
		}
		
		.right-col {
			//margin-left: 5px; // This is because the grid column's margins get messed up in this modal, so I have to fake it.
		}

	} /* .videos-overlay */
	
	div.list .pagination > * { font-size: 14px; }
} /* #multimedia */

div.list {
	@include font-headline;
	font-weight:500;
	text-align: center;
	color: #808080;
}

.video-thumb {
	a {
		color:$grayLight;
		display:block;
		&:hover {
			text-decoration: none;
		}
	}
	margin-top: 10px;
	margin-bottom: 10px;
	img { @include video-effects; }
}

.latest-videos {
	border-top:1px solid $nearBlack;
	padding-top: 10px;
	
	.list .row-fluid > hr { display: none; }
}

.video, .contentasset {
	 > div:first-child { 
		position: static !important; // So the overlay looks to .video
		width: 100% !important; // So the video expands to 100% rather than a fixed width.
	}
}

.BrightcoveVideoOverlay {
    @include opacity(0.5);
    background: url(http://media.scpr.org/assets/images/videoplayer-play.png) bottom left no-repeat;
    cursor: pointer;
    @include transition(opacity linear 0.2s);
	width: 100% !important; // So it doesn't use the fixed width
	position: absolute !important; // So we can tell it to sit at the bottom of the .video div
	top: 0 !important;
	left: 0 !important;
	height: 99% !important; // So it doesn't used the fixed height
	margin: 0 !important; // IE7 sets margin: auto by default?
	&:hover {
	    @include opacity(0.9);
	    @include transition(opacity linear 0.2s);
	}
}
