/* ********* WIDGET MIXINS ********** */
//sidebar styling mixin
@mixin sidebar-widget {
	border-top:1px solid $grayLighter;
	margin-bottom:$baseline;
}
@mixin story-sidebar-widget {
	@include font-sans-serif(normal, 12px);
}

// Right Rail Sidebar
#sidebar {
	h6 {
		font-size:16px;
		line-height:$baseline * 2;
	}
}

// Story Sidebar 
#story-sidebar {
	.widget {
		@include sidebar-widget();
	}
	hr {
		border-bottom:2px solid $grayLighter;
		margin-bottom:3px;
	}
}

// Story Audio Widget
.story-audio {
	background-color:$nearWhite;
	border-bottom:1px solid $grayLighter;
	border-top:1px solid $grayLighter;
	margin-bottom:$baseline;
	a.play-btn {
		background:transparent url(image_path('media-players/story-audio-play.png')) no-repeat top left;
		display:block;
		float:left;
		width:34px;
		height:34px;
		margin-right:10px;
		text-indent:-9999px;
		&:hover {
			background-position:0 -36px;
		}
	}
	.audio-content {
		float:left;
		h4 {
			background:transparent url(image_path('icons/listen-headphones.png')) no-repeat left top;
			@include font-headline(600);
			font-size:15px;
			margin-bottom:12px;
			padding-left:36px;
			span {
				font-size:12px;
				font-weight:normal;
				@include ie-inline-block();
				margin-left:6px;
			}
		}
	}
	.duration {
		@include ie-inline-block();
		padding-top:6px;
	}
	p {
		@include font-sans-serif(normal, 11px, 15px);
		color: $gray;
	}
	ul.audio-tools {
		float:right;
		@include font-sans-serif(normal, 11px, 18px);
		margin: 6px 0 0 0;
		li {
			@include nav-horiz();
			a {
				color:$gray;
				line-height:24px;
				&:hover {
					color:$grayDark;
				}
			}
		}
	}
}
// Audio Bar
.audio-bar {
	&.bar-inactive {
		bottom:$baseline * -3.5;
	}
	&.bar-active {
		bottom:0;
	}
	background-color:#fff;
	height:$baseline * 3;
	position:fixed;
	z-index:1000;
	$nav-shadow: 0 -2px 9px -2px rgba(102,102,102,1), 0 -2px 9px -2px #666;
	@include box-shadow($nav-shadow);
	.jp-gui {
		border-right:1px solid $grayLighter;
		width:400px;
		float:left;
	}
	.jp-title {
		border-right:1px solid $grayLighter;
		width:650px;
		float:left;
		p {
			@include font-sans-serif(bold, 16px);
			padding:20px;
			span {
				@include ie-inline-block();
				margin-right:$baseline / 2;
				color:$orangeDark;
				font-size:12px;
				text-transform:uppercase;
			}
			
			i {
			    font-style: inherit;
			}
		}
	}
	.jp-controls {
		float:left;
		height:$baseline * 3;
		width:100px;
		margin:0;
		padding:0 6px;
		li {
			@include nav-horiz();
			padding:0 6px;
		}
	}
	.jp-play, .jp-pause, .jp-rw, .jp-ff, .jp-volume {
		background-image:url(image_path('audio-controls.png'));
		background-repeat:no-repeat;
		display:block;
		text-indent:-9999px;
	}
	.jp-rw, .jp-ff {
		width:18px;
		height:11px;
		margin-top:25px;
		opacity:0.6;
	}
	.jp-rw:hover, .jp-ff:hover, .jp-volume:hover {
		opacity:1;
	}
	.jp-rw {
		background-position:-97px -17px;
	}
	.jp-ff {
		background-position:-125px -17px;
	}
	.jp-play, .jp-pause {
		margin-top:10px;
		width:42px;
		height:42px;
	}
	.jp-play {
		background-position:0 0;
	}
	.jp-play:hover {
		background-position:0 -45px;
	}
	.jp-pause {
		background-position: -48px 0;
		width:42px;
		height:42px;
	}
	.jp-pause:hover {
		background-position:-49px -45px;
	}
	.jp-volume {
		background-position: -147px -10px;
		margin-top:18px;
		opacity:0.6;
		width:25px;
		height:25px;
	}
	.jp-volume.active {
		background-position: -174px -10px;
	}
	.jp-bar {
		width:200px;
		float:left;
		margin-right:7px;
	}
	.jp-progress {
		float:left;
		width:285px;
		.jp-current-time, .jp-duration {
			@include font-sans-serif(normal, 11px);
			color:$nearBlack;
			width:35px;
			float:left;
			margin-top:20px;
		}
		.jp-seek-bar {
			background-color:#e0e0e0;
			height:8px;
			margin-top:26px;
			@include border-radius(6px);
			@include box-shadow(inset 0 1px 0 rgba(0,0,0,.35));
			.jp-play-bar {
				@include background-image(linear-gradient(rgba(0,0,0,.35), #03b9f2 5%, darken(#03b9f2, 8%)));
				background-color:#03b9f2;
				width:50%;
				height:8px;
				@include border-radius(6px);
			}
		}
	}
	.bar-close a {
		@include font-sans-serif(normal, 11px);
		color:$grayLight;
	}
}


// Sharing Tools
.sharing-tools {
	@include story-sidebar-widget();
	margin-bottom:$baseline;
	h5 {
		color:$orangeDark;
		display:block;
		float:left;
		@include font-sans-serif(bold, 11px, 20px);
		margin-right:14px;
		text-transform:uppercase;
	}
	ul li{
		@include nav-horiz();
		background:transparent no-repeat left top;
		font-size:11px;
		margin-right:8px;
		padding-left:20px;
		&.facebook {
			background-image:url(image_path('icons/share-facebook.png'));
			background-position:1px 2px;
		}
		&.twitter {
			background-image:url(image_path('icons/share-twitter.png'));
		}
		&.plus {
			color:$nearBlack;
			padding-left:0;
		}
		&.print {
			background-image:url(image_path('icons/share-print.png'));
			background-position:0 1px;
		}
		&.email {
			background-image:url(image_path('icons/share-email.png'));
			background-position:0 3px;
		}
		a {color:$nearBlack;}
	}
	&.side {
		h5 {
			float:right;
			margin-right:0;
		}
		ul li {
			background-position:right top;
			display:block;
			float:right;
			margin:4px 0;
			padding:0 26px;
			&.facebook {
				background-position:right 3px;
			}
			&.twitter {
				background-position:right 2px;
			}
			&.plus {
				display:none;
			}
			&.print {
				background-position:right 3px;
			}
			&.email {
				background-position:right 4px;
			}
		}
	}
	&.multimedia {
		a {
			color:$gray;
		}
		.print {
			display:none;
		}
	}
}

//Author Info
.author-info {
	margin-bottom:$baseline;
	h6 {
		@include font-sans-serif();
		font-weight:bold;
		line-height:1em;
		margin-bottom:10px;
		text-transform:none;
		a {
			color:$grayDark;
		}
	}
	img {
		float:left;
		margin-bottom:10px;
		margin-right:10px;
	}
	p {
		@include font-sans-serif(normal, 11px, 14px);
		&.brief-bio {
		}
	}
	ul {margin:0;}
	li {
		@include nav-horiz();
		@include font-sans-serif(normal, 11px);
		padding-left:0;
		padding-right:20px;
	}
}
// About Blog Widget
.blog-about {
	border-top:1px solid $grayLighter;
	h6 {
		color:$orangeDark;
	}
	p, ul {
		@include font-sans-serif(normal, 12px, 16px);
		margin-bottom:0;
	}
	.divider {
		background-position:200px top;
		margin-bottom:$baseline;
	}
}

// Blog/Program Host Widget
#sidebar .host, .host {
	border-top:1px solid $grayLighter;
	img {
		float:left;
		margin-right:18px;
	}
	h6.host-name {
		@include font-sans-serif();
		font-weight:bold;
		line-height:1em;
		margin-bottom:10px;
		text-transform:none;
		a {
			color:$grayDark;
		}
	}
	p, ul {
		@include font-sans-serif(normal, 12px, 16px);
	}
}

// Multimedia Article Sidebar
.story-media {
	padding-top:$baseline / 2;
	figure.video {
		a {
			display:block;
			position:relative;
			span.play {
				background:transparent url(image_path('icons/video-play-btn-sm.png')) no-repeat 0 0;
				width:44px;
				height:29px;
				opacity:0.7;
				position:absolute;
				bottom:12px;
				left:6px;
			}
			&:hover span.play {
				opacity:1;
			}
		}
		img {
			max-width:100%;
		}
	}
	h5 {
		color:$orangeDark;
		font-size:12px;
		line-height:$baseline / 2;
		padding:($baseline / 8) 0;
		text-transform:uppercase;	
	}
	h4 {
		line-height: 18px;
		font-weight: 500;
		font-size: 15px;
		a {
			color:$grayDark;
		}
	}
}
// Prev-Next Widget 
.next-prev {
	margin-top:$baseline * -1/2;
	ul {
		@include clearfix();
		margin:0 0 ($baseline / 2) 0;
		li {
			@include nav-horiz();
			padding:0;
			width:49%;
			&:first-child {
				border-right:1px solid $grayLighter;
			}
			&.next p {
				text-align:right;
			}
			&.next h6 {
				text-align:right;
			}
			h6 {
				color:$grayLight;
			}
			a {
				display:block;
				padding:10px;
			}
		}
	}
}

// Related Articles
.related-articles {
	h6 {
		color:$orangeDark;
		
	}
}
.bottom {
	// background-color:$nearWhite;
	border-top:2px solid $grayLight;
	border-bottom:1px solid $grayLighter;
	padding:($baseline / 2) 0;
}

// PIJ Query
.pij-query {
	h6 {
	background:transparent url(image_path('icons/pij-query.png')) no-repeat 0 4px;
	color:$grayDark;
	padding-left:30px;
	small {
		@include font-sans-serif(normal, 11px);
		text-transform:none;
	}
	}
}

// Recent Videos
.recent-videos {
	ul { 
		margin:0;
		li {
			@include clearfix();
			list-style-type:none;
			margin-bottom:$baseline;
			figcaption {
				p {
					margin-bottom:0;
					a {
						@include font-headline();
						color:$nearBlack;
						font-size:15px;
						font-weight:600;
					}
				}
				span {
					@include font-sans-serif(normal, 11px);
				}
			}
			figure {
				float:left;
				width:120px;
				height:67px;
				margin-right:$baseline / 2;
				overflow:hidden;	
				a {
					display:block;
					height:67px;
					position:relative;
					span.play {
						background:transparent url(image_path('icons/video-play-btn-sm-thumb.png')) no-repeat 0 0;
						width:22px;
						height:15px;
						opacity:0.7;
						position:absolute;
						bottom:6px;
						left:6px;
						text-indent:-9999px;
					}
					&:hover span.play {
						opacity:1;
					}
				}
			}
		}
	}
}

// In Case You Missed It Carousel
#missed-it {
	margin-left:30px;
	width:1111px;
	hr {
		border-color:$graydarkHR;
	}
	h3 {
		color:$orangeDark;
	}
}

// Content Carousel
.content_carousel {
	border-top:1px solid $grayLight;
	.section-head { 
		border-bottom:1px solid $grayLight;
		margin-bottom:$baseline / 1;
		position:relative;
		h3 {
	        line-height:$baseline * 1.5;
		}
		nav {
			position:absolute;
			top:4px;
			right:0;
			z-index:2;
			a {
				background:transparent url(image_path('icons/carousel-btns.png')) no-repeat;
				display:block;
				float:left;
				margin:0 8px;
				text-indent: -9999px;
				width:22px;
				height:22px;
				&.prev {
					background-position:0 0;
					&:hover {
						background-position:-62px 0;
					}
				}
				&.prev.disabled {
					background-position:0 0;
				}
				&.next {
					background-position:-32px 0;
					&:hover {
						background-position:-94px 0;
					}
				}
				&.next.disabled {
					background-position:-32px 0;
				}
				&.disabled {
					opacity:0.5;
				}
			}
		}	
	}
}
ul.carousel {
	margin:0;
}
.carousel li {
	display:block;
	float:left;
	min-height:200px;
	margin:0 11px;
	text-align:center;
	width:160px;
	a { 
		color:$grayAlt;
		display:block;
	}
	img {
		width:140px;
		height:140px;
	}
	p {
		@include font-headline($weight:lighter);
		color:$grayAlt;
		font-size:1.05em;
		line-height:16px;
		margin:0 auto;
		width:140px;
	}
}

.carousel-page {
	margin:0 auto 8px auto;
	text-align:center;
	width:57px;
	a {
		background:transparent url(image_path('icons/carousel-btns.png')) no-repeat -41px -27px;
		display: block;
		float: left;
		margin:0 3px;
		opacity:0.5;
		width: 13px;
		height: 13px;
		text-indent: -9999px;
		&:hover {
			opacity:1;
		}
		&.selected {
			background-position:-19px -27px;
			&:hover {
				opacity:0.5;
			}
		}
	}
}
//Comment Count Widget 
.comment-count {
	border-top:1px solid $grayLight;
	margin-bottom:$baseline;
	h4 {
		background-position: left top;
		background:url(image_path('icons/comment-count.png')) no-repeat;
		color:$grayDark;
		font-size:16px;
		font-weight:600;
		height:20px;
		line-height:1;
		margin-bottom:$baseline / 2;
		opacity:0.85;
		padding-left:28px;

	}
	a {
		@include font-sans-serif(normal, 11px);
		display:block;
		padding-left:28px;
	}
	&.left-side {
		text-align:right;
		.inner-container {
			padding-right:0;
		}
		h4 {
			@include ie-inline-block();
		}
		&.right-align {
			h4 {
				@include ie-inline-block();
				background-position: right 0;
				padding-left: 0;
				padding-right: 28px;
			}
		}
	}
	&.right-side {
		text-align:left;
		.inner-container {
			padding-left:0;
		}
	}
}

// Comments styling
.comments {
	border-top:1px solid $grayLight;
	padding-top:$baseline /2;
	h3.head {
		background:url(image_path('icons/comment-count.png')) no-repeat 0 4px;
		padding-left:28px;
	}
	#dsq-content {
		h3 {
			border-bottom:1px solid $grayLighter;
			color:$orangeDark;
			font-size:1em;
		}
	}
	.dsq-comment-text, .dsq-comment-header {
		color:$nearBlack;
	}
}


/* ********* SIDEBAR STYLES ********** */

//sidebar widget
#sidebar .widget {
	@include sidebar-widget();
}

// Ad units
.ad {
	padding-top:$baseline;
	text-align:center;
	&:first-child {
		padding-top:0;
	}
	p {
		margin-bottom:0;
		small {@include font-sans-serif(normal, 9px, 0px);}
		a {color:#999;}
	}
}
#sidebar .ad:first-child {
	border-top:0;
	padding-top:0;
}

// Sidebar article listings
.widget ol {
	margin:0;
	padding:0;
	li {
		font-size:13px;
		list-style-type:none;
		padding:($baseline / 4) 0;
	}
}

// Most Popular
.tabs {
	@include font-sans-serif();
}
.popular li {
	@include clearfix();
	display:block;
	height:$baseline * 2;
	list-style-image:url("more-headlines-li.png");
	margin-bottom:$baseline / 4;
	position:relative;
	a {
		display:block;
		padding:$baseline / 2;
		padding-top:0;
		position:relative;
		z-index:4;
		@include font-headline($weight:lighter);
		color:$grayAlt;
		font-size:1.05em;
		line-height: 18px;
	}
	.count {
		@include background-image(linear-gradient(#fff, $nearWhite));
		@include border-radius(4px);
		@include font-headline();
		border:1px solid $grayLighter;
		color:$grayDark;
		display:block;
		float:right;
		font-size:14px;
		font-weight:bold;
		position:relative;
		white-space:nowrap;
		width:42px;
		height:42px;
		z-index:3;
		span {
			position:absolute;
			left:0;
			top:4px;
			display:block;
			width:43px;
			text-align:center;
		}
	}
}

// Recent Posts
.recent-posts {
	li {
		list-style-image:url("more-headlines-li.png");
		margin-bottom:$baseline / 2;
		p {
			margin-bottom:0;
		}
		.date-posted {
			@include font-sans-serif(normal, 11px);
		}
		a {
			color:$grayAlt;
			@include font-headline(lighter);
			font-size:1.05em;
		}
	}
}

// Mobile App Promo
.promo-mobile {
	background:url(image_path('mobile/ad-bg.jpg')) no-repeat left bottom;
	border-bottom:1px solid $grayLighter;
	height:190px;
	position:relative;
	h4 {margin-top:6px;}
	a {
		position:absolute;
		top:40px;
		left:120px;
	}
}
#iphone-app-promo {
	background-color:#2E2E2E;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:80px;
	$promo-shadow: 0 2px 9px -2px rgba(102,102,102,1), 0 2px 9px -2px #666;
	@include box-shadow($promo-shadow);
}
#iphone-app-promo h3 {
	color:$grayLight;
	margin-top:10px;
	text-shadow:-1px -1px 0px $black;
}
#iphone-app-promo a {
	text-shadow:-1px -1px 0px $black;
}
#iphone-app-promo img {
	height:70px;
	margin-top:10px;
	padding-left:40px;
}
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-hide { display: none !important; }

// Facebook
.facebook_like_1 p {
	@include font-heading($size:1.1em);
	background:url("facebook/facebook_icon.gif") no-repeat scroll 1% 10% transparent;
	color:$facebookBlue;
	line-height:25px;
	padding:0 0 0 30px;
	a {
		color:$facebookBlue;
	}
}
.facebook_like_2 {
	padding:0 0 0 30px;
}
section.facebook .row .span2 {
	width:198px;
}
