/* ********* WIDGET MIXINS ********** */
//sidebar styling mixin
@mixin sidebar-widget {
	@include font-sans-serif();
	border-top:1px solid $grayLighter;
	margin-bottom:$baseline;
}
@mixin story-sidebar-widget {
	@include font-sans-serif(normal, 12px);
}

// Story Sidebar 
#story-sidebar {
	h5 {
		border-top:1px double $grayLighter;
		color:$orangeDark;
		font-size:12px;
		line-height:$baseline;
		padding:($baseline / 8) 0;
		text-transform:uppercase;	
	}
	hr {
		border-bottom:2px solid $grayLighter;
		margin-bottom:3px;
	}
}

// Story Audio Widget
.story-audio {
	background-color:$nearWhite;
	border-bottom:1px solid $grayLighter;
	border-top:1px solid $grayLighter;
	margin-bottom:$baseline;
	a.play-btn {
		background:transparent url(image_path('media-players/story-audio-play.png')) no-repeat top left;
		display:block;
		float:left;
		width:34px;
		height:34px;
		margin-right:10px;
		text-indent:-9999px;
	}
	.audio-content {
		float:left;
		h4 {
			background:transparent url(image_path('icons/listen-headphones.png')) no-repeat left top;
			@include font-headline(600, 15px, 34px);
			padding-left:36px;
			span {
				font-size:12px;
				font-weight:normal;
				@include ie-inline-block();
				margin-left:6px;
			}
		}
	}
	ul.audio-tools {
		float:right;
		@include font-sans-serif(normal, 11px, 18px);
		margin:0;
		li {
			@include nav-horiz();
			a {
				color:$gray;
				line-height:34px;
				&:hover {
					color:$grayDark;
				}
			}
		}
	}
}

// Sharing Tools
.sharing-tools {
	@include story-sidebar-widget();
	margin-bottom:$baseline;
	h5 {
		color:$gray;
		display:block;
		float:left;
		@include font-sans-serif(bold, 11px, 20px);
		margin-right:20px;
		text-transform:uppercase;
	}
	ul li{
		@include nav-horiz();
		background:transparent no-repeat left top;
		font-size:11px;
		margin-right:10px;
		padding-left:20px;
		&.facebook {
			background-image:url(image_path('icons/share-facebook.png'));
		}
		&.twitter {
			background-image:url(image_path('icons/share-twitter.png'));
		}
		&.print {
			background-image:url(image_path('icons/share-print.png'));
		}
		&.email {
			background-image:url(image_path('icons/share-email.png'));
		}
		a {color:$nearBlack;}
	}
}

//Author Info
.author-info {
	img {
		float:left;
		margin-bottom:10px;
		margin-right:10px;
	}
	p {
		@include font-sans-serif(normal, 11px, 14px)
	}
}

// Multimedia Article Sidebar
figure.video {
	img {
		max-width:100%;
	}
}

// Related Articles
.related-articles {
	h6 {
		color:$orangeDark;
		
	}
}

// Comments styling
.comments {
	border-top:1px solid $grayLighter;
}


/* ********* SIDEBAR STYLES ********** */

//sidebar widget
#sidebar .widget {
	@include sidebar-widget();
}

// Ad units
.ad {
	padding-top:$baseline;
	text-align:center;
	p {
		margin-bottom:0;
		small {@include font-sans-serif(normal, 9px, 0px);}
		a {color:#999;}
	}
}

// Sidebar article listings
.widget ol {
	border-top:1px solid $grayLighter;
	margin:0;
	padding:0;
	li {
		border-bottom:1px solid $nearWhite;
		font-size:13px;
		list-style-position:inside;
		padding:($baseline / 4) 0;
	}
}