<div class="cbase offlead">
	<h3 class="story-headline"><%= link_to content.headline, content.link_path %></h3>
	<h4><%= render_byline content %></h4>

	<p><%= strip_tags content.lede %></p>
</div>


<br class="clear: both"/>
<hr/>