<div class="cbase thumbnail">
  <h3 class="story-headline"><%= link_to content.short_headline, content.link_path %></h3>
  <span class="byline">
    <%= render_byline content %>
    | <%= format_date content.published_at, format: :full_date, time: true %>
  </span>

  <p><%= content.teaser.html_safe %></p>
</div>
