<div class="author-info">
	<h5>Author Info</h5>
    <img src="http://wackybastards.com/wp-content/uploads/2011/08/JulesWinnfield_cr-150x150.jpg" width="50" height="50" alt="Jules Winnfield" />
    <h6><a href="">Jules Winnfield</a></h6>
    <p>Jules covers the Inglewood beat, because he doesn't have any friends in the 818.</p>
</div>