<div class="author-info">
    <img src="http://placehold.it/50x50&text=photo" alt="" />
    <h6><a href="">Author Name</a></h6>
    <p>Steve Julian hosts Morning Edition on 89.3 FM KPCC, Southern California Public Radio.</p>
</div>