<div class="author-info">
    <img src="http://wackybastards.com/wp-content/uploads/2011/08/JulesWinnfield_cr-150x150.jpg" width="50" height="50" alt="Jules Winnfield" />
    <h6><a href="">Jules Winnfield</a></h6>
	<p><em>KPCC Reporter</em></p>
	<p><a href="#">Follow on Twitter</a></p>
    <p>Jules covers the Inglewood beat, because he doesn't have any friends in the 818.</p>
</div>