<div class="author-info">
    <figure class="clearfix">
		<img src="http://wackybastards.com/wp-content/uploads/2011/08/JulesWinnfield_cr-150x150.jpg" width="50" height="50" alt="Jules Winnfield" />
    	<figcaption>
			<h6><a href="">Jules Winnfield</a>, <em>KPCC Reporter</em></h6>
			<p class="brief-bio">Jules covers the Inglewood beat, because he doesn't have any friends in the 818.</p>
		</figcaption>
	</figure>
	<ul class="tease clearfix">
		<li class="follow"><a href="#">Follow on Twitter</a></li>
		<li class="more"><a href="#">More from this author</a></li>
</div>