<div class="blog-about">
	<h6>About the blog: <%= @blog.name %></h6>
	<div class="row">
		<div class="span2 divider">
			<ul>
		   <!-- <li class="twitter">
			        <a href="">Follow The DeBord Report on Twitter</a>
			    </li> 
			-->
			    <li class="rss">
					<%= link_to "Subscribe to RSS Feed", @blog.feed_url %>
			        <a href=""></a>
			    </li>
			</ul>
		</div>
		<div class="span2">
			<p><%= @blog.description %></p>
		</div>
	</div>
</div>
