<section class="events-forum">
	<h6>Events at the Forum</h6>
	<% for e in @events[0..1] %>
		<div class="events-content">
			<%= image_tag("events-forum-thumb-1.jpg", :alt => '') %>	
			<p class="event-title"><%= e.title %></p>
			<p class="event-date"><a href=""><%= e.starts_at.strftime("%B %d, %Y") %></a></p>
		</div>
	<% end %>
</section>