<% content_cache("events:upcoming_forum") do %>
	<% register_content "events/event:new" %>

	<% for e in @g_upcoming_events_forum.first(2) %>
		<div class="events-content">
			<a href="<%= e.link_path %>">
			<%= render_asset e, "thumb" %>
			<p class="event-title"><%= e.title %></p>
			<p class="event-date"><%= e.starts_at.strftime("%B %d, %Y") %></p>
			</a>
		</div>
	<% end %>
<% end %>