<section class="events-forum">
	<h6>Events at the Forum</h6>
	<div class="events-content">
		<%= image_tag("events-forum-thumb-1.jpg", :alt => '') %>	
		<p class="event-title">Venture Capital in Southern California: Catching Up and Going Beyond</p>
		<p class="event-date"><a href="">Wednesday, November 30</a></p>
	</div>
	<hr>
	<div class="events-content">
		<%= image_tag("events-forum-thumb-2.jpg", :alt => '') %>	
		<p class="event-title">Venture Capital in Southern California: Catching Up and Going Beyond</p>
		<p class="event-date"><a href="">Tuesday, December 6</a></p>
	</div>
</section>