<section class="facebook widget">
	<div class="row">
		<div class="span2 facebook_like_1">
			<p><a href="http://facebook.com/kpccfm" title="Like KPCC on Facebook">Like KPCC on Facebook</a></p>
		</div>
		<div class="facebook_like_2">
			<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fkpccfm&amp;send=false&amp;layout=button_count&amp;width=120&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px; float: right; margin-top:2px;" allowTransparency="true"></iframe>
		</div>
	</div>		
<!-- Facepile - only renders visible content when logged into Facebook. Still need to find a way to clear the gap when not logged in. -->
	<iframe src="//www.facebook.com/plugins/facepile.php?href=http%3A%2F%2Ffacebook.com%2Fkpccfm&amp;size=small&amp;width=320&amp;max_rows=1&amp;colorscheme=light&amp;app_id=176992002373327" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:320px; height: 85px;" allowTransparency="true"></iframe>	
</section>