<section class="facebook widget">
	<div class="row-fluid">
		<div class="span7">
			<p><a href="http://facebook.com/kpccfm" title="Like KPCC on Facebook">Like KPCC on Facebook</a></p>
		</div>
		<div class="span5 fb-like-container">
			<div class="fb-like" data-href="http://facebook.com/kpccfm" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
		</div>
	</div>		
	<div class="fb-facepile" data-href="http://facebook.com/kpccfm" data-max-rows="2" data-width="300"></div>
</section>