<div class="modal wide hide" id="homepageModal">
  <div class="modal-body">
		<!-- membership_lightbox -->
		<div id='div-gpt-ad-1339807171110-5'>
		<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-1339807171110-5'); });
		</script>
		</div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="http://scprcontribute.publicradio.org/" class="btn primary">Contribute Now</a>
  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
	window.setTimeout(  
	    function() {  
	        //check if DFP is loading in a line item
			if ( $("#div-gpt-ad-1339807171110-5 iframe").contents().find("img").length > 0 ) {
				// launch modal
				$('#homepageModal').modal();
			}
	    },  
	    1000
	);
});
</script>