<div class="modal wide hide" id="homepageModal">
  <div class="modal-body">
    <%= render "/shared/ads/dfp", ad_key: :membership_lightbox, widget: false %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="http://scprcontribute.publicradio.org/" class="btn primary">Contribute Now</a>
  </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function() {
  window.setTimeout(  
      function() {  
          //check if DFP is loading in a line item
      if ( $("#<%= DFP_ADS[:membership_lightbox][:id] %> iframe").contents().find("img").length > 0 ) {
        // launch modal
        $('#homepageModal').modal();
      }
      },  
      1000
  );
});
</script>
