<div class="host">
	<h6>Blog Host</h6>
	<figure class="clearfix">
		<img src="http://wackybastards.com/wp-content/uploads/2011/08/JulesWinnfield_cr-150x150.jpg" width="80" height="80" alt="Jules Winnfield" />
    	<figcaption>
			<h6 class="host-name"><a href="">Jules Winnfield</a></h6>
			<p class="brief-bio">Jules covers the Inglewood beat, because he doesn't have any friends in the 818.</p>
		</figcaption>
	</figure>
	<ul>
		<li><a href="">Follow Jules on Twitter</a></li>
		
	</ul>
</div>