<div class="host">
	<h6>Blog Host</h6>
	<figure class="clearfix">
		<%= image_tag("blogs/debord.jpg") %>
    	<figcaption>
			<h6 class="host-name"><a href="">Matt DeBord</a></h6>
			<p class="brief-bio">Matthew DeBord has written about economics, business, and financial issues for publications including the New York Times, the Washington Post, the Los Angeles Times, and Slate.</p>
		</figcaption>
	</figure>
	<ul>
		<li><a href="">Follow Matt on Twitter</a></li>
		
	</ul>
</div>