<hr/>
<section class="join_conversation">
	<h6>Join the Conversation</h6>
	<blockquote>
	“People have a right to peaceably assemble and petition the government for a redress of grievances. These rights do not expire after a month or two. OLA does not have to move.”
	</blockquote>
	<p class="quotee">from <a href="">Los Angeles officials offer Occupiers a deal to vacate City Hall grounds</a></p>
</section>
<hr/>