<% bucket = object.missed_it_bucket %>

<% if bucket.present? %>
  <nav class="recent-posts widget">
    <h6>In Case You Missed It</h6>
    <%= content_cache(bucket.obj_key) do %>
      <% register_content bucket %>
      <% bucket.content.includes(:content).limit(5).map(&:content).each do |content| %>
        <% register_content content %>
    
        <div class="row-fluid">
          <div class="span6">
            <%= render_asset content, 'thumbnail', true %>
          </div>
          <div class="span18">
            <%= link_to content.short_headline, content.link_path %><br />
            <%= smart_date_js content.published_at %>
          </div>
        </div> <!-- row-fluid -->
      
      <% end %>
    <% end %>
  </nav>
<% end %>
