<% if bucket.present? %>
<%= content_cache(bucket) do %>
  <% register_content bucket %>

  <nav class="recent-posts widget">
    <h6>In Case You Missed It</h6>

  <% bucket.articles(5).each do |article| %>
    <% register_content article.original_object %>
    <div class="row-fluid">
      <div class="span6">
        <%= render_asset article, 'thumbnail', true %>
      </div>
      <div class="span18">
        <%= link_to article.short_title, article.public_url %><br />
        <%= smart_date_js article.public_datetime %>
      </div>
    </div> <!-- row-fluid -->
  <% end %> <%# articles %>

  </nav>

<% end %> <%# content cache %>
<% end %> <%# bucket? %>
