<ol>
	<% for c in content %>
	<li>
		<%= link_to c[1].headline, c[1].link_path, :onclick => "_gaq.push(['_trackEvent', 'Popular Box', 'Most Viewed', '<%= c[1].obj_key %> :: <%= c[1].title %>')" %>
		<div class="count"><span><%= c[0] %></span></div>
	</li>
	<% end %>
</ol>