<div id="most-popular" class="widget">   
	<h3>Most Popular</h3>     
    <ol>
    	<li><a href="http://www.scpr.org/news/2011/10/12/29375/scott-dekraai-seal-beach-shooting-eight-killed/" onclick="_gaq.push(['_trackEvent', 'Popular Box', 'Most Viewed', '8 dead, 1 critical in worst shooting in OC history'])">8 dead, 1 critical in worst shooting in OC history</a></li>
        <li><a href="http://www.scpr.org/news/2011/10/13/29383/scott-dekraai-seal-beach-shooter/" onclick="_gaq.push(['_trackEvent', 'Popular Box', 'Most Viewed', 'Court records: Scott Dekraai had PTSD, accused of abuse'])">Court records: Scott Dekraai had PTSD, accused of abuse</a></li>
        <li><a href="http://www.scpr.org/programs/airtalk/2011/10/12/20997/the-poem-that-changed-the-world/" onclick="_gaq.push(['_trackEvent', 'Popular Box', 'Most Viewed', 'The poem that changed the world'])">The poem that changed the world</a></li>
        <li><a href="http://www.scpr.org/news/2011/10/13/29383/troubled-background-seal-beach-salon-shooter-dekra/" onclick="_gaq.push(['_trackEvent', 'Popular Box', 'Most Viewed', 'Troubled portrait of Seal Beach shooting suspect Dekraai emerges'])">Troubled portrait of Seal Beach shooting suspect Dekraai emerges</a></li>
        <li><a href="http://www.scpr.org/blogs/environment/2011/10/11/3602/what-you-can-and-cant-recycle-los-angeles/" onclick="_gaq.push(['_trackEvent', 'Popular Box', 'Most Viewed', 'What you can and can’t recycle in Los Angeles'])">What you can and can’t recycle in Los Angeles</a></li>
	</ol>  
</div>