<div class="widget newsletter">
    <h6>Get KPCC in Your Inbox</h6>
    <p>Start your day off right with <em>Daily Connect</em>, KPCC's new morning newsletter.</p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
		<form action="http://scpr.us2.list-manage2.com/subscribe/post?u=5e1e4451f92ffc0fa746da7fa&amp;id=4a625d116f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
		    <input type="text" value="" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL">
			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
			<div id="mce-responses" style="margin:10px 0 0 0;">
	   			<div class="response" id="mce-error-response" style="display:none"></div>
	   			<div class="response" id="mce-success-response" style="display:none"></div>
	   		</div>
		</form>
    </div>
    <!--End mc_embed_signup-->
    <p><a href="/newsletters/" class="action-link">More Newsletters &raquo;</a></p>
</div>

<% if false # temporarily hiding the program-specific newsletter %>
<!-- new newsletter form -->
<section class="newsletter-subscribe">
	<form action="http://scpr.us2.list-manage2.com/subscribe/post?u=5e1e4451f92ffc0fa746da7fa&amp;id=4a625d116f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
	    <input type="text" value="" placeholder="Sign up for our newsletter" name="EMAIL" class="required email" id="mce-EMAIL">
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
		<div id="mce-responses" style="margin:10px 0 0 0;">
   			<div class="response" id="mce-error-response" style="display:none"></div>
   			<div class="response" id="mce-success-response" style="display:none"></div>
   		</div>
	</form>
</section>
<% end %>