<div class="widget newsletter">
    <h6>Get KPCC in Your Inbox</h6>

	<!-- Daily Connect subscribe form only. Remove once Breaking News product is ready for release -->
		<p>Start your day off right with <em>Daily Connect</em>, KPCC's new morning newsletter.</p>

		    <!-- Begin MailChimp Signup Form -->
		    <div id="mc_embed_signup">
				<form action="http://scpr.us2.list-manage2.com/subscribe/post?u=5e1e4451f92ffc0fa746da7fa&amp;id=4a625d116f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
				    <input type="text" value="" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL">
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
					<div id="mce-responses" style="margin:10px 0 0 0;">
			   			<div class="response" id="mce-error-response" style="display:none"></div>
			   			<div class="response" id="mce-success-response" style="display:none"></div>
			   		</div>
				</form>
		    </div>
		    <!--End mc_embed_signup-->
		    <p><a href="/newsletters/" class="action-link">More Newsletters &raquo;</a></p>
	<!-- END Daily Connect subscribe -->
    
	<!-- UNCOMMENT THIS BLOCK WHEN BREAKING NEWS PRODUCT IS READY TO LAUNCH
	
	<ul class="nav nav-tabs">
		    <li class="active"><a href="#newsletter_tab1" data-toggle="tab">Breaking News</a></li>
			<li><span class="or">or</span></li>
		    <li><a href="#newsletter_tab2" data-toggle="tab">Daily Connect</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="newsletter_tab1">
				<form action="http://www.elabs7.com/functions/mailing_list.html" method="post" name="UPTml499" target="modal-iframe" onsubmit="return (!(UPTvalidateform(document.UPTml499)));">
					<input name="submitaction" value="3" type="hidden">
					<input name="mlid" value="499" type="hidden">
					<input name="siteid" value="20130" type="hidden">
					<input name="tagtype" value="q2" type="hidden">
					<input name="demographics" value="65996" type="hidden">
					<input name="redirection" id="redirection" value="http://www.scpr.org/newsletters/confirmation/" type="hidden">
					<input name="append" value="on" type="hidden">
					<input name="activity" value="submit" type="hidden">	
					
						<p>Breaking news alerts sent to your inbox</p>
						<input name="email" value="" type="email" class="required email" placeholder="Email address">
						<input type="submit" value="Subscribe" name="subscribe" class="btn">
						
					<div style="display:none;">
					<input style="display: none;" name="val_65996" checked="checked" type="checkbox">
					</div>
				</form>
			</div>
			<div class="tab-pane" id="newsletter_tab2">
			    <div id="mc_embed_signup">
					<form action="http://scpr.us2.list-manage2.com/subscribe/post?u=5e1e4451f92ffc0fa746da7fa&amp;id=4a625d116f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
					    <p>Morning newsletter to start the day informed</p>
						<input type="text" value="" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL">
						<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
						<div id="mce-responses" style="margin:10px 0 0 0;">
				   			<div class="response" id="mce-error-response" style="display:none"></div>
				   			<div class="response" id="mce-success-response" style="display:none"></div>
				   		</div>
					</form>
			    </div>
			</div>
		</div>
	    <p><a href="/newsletters/" class="action-link">More Newsletters &raquo;</a></p>
	
	-->
	
</div>
