<nav class="next-prev">
	<h4>More From DeBord Report</h4>
	<ul>
	    <li>
	        <p><a href="#">Memo to Netflix: Just tell customers what you want to do</a></p>
	    </li>
	    <li>
	        <p><a href="#">NBA game cancellations could show strength of LA's diversified entertainment economy</a></p>
	    </li>
	</ul>
</nav>