<div class="ad widget" id="oas_<%= ad_id %>">
  <script type="text/javascript">
    <!--
    OAS_AD('<%= ad_id %>');
    //-->
  </script>
  <p><small><a href="/support/underwriting/">Become a KPCC Sponsor</a></small></p>
</div>
