<div class="pij-query">
	<h6>Become a KPCC Source <small><a href="">(What's this?)</a></small></h6>
	<ul>
		<!-- We'll want to iterate through a story object and display any related links classified with a link type of 'PIJ Query' -->
		<li><a href="#">What changes for you when prisons hold fewer inmates?</a></li>
	</ul>
</div>