<section class="pledge-pushdown relative hidden">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span24 relative">
          <!-- membership_leaderboard -->
          <div id="div-gpt-ad-1351635520823-0" class="ad dfp">
          <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-1351635520823-0'); });
          </script>
          </div>
        <div class="call-to-action">
          <span class="pushdown-close">Close</span>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="http://media.scpr.org/assets/scripts/pledge/pledge_pushdown.js"></script>
