<div class="ad widget">
	<!-- sidebar_house_promo -->
	<div class="dfp" id='div-gpt-ad-1338837727510-0'>
	<script type='text/javascript'>
	googletag.cmd.push(function() { googletag.display('div-gpt-ad-1338837727510-0'); });
	</script>
	</div>
</div>
