<nav class="recent-posts widget">
	<h6>Recent Posts</h6>
	<ul>
	    <li>
	        <p><a href="#">The Cal State faculty strikes highlights every single problem with higher education</a></p>
			<span class="date-posted">11:38 a.m.</span>
	    </li>
		<li>
	        <p><a href="#">Can Google Reader be saved?</a></p>
			<span class="date-posted">Yesterday</span>
	    </li>
	    <li>
	        <p><a href="#">Paul Krugman gets Solyndra slightly wrong</a></p>
			<span class="date-posted">Yesterday</span>
	    </li>
	    <li>
	        <p><a href="#">Inequality in America: The 'Great Divergence' explained</a></p>
			<span class="date-posted">Nov. 7, 2011</span>
	    </li>
	    <li>
	        <p><a href="#">Eurozone Crisis: China doesn't want to be Germany</a></p>
			<span class="date-posted">Nov. 7, 2011</span>
	    </li>
	</ul>
</nav>