<% content_cache("videos:recent_videos") do %>
	<% register_content "content/video:new" %>
	
	<div class="recent-videos widget">
		<h6>Recent Videos</h6>
		<ul>
			<% @latest_videos.each do |video| %>
				<% register_content video %>
				<li>
					<div class="row-fluid">
						<div class="span8">
							<%= render_asset video, "three_video" %>
						</div>
				
						<div class="span16">
							<p><%= link_to video.short_headline, video.link_path, :data => {'ga-category' => 'Sidebar', 'ga-action' => 'Watch Video', 'ga-label' => 'Recent Videos'} %></p>
							<span><%= format_date video.published_at %></span>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
	</div> <!-- recent-videos -->
<% end %>
