<nav class="recent-videos widget">
	<h6>Recent Videos</h6>
	<ul>
	    <li>
			<figure>
	        	<a href="#">
					<img src="http://brightcove.vo.llnwd.net/d18/unsecured/media/665003388001/665003388001_1255353236001_CambodiaThumb.jpg" alt="" />
					<span class="play">Play</span>
				</a>
			</figure>
			<figcaption>
	        	<p><a href="#">Child of the Killing Fields</a></p>
				<span>Nov. 7, 2011</span>
			</figcaption>
	    </li>
		<li>
			<figure>
	        	<a href="#">
					<img src="http://brightcove.vo.llnwd.net/d18/unsecured/media/665003388001/665003388001_1263398962001_th-1263384850001.jpg" alt="" />
					<span class="play">Play</span>
				</a>
			</figure>
			<figcaption>
	        	<p><a href="#">Scene Outside Courthouse in Jackson Trial</a></p>
				<span>Nov. 7, 2011</span>
			</figcaption>
	    </li>
	    <li>
			<figure>
	        	<a href="#">
					<img src="http://brightcove.vo.llnwd.net/d18/unsecured/media/665003388001/665003388001_1257491641001_th-1257490906001.jpg" alt="" />
					<span class="play">Play</span>
				</a>
			</figure>
			<figcaption>
	        	<p><a href="#">Echo Park Lake... Empty</a></p>
				<span>Nov. 7, 2011</span>
			</figcaption>
	    </li>
	    <li>
			<figure>
	        	<a href="#">
					<img src="http://brightcove.vo.llnwd.net/d18/unsecured/media/665003388001/665003388001_1255532802001_th-1255517920001.jpg" alt="" />
					<span class="play">Play</span>
				</a>
			</figure>
			<figcaption>
	        	<p><a href="#">Celebrating Day of the Dead</a></p>
				<span>Nov. 7, 2011</span>
			</figcaption>
	    </li>
	    <li>
			<figure>
	        	<a href="#">
					<img src="http://brightcove.vo.llnwd.net/d18/unsecured/media/665003388001/665003388001_1251504608001_th-1251501611001.jpg" alt="" />
					<span class="play">Play</span>
				</a>
			</figure>
			<figcaption>
	        	<p><a href="#">The Fighting Blind</a></p>
				<span>Nov. 7, 2011</span>
			</figcaption>
	    </li>
	</ul>
</nav>