<aside class="related-articles">
	<h6>More Related to This Story</h6>
	<ul>
	    <li>
	        <a href="">How are journalists covering the Occupy protests?</a>
	    </li>
	    <li>
	        <a href="">This weekend in Occupy protests</a>
	    </li>
	</ul>
</aside>