<div class="sharing-tools">
	<ul>
	    <li class="comment"><a href="">Comment <span class="count">(3)</span></a></li>
	    <li class="fb"><a href="">Facebook <span class="count">(15)</span></a></li>
	    <li class="twitter"><a href="">Twitter <span class="count">(5)</span></a></li>
	    <li class="print"><a href="">Print</a></li>
	    <li class="email"><a href="">Email</a></li>
	</ul>
</div>