<div class="story-media widget">
	<h5>Multimedia</h5>
	<figure class="video">
		<img src="http://brightcove.vo.llnwd.net/d18/unsecured/media/665003388001/665003388001_1217629210001_salonscreen.jpg?pubId=665003388001" alt="" />
		<figcaption>
			<h4>A Town's Peace Shattered</h4>
		</figcaption>
	</figure>
</div>