<div class="related-content span3">
	<h6>From the Comments</h6>
	<blockquote>“My father had me at 56 and as an older father he was ready for fatherhood, he provided me with the wisdom his life experiences provided him.”</blockquote>
	<div class="comments-quotee">-- Addie Lasch</div>	
</div>