<% if byline.user.headshot %>

<div class="author-info">
    <figure class="clearfix">
		<%= byline.user.headshot.tag(:thumb) %>
    	<figcaption>
			<h6><%= link_to byline.user.name, bio_path(byline.user.slugged_name) %>, <em><%= byline.user.title %></em></h6>
			<p class="brief-bio"><%= byline.user.short_bio %></p>
		</figcaption>
	</figure>
	<ul class="tease clearfix">
		<% if byline.user.twitter? %><li class="follow"><a href="#">Follow on Twitter</a></li><% end %>
		<li class="more"><a href="#">More from this author</a></li>
</div>

<% end %>