<fieldset class="form-block">
	<legend><%= title %></legend>
	
	<div class="hidden notification">
		<p class="muted"><i>Click header to show fields</i></p>
	</div>
	
	<div class="fields">
		<%= body %>
	</div>
</fieldset>
