<table class="table table-striped index-list list-<%=model.route_key%>">
  <%= any_to_list? records, message: "No #{model.to_title.pluralize} were found." do %>
    <%= table %>
  <% end %>
</table>

<%= render "/admin/shared/pagination", records: records %>
