<div id="preview-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Preview</h3>
  </div>
  
  <div class="modal-body">
  </div>  
</div>
