<h2 id="work_status" style="text-align: center; height: 60px;">
  Working...
</h2>

<div id="spinner"></div>

<br /><hr />

<h5 style="text-align: center;">
  (You can leave this page if you want, or be redirected automatically.)
</h5>

<% content_for :footerjs do %>
  <script>
    job_listener = new scpr.Newsroom.JobListener("<%= j admin_user.to_json.html_safe %>")
<% end %>