<div class="asset-block video-three" style="width:<%= assets[0].asset.three.width %>px">
  <div class="contentasset">
    <a href="<%=content.link_path%>">
      <%= assets[0].asset.three.tag %>
      <div class="video-play">play</div>
    </a>
  </div>
</div>
