<div class="asset-block right" style="width:<%=assets[0].asset.small.width%>px;">
  <div class="contentasset">
    <%= assets[0].asset.small.tag %>
  </div>
  
  <h4><%= assets[0].asset.owner %></h4>

  <% if assets[0].caption %>
    <p><%= assets[0].caption %></p>
  <% end %>
</div>
