#asset_bucket {
  ul, li { @extend .unstyled; }

  li { 
    @extend .span4;
    margin: 0 5px 5px 0;
    float: left;
    height: 165px;
    overflow: hidden;
  }
    
  .thumbnail {
    border: 1px solid $grayLighter;
    padding: 5px;
    @include clearfix;

    img {
      float: left;
      max-width: 150px;
      margin-right: 5px;
    }
    
    .asset-info {
      line-height: 12px; 
      h6 { 
        display: inline; 
        line-height: 11px; 
      }
    }
  }
}
