<%= render '/shared/header/document_header' %>

<body class="minimal">
  <header>
    <div class="container-fluid">
      <h3 id="site-title"><a href="/">KPCC 89.3</a></h3>
      <a class="home-link" href="/">Back to KPCC Home</a>
    </div>
  </header>

  <div class="content-container">
    <div class="container-fluid">
      <div class="box">
        <%= yield %>
      </div>
    
      <div class="floating-shadow">&nbsp;</div>
      </div> <!-- container-fluid -->
  </div>

  <footer>
    <div class="container-fluid">
      <ul>
        <li><a href="/terms/">Terms &amp; Conditions</a></li>
        <li><a href="/privacy/">Privacy</a></li>
        <li><a href="/web_site_feedback">Website Feedback</a></li>
        <li>Copyright 2001 &copy; Southern California Public Radio</li>
      </ul>
    </div>
  </footer>

<%= render "shared/footer/footer_js" %>
</body>
</html>
