<% content_for :content do %>
	<div class="story-page-headline"><%= yield :headline %></div>
	<%= content_for?(:news_content) ? yield(:news_content) : yield %>
	<%= yield :postcontent %>
<% end %>

<%= render :template => "layouts/application" %>