<% content_for :content do %>
	<div class="row">
		<div class="span8">
			<%= yield :headline %>
		</div>
	</div>
	<div class="row">
		<%= content_for?(:news_content) ? yield(:news_content) : yield %>
	</div>
	<%= yield :postcontent %>
<% end %>

<%= render :template => "layouts/application" %>