<% @BODY_CLASS = "dark-theme" %>
<% @BODY_ID = "multimedia" %>

<% content_for :masthead do %> <%# Not a masthead but it fits in the layout nicely in that spot %>
	<div class="span2">
		<button id="browse-all-videos" class="browse-all-videos">Browse All Videos</button>
		<div class="videos-overlay">
			<button class="arrow left" id="next-page" data-page="">&nbsp;</button>
			<ul class="videos">
				<%# This is populated via ajax from videos.js.coffee %>
			</ul>
			<button class="arrow right" id="next-page" data-page="">&nbsp;</button>
			<div class="pagination">&nbsp;</div>
		</div> <!-- .videos-overlay -->
	</div> <!-- .span2 -->
<% end %>

<% content_for :content do %>
	<%= yield %>
	<%= comments_for @video, cssClass: "multimedia muted" %>
	<% if any_to_list? @latest_videos %>
		<div class="multimedia latest-videos muted">
			<h3 class="head">Latest Videos</h3>
			<ul class="videos">
				<%= render partial: 'video_thumb', collection: @latest_videos, locals: { size: "small" } %>
			</ul>
		</div>
	<% end %>
<% end %>

<% content_for :sidebar do %>
	&nbsp; <%# This is a hack sort of because a blank string or nil is registered as false in content_for?. %>
<% end %>

<% content_for :footerjss do %>
	var videoPage = new scpr.VideoPage();
<% end %>

<%= render :template => "layouts/application" %>